{% extends "utils.html" %}
{% load i18n static %}
{% block datatables_css %}
    {% include "elements/structure/datatables-css.html" %}
{% endblock datatables_css %}
{% block datatables_js %}
    {% include "elements/structure/datatables-js.html" %}
{% endblock datatables_js %}
{% block title %}
    {% trans "Payments" %}
{% endblock title %}
{% block content %}
    <h3>{% trans "Total:" %} {{ total }}</h3>
    <table id="lm_payments" class="go_datatable mob">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Association</th>
                <th>Start</th>
                <th>End</th>
                <th>Features</th>
                <th>Plan</th>
                <th>Registration</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        {% for el in list %}
            <tr>
                <th>{{ el }}</th>
                <td>{{ el.event.association }}</td>
                <td>{{ el.start | date:"Y/m/d" }}</td>
                <td>
                    {% if el.end %}{{ el.end | date:"Y/m/d" }}{% endif %}
                </td>
                <td>{{ el.features }}</td>
                <td>{{ el.get_plan_display }}</td>
                <td>{{ el.active_registrations }}</td>
                <td>{{ el.total }}</td>
                <td>
                    <a href='{% url "lm_payments_confirm" el.uuid %}' class="confirm-link">Confirm</a>
                </td>
            {% endfor %}
        </tr>
    </table>
    <table>
        {% for year, total in totals.items %}
            <tr>
                <th>{{ year }}</th>
                <td>{{ total }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
{% block js %}
    <script>
 window.addEventListener('DOMContentLoaded', function() {
    $(document).ready(function() {
        $('.confirm-link').on('click', function(e) {
            const confirmAction = window.lmTesting || confirm('Sei sicuro di voler procedere?');
            if (!confirmAction) {
                e.preventDefault();
            }
        });
    });
});
    </script>
{% endblock js %}
