{% extends "utils.html" %}
{% load i18n static show_tags %}
{% block datatables_css %}
    {% include "elements/structure/datatables-css.html" %}
{% endblock datatables_css %}
{% block datatables_js %}
    {% include "elements/structure/datatables-js.html" %}
{% endblock datatables_js %}
{% block title %}
    {% trans "Profiling" %}
{% endblock title %}
{% block content %}
    <p>General: {{ tot | format_decimal }}</p>
    <table id="lm_profile" class="go_datatable mob">
        <thead>
            <tr>
                <th></th>
                <th>Domain</th>
                <th>View</th>
                <th>Avg Duration</th>
                <th>Total Calls</th>
                <th>Total Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for el in res %}
                <tr>
                    <td></td>
                    <td>{{ el.domain }}</td>
                    <td>{{ el.view_func_name }}</td>
                    <td>{{ el.avg_duration | floatformat:2 }}</td>
                    <td>{{ el.total_calls }}</td>
                    <td>{{ el.total_duration | floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
