{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    Badges
{% endblock title %}
{% block info %}
    {% trans "View badges you have earned" %}
{% endblock info %}
{% block content %}
    {% include "larpmanager/member/profile_nav.html" %}
    <hr />
    <h2>Gonna catch 'em all!</h2>
    <p>
        <a href="{% url 'leaderboard' %}">{% trans "Show the leaderboard" %}</a>
    </p>
    <p>
        {% trans "You think you should have an achievement?" %} <a href="{% url 'help' %}">{% trans "Tell us here!" %}</a>
    </p>
    <hr />
    {% include "elements/badges.html" %}
    <hr />
{% endblock content %}
{% block js %}
    <script>
window.addEventListener('DOMContentLoaded', function() {
$(document).ready(function() {
  resize_to_fit();
});
});

function resize_to_fit() {
    $(".icon-name p").each(function( index ) {
        var that = $(this),
            textLength = that.html().length
        ;

        // console.log(textLength);

        if (textLength > 60) {
            that.css('font-size', '60%');
        } else if(textLength > 45) {
            that.css('font-size', '70%');
        } else if(textLength > 30) {
            that.css('font-size', '80%');
        } else if(textLength > 15) {
            that.css('font-size', '90%');
        }
    });

}
    </script>
{% endblock js %}
