{% extends "base.html" %}
{% load i18n static %}
{% block maintitle %}
    {{ association.name }}
    {% if association.id > 0 %}- {{ association.platform }}{% endif %}
{% endblock maintitle %}
{% block robots %}
    {% include "elements/robots_show.html" %}
{% endblock robots %}
{% block meta %}
    <meta property="og:title"
          content="{{ association.name }} - {{ association.platform }}" />
    <meta name="description"
          content="Manage your registration for {{ association.name }} events with LarpManager!">
{% endblock meta %}
{% block title %}
    {{ association.name }}
{% endblock title %}
{% block info %}
    {% trans "Browse upcoming events" %}
{% endblock info %}
{% block content %}
    <div class="calendar">
        <div class="clearer"></div>
        {% if custom_text %}
            {{ custom_text | safe }}
            <hr />
        {% endif %}
        <div class="only_v22">
            {% if all_runs %}
                {% include "elements/run_list.html" with list=all_runs %}
            {% endif %}
        </div>
        <div class="no_v22">
            {% if open %}
                {% if future %}
                    <h2>{% trans "upcoming events" %}</h2>
                {% endif %}
                {% include "elements/run_list.html" with list=open %}
            {% endif %}
            {% if future %}
                <h2>{% trans "Next events" %}</h2>
                {% include "elements/run_list.html" with list=future %}
            {% endif %}
        </div>
        {% if 'past_events' in association.features %}
            <div class="nav no_v22">
                <a href="{% url 'calendar_past' %}">{% trans "Past events" %}</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
