{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {% trans "Register to" %} {{ name }}
{% endblock title %}
{% block content %}
    <div class="calendar">
        <table class="mob">
            {% for run in list %}
                <tr>
                    <td>
                        <h3>
                            <a href="{% url 'gallery' run.get_slug %}">{{ run.search }}</a>
                        </h3>
                    </td>
                    <td>
                        <i>{{ run.pretty_dates }} </i>
                    </td>
                    <td>{% include "elements/reg_status.html" with run_status=run.status registration=run.status.registration %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
