{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    Leaderboard
{% endblock title %}
{% block content %}
    <h2>{% trans "May the best win!" %}</h2>
    <p>
        {% trans "You think you should have an achievement?" %} <a href="{% url 'help' %}">{% trans "Tell us here!" %}</a>
    </p>
    <hr />
    <table class="my_pagination">
        <tr>
            <td>
                {% if number != 1 %}
                    <a href="{% url 'leaderboard' 1 %}"><i class="fas fa-angle-double-left"></i> {% trans "First page" %}</a>
                {% endif %}
                {% if previous_page_number > 0 %}
                    <a href="{% url 'leaderboard' previous_page_number %}">{% trans "Previous page" %}</a>
                {% endif %}
            </td>
            <td>{% blocktrans %}Page {{ number }} of {{ num_pages }}{% endblocktrans %}</td>
            <td>
                {% if number != num_pages %}
                    <a href="{% url 'leaderboard' next_page_number %}">{% trans "Next page" %}</a>
                    <a href="{% url 'leaderboard' num_pages %}">{% trans "Last page" %} <i class="fas fa-angle-double-right"></i></a>
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="gallery">
        {% for mb in pages %}
            <div class="el">
                <div class="icon">
                    <a href="{% url 'public' mb.uuid %}">
                        {% if mb.profile %}
                            <img src="{{ mb.profile }}" alt="character profile" />
                        {% else %}
                            <img src="{% static 'larpmanager/assets/blank-avatar.svg' %}"
                                 alt="character profile" />
                        {% endif %}
                        <div class="icon-name">
                            <p>{{ mb.name }} - {{ mb.count }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
