{% extends "base.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Pre-Register" %}
{% endblock title %}
{% block content %}
    <div class="detail">
        <p>{% trans "Registrations for this event are not open yet, but you can pre-register." %}</p>
        <p>
            {% trans "Pre-registration is free. It does not guarantee a spot, but gives you priority when registration opens." %}
        </p>
    </div>
    {% if event %}
        <form action="{{ request.path }}"  method="post">
            {% csrf_token %}
            <h2>{% trans "New pre-registration" %}</h2>
            <table class="mob ">
                {{ form.as_table }}
            </table>
            <input id="submit" type="submit" value="{% trans "Confirm" %}">
        </form>
        <hr />
    {% endif %}
    <h2>{% trans "Pre-registration" %}</h2>
    <table class="mob">
        <tr>
            <th>{% trans "Event" %}</th>
            {% if preferences %}
                <th>{% trans "Preference order" %}</th>
            {% endif %}
            <th>{% trans "Do you want to tell us something?" %}</th>
            <th></th>
        </tr>
        {% for al in already %}
            <tr>
                <td>{{ al.event }}</td>
                {% if preferences %}<td>{{ al.pref }}</td>{% endif %}
                <td>{{ al.info }}</td>
                <td>
                    <a href="{% url 'pre_register_remove' al.event.slug %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if not event %}
        <form action="{{ request.path }}"  method="post">
            {% csrf_token %}
            <h2>{% trans "New pre-registration" %}</h2>
            <table class="mob ">
                {{ form.as_table }}
            </table>
            <input id="submit" type="submit" value="{% trans "Confirm" %}">
        </form>
        <hr />
    {% endif %}
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(function(){

$('select[name$="_pref"]').change(function() {

    var $current = $(this);
    $(':input[type="submit"]').prop('disabled', false);

    $('select[name$="_pref"]').each(function() {
        if ($(this).val() == $current.val() && $(this).attr('id') != $current.attr('id')) {
           $(':input[type="submit"]').prop('disabled', true);
        }

    });
  });

{% if sel %}
    var sel = '{{ sel }}';
    var k = '#id_new_event option[value="' + sel + '"]';
    $(k).prop('selected', true)

{% endif %}

});
});
    </script>
{% endblock js %}
