{% extends "base.html" %}
{% load i18n show_tags %}
{% block datatables_css %}
    {% include "elements/structure/datatables-css.html" %}
{% endblock datatables_css %}
{% block datatables_js %}
    {% include "elements/structure/datatables-js.html" %}
{% endblock datatables_js %}
{% block title %}
    {% trans "History preferences" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% if features.questbuilder %}
        {% if staff %}
            <p>
                {% trans "View preference history for:" %}
                {% if not typ %}
                    <strong>{% trans "characters" %}</strong>
                {% else %}
                    <a href="{% url 'orga_casting_history' run.get_slug %}">{% trans "characters" %}</a>
                {% endif %}
                {% for num, qt in quest_types.items %}
                    {% if typ == num %}
                        | <strong>{{ qt.name }}</strong>
                    {% else %}
                        | <a href="{% url 'orga_casting_history' run.get_slug qt.uuid %}">{{ qt.name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
        {% else %}
            <p>
                {% trans "View preference history for:" %}
                {% if not typ %}
                    <strong>{% trans "characters" %}</strong>
                {% else %}
                    <a href="{% url 'casting_history' run.get_slug %}">{% trans "characters" %}</a>
                {% endif %}
                {% for num, qt in quest_types.items %}
                    {% if typ == num %}
                        | <strong>{{ qt.name }}</strong>
                    {% else %}
                        | <a href="{% url 'casting_history' run.get_slug qt.uuid %}">{{ qt.name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <h3>{% trans "Historical" %} {{ gl_name }}</h3>
    {% endif %}
    <table id="preferences" class="go_datatable mob">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Player" %}</th>
                {% with ""|center:casting_max as range %}
                    {% for _ in range %}<th>Preferenza {{ forloop.counter }}</th>{% endfor %}
                {% endwith %}
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr>
                    <td></td>
                    <td>
                        {% if staff %}
                            {{ el.member }}
                        {% else %}
                            {{ el.member.display_member }}
                        {% endif %}
                    </td>
                    {% with ""|center:casting_max as range %}
                        {% for _ in range %}
                            <td>{% key el.prefs forloop.counter %}</td>
                        {% endfor %}
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
