{% extends "base.html" %}
{% load i18n %}
{% block datatables_css %}
    {% include "elements/structure/datatables-css.html" %}
{% endblock datatables_css %}
{% block datatables_js %}
    {% include "elements/structure/datatables-js.html" %}
{% endblock datatables_js %}
{% block title %}
    {% trans "Preferences" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Express your preferences on the characters you would like to play" %}
{% endblock info %}
{% block content %}
    {% if features.questbuilder %}
        {% if staff %}
            <p>
                {% trans "Go to the preferences for:" %}
                {% if not typ %}
                    <strong>{% trans "Characters" %}</strong>
                {% else %}
                    <a href="{% url 'orga_casting_preferences' run.get_slug %}">{% trans "Characters" %}</a>
                {% endif %}
                {% for num, qt in quest_types.items %}
                    {% if typ == num %}
                        | <strong>{{ qt.name }}</strong>
                    {% else %}
                        | <a href="{% url 'orga_casting_preferences' run.get_slug qt.uuid %}">{{ qt.name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
            <h3>Preferenze {{ gl_name }}</h3>
        {% else %}
            <p>
                {% trans "Go to the preferences for:" %}
                {% if not typ %}
                    <strong>{% trans "characters" %}</strong>
                {% else %}
                    <a href="{% url 'casting_preferences' run.get_slug %}">{% trans "characters" %}</a>
                {% endif %}
                {% for num, qt in quest_types.items %}
                    {% if typ == num %}
                        | <strong>{{ qt.name }}</strong>
                    {% else %}
                        | <a href="{% url 'casting_preferences' run.get_slug qt.uuid %}">{{ qt.name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
            <h3>{% trans "Preferences" %} {{ gl_name }}</h3>
        {% endif %}
    {% endif %}
    {% if casting_history %}
        <p>
            {% if typ %}
                <a href="{% url 'casting_history' run.get_slug typ %}">{% trans "Show the history of preferences." %}</a>
            {% else %}
                <a href="{% url 'casting_history' run.get_slug %}">{% trans "Show the history of preferences." %}</a>
            {% endif %}
        </p>
    {% endif %}
    <table id="preferences" class="go_datatable mob">
        <thead>
            <tr>
                <th></th>
                <th>{{ cl_name }}</th>
                <th>{{ el_name }}</th>
                <th>{% trans "Total number" %}</th>
                <th>{% trans "Average value" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr>
                    <td></td>
                    <td>{{ el.group_dis }}</td>
                    <td>{{ el.name_dis }}</td>
                    <td>{{ el.pref.0 }}</td>
                    <td>{{ el.pref.1 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
