{% extends parent_template|default:"base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Register" %}
{% endblock title %}
{% block content %}
    <div class="new_v18">
        <div class="form_container user_resize">
            <form id="register_form"
                  method="post"
                  action="{% url 'registration_register' %}">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
                <input type="submit" id="id_submit"  value="{% trans "Submit" %}" />
            </form>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script>
window.addEventListener('DOMContentLoaded', function() {
    $(document).ready(function(){

        $("#register_form").submit( function(eventObj) {
            var val = $('#id_email').val();
          $("<input />").attr("type", "hidden")
              .attr("name", "username")
              .attr("value", val)
              .appendTo("#register_form");

          return true;
      });

        // Add password visibility toggle
        $('input[type="password"]').each(function() {
            var $input = $(this);
            var $wrapper = $('<div class="password-field-wrapper"></div>');
            var $icon = $('<span class="password-toggle-icon"><i class="fa-solid fa-eye"></i></span>');

            $input.wrap($wrapper);
            $input.after($icon);

            $icon.on('click', function() {
                var type = $input.attr('type') === 'password' ? 'text' : 'password';
                $input.attr('type', type);
                $icon.html(type === 'password' ? '<i class="fa-solid fa-eye"></i>' : '<i class="fa-solid fa-eye-slash"></i>');
            });
        });

    });
});

    </script>
{% endblock js %}
