{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Discounts" %} - {{ registration.member }} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "Manage discounts applied to a participant's registration by adding or removing available discount entries" %}
{% endblock info %}
{% block content %}
    {% if active %}
        <h2>{% trans "Discounts active" %}</h2>
        <table id="discounts_active" class="go_datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Discount" %}</th>
                    <th>{% trans "Value" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for el in active %}
                    <tr>
                        <td></td>
                        <td>{{ el.disc }}</td>
                        <td>{{ el.value }}</td>
                        <td>
                            <a href="{% url 'orga_registration_discount_del' run.get_slug registration.uuid el.disc.uuid %}"
                               class="frame-confirm"><i class="fa-solid fa-xmark"></i> {% trans "Delete" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if available %}
        <h2>{% trans "Discounts available" %}</h2>
        <table id="discounts_availble" class="go_datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Discount" %}</th>
                    <th>{% trans "Value" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for el in available %}
                    <tr>
                        <td></td>
                        <td>{{ el }}</td>
                        <td>{{ el.value }}</td>
                        <td>
                            <a href="{% url 'orga_registration_discount_add' run.get_slug registration.uuid el.uuid %}"
                               class="frame-confirm"><i class="fa-solid fa-check"></i> {% trans "Add" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
