{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Lottery" %} {{ gl_name }} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Run the lottery draw to randomly select participants from lottery-tier registrations and upgrade the selected registrations to confirmed tickets" %}
{% endblock info %}
{% block content %}
    {% if chosen %}
        <i>{% trans "The following registrations were drawn:" %}
            {% for el in chosen %}
                {% include "elements/comma.html" %}
                {{ el.member }}
            {% endfor %}
        </i>
    {% endif %}
    •
    <p>{% trans "Total tickets to be drawn:" %} {{ num_draws }}</p>
    <p>{% trans "Tickets currently in the lottery:" %} {{ num_lottery }}</p>
    <p>{% trans "Tickets already drawn:" %} {{ num_def }}</p>
    <p>
        <i>{% trans "Click this button to run the draw. Warning: this action cannot be undone." %}</i>
    </p>
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <button type="submit" name="submit" value="1">{% trans "Run lottery draw" %}</button>
    </form>
{% endblock content %}
