{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Pre registrations" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Review pre-registered members and track which ones have not yet completed a full registration" %}
{% endblock info %}
{% block content %}
    <a href="{% url 'pre_register' run.event.slug %}">{% trans "Pre-registration link" %}</a>
    <br />
    <br />
    <h2>
        {% trans "Unconverted pre-registrations:" %} <b>{{ dc.pred | length }}</b>
    </h2>
    <p>
        {% for el in dc.pred %}
            {% include "elements/comma.html" %}
            {{ el.member.email }}
        {% endfor %}
    </p>
    <hr class="c" />
    <h2>
        {% trans "Pre registrations total:" %} <b>{{ dc.list | length }}</b>
    </h2>
    <table id="pre_registrations" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Participant" %}</th>
                <th>{% trans "Mail" %}</th>
                {% if preferences %}
                    <th>{% trans "Preference" %}</th>
                {% endif %}
                <th>{% trans "Joined" %}</th>
                <th>{% trans "Info" %}</th>
                <th>{% trans "Date" %}</th>
            </tr>
        </thead>
        {% for el in dc.list %}
            <tr>
                <td>{{ el.member }}</td>
                <td>{{ el.member.email }}</td>
                {% if preferences %}<td>{{ el.pref }}</td>{% endif %}
                <td>
                    {% if el.signed %}<i class="fa-solid fa-check"></i>{% endif %}
                </td>
                <td>{{ el.info }}</td>
                <td>{{ el.created }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
