{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Quotas" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <p>
        <i>{% trans "The ticket cost will be divided equally among the indicated number of installments." %}</i>
    </p>
    <p>
        <i>{% trans "Payment deadlines will be divided equally from the registration date." %}</i>
    </p>
    <p>
        <i>{% trans "Beyond the minimum number of days indicated, the quota will no longer be available during registration." %}</i>
    </p>
    <table id="registration_quotas" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Quotas" %}</th>
                <th>{% trans "Available days" %}</th>
                <th>{% trans "Surcharge" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'orga_registration_quotas_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.quotas }}</td>
                    <td>{{ el.days_available }}</td>
                    <td>
                        {% if el.surcharge %}{{ el.surcharge }}{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'orga_registration_quotas_delete' run.get_slug el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No payment quota options have been defined for this event yet. Use the button above to add a quota plan." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
