{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Registrations" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    <div class="table-header-row">
        {% include "elements/table/header.html" %}
        {% if reg_all %}
            <div class="staff-list">
                <div class="nav">
                    <b>{% trans "Columns" %}</b>:
                    <a href="#" id="load_accounting">{% trans "accounting" %}</a>
                    <a href="#" class="table_toggle hide" tog='acc'>hidden</a>
                    <a href="#" class="table_toggle" tog='email'>{% trans "email" %}</a>
                    {% if registration_reg_que_age %}
                        <a href="#" class="table_toggle" tog='age'>{% trans "age" %}</a>
                    {% endif %}
                    {% if features.gift %}
                        <a href="#" class="table_toggle" tog='gift'>{% trans "gift" %}</a>
                    {% endif %}
                    {% if features.membership %}
                        <a href="#" class="table_toggle" tog='membership'>{% trans "member" %}</a>
                    {% endif %}
                    {% if features.faction %}
                        <a href="#" class="table_toggle" tog='factions'>{% trans "factions" %}</a>
                    {% endif %}
                    {% if features.custom_character %}
                        <a href="#" class="table_toggle" tog='custom'>{% trans "customisations" %}</a>
                    {% endif %}
                    {% if features.discount %}
                        <a href="#" class="table_toggle" tog='disc'>{% trans "Discounts" %}</a>
                    {% endif %}
                    <a href="#" class="table_toggle" tog='date'>{% trans "chronology" %}</a>
                </div>
            </div>
            {% if reg_questions %}
                <div class="staff-list">
                    <div class="nav">
                        {% trans "Questions:" %}
                        {% for key, que in reg_questions.items %}
                            {% if que.typ == 'e' or que.typ == 'p' %}
                                <a href="#" class="table_toggle no_jump" tog='q_{{ key }}'>{{ que.name | truncatechars:25 }}</a>
                            {% else %}
                                <a href="#" class="load_que lq_{{ key }}"  key="{{ key }}">{{ que.name | truncatechars:25 }}</a>
                                <a href="#" class="table_toggle hide no_jump" tog='q_{{ key }}'>hidden</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if features.questbuilder and quest_types %}
                <div class="staff-list">
                    <div class="nav">
                        Questbuilder:
                        {% for key, qt in quest_types.items %}
                            {% include "elements/comma.html" %}
                            <a href="#" class="table_toggle" tog='qt_{{ qt.uuid }}'>{{ qt.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if reg_all %}
        <div id="overlay">
            <div class="lds-roller">
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
            </div>
        </div>
        {% for key, dc in reg_all %}
            {% if dc.list %}
                <h2>{{ dc.type }} ({{ dc.count }})</h2>
                <table id="regs_{{ run.uuid }}_{{ key }}"
                       class="que_load go_datatable registration_list">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>{% trans "Participant" %}</th>
                            {% if registration_reg_que_age %}
                                <th class="age">{% trans "Age (during the event)" %}</th>
                            {% endif %}
                            <th class="email">{% trans "Email" %}</th>
                            {% if features.gift %}
                                <th class="gift">{% trans "Gift" %}</th>
                            {% endif %}
                            {% if features.membership %}
                                <th class="membership">{% trans "Language" %}</th>
                                <th class="membership">{% trans "Participant" %}</th>
                            {% endif %}
                            {% if features.character %}
                                <th>{% trans "Character" %}</th>
                            {% endif %}
                            {% if features.faction %}
                                <th class="factions">{% trans "Factions" %}</th>
                            {% endif %}
                            {% if features.questbuilder %}
                                {% for key, qt in quest_types.items %}<th class="qt_{{ qt.uuid }}">{{ qt.name }}</th>{% endfor %}
                            {% endif %}
                            {% if features.custom_character %}
                                {% for nm in custom_info %}<th class="custom">{{ nm | capfirst }}</th>{% endfor %}
                            {% endif %}
                            {% for key, que in reg_questions.items %}<th class="q_{{ key }}">{{ que.name }}</th>{% endfor %}
                            {% if features.discount %}
                                <th class="disc">{% trans "Discounts" %}</th>
                            {% endif %}
                            <th class="date">{% trans "Creation" %} (y/m/d)</th>
                            <th class="date">{% trans "Last change" %} (y/m/d)</th>
                            <th class="date">{% trans "Full payment" %} (y/m/d)</th>
                            {% if features.reg_quotas or features.reg_installments %}
                                <th class="acc quota">{% trans "Next quota" %}</th>
                            {% endif %}
                            <th class="acc deadline">{% trans "Deadline" %}</th>
                            <th class="acc remaining">{% trans "Owing" %}</th>
                            <th class="acc tot_payed">{% trans "Payed" %}</th>
                            <th class="acc tot_iscr">{% trans "Total" %}</th>
                            {% if features.vat %}
                                <th class="acc ticket_price">{% trans "Ticket" %}</th>
                                <th class="acc options_price">{% trans "Options" %}</th>
                            {% endif %}
                            <th class="acc pay_a">{% trans "Money" %}</th>
                            {% if 'credits' in association.features %}<th class="acc pay_b">{{ credits_name }}</th>{% endif %}
                            {% if 'tokens' in association.features %}<th class="acc pay_c">{{ tokens_name }}</th>{% endif %}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registration in dc.list %}
                            <tr id="{{ registration.uuid }}">
                                <td></td>
                                <td>
                                    <a href="{% url 'orga_registrations_edit' run.get_slug registration.uuid %}"
                                       qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    {{ registration.member | title }}
                                    <a href="#"
                                       class="post_popup_member"
                                       pop="{{ registration.member.uuid }}"><i class="fas fa-eye"></i></a>
                                </td>
                                {% if registration_reg_que_age %}<td class="age">{{ registration.age }}</td>{% endif %}
                                <td class="email">{{ registration.member.email }}</td>
                                {% if features.gift %}
                                    <td class="gift">
                                        {% if registration.redeem_code %}<i class="fa-solid fa-gift"></i>{% endif %}
                                    </td>
                                {% endif %}
                                {% if features.membership %}
                                    <td class="membership">{{ registration.member.language }}</td>
                                    <td class="membership">{{ registration.membership }}</td>
                                {% endif %}
                                {% if features.character %}
                                    <td>
                                        {% for el in registration.chars %}
                                            {% include "elements/comma.html" %}
                                            <a href="{% url 'orga_characters_edit' run.get_slug el.uuid %}">
                                                {% if writing_number %}#{{ el.number }}{% endif %}
                                                {{ el.name }}
                                            </a>
                                            {% if features.custom_character %}
                                                <a href="{% url 'orga_registrations_customization' run.get_slug el.uuid %}"><i class="fas fa-user-pen"></i></a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endif %}
                                {% if features.faction %}
                                    <td class="factions">
                                        {% for fnum in registration.factions %}
                                            {% with factions|get:fnum as ft %}
                                                {% if ft.id %}
                                                    {% include "elements/comma.html" %}
                                                    <a href="{% url 'orga_factions_edit' run.get_slug ft.uuid %}">{{ ft.name }}</a>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </td>
                                {% endif %}
                                {% if features.questbuilder %}
                                    {% for key, qt in quest_types.items %}
                                        <td class="qt_{{ qt.uuid }}"  tooltip="{{ qt.name }}">{{ registration.traits | get:qt.uuid }}</td>
                                    {% endfor %}
                                {% endif %}
                                {% if features.custom_character %}
                                    {% for nm in custom_info %}
                                        <td class="custom" tooltip="{{ nm }}">
                                            {% if registration.custom|get:nm %}
                                                {% if nm != "profile" %}
                                                    {{ registration.custom | get:nm | clean_tags | truncatechars:50 }}
                                                {% else %}
                                                    {{ registration.custom | get:nm | safe }}
                                                {% endif %}
                                                {% if registration.custom|get:nm|length > 50 %}
                                                    <a href="#"
                                                       class="show_popup"
                                                       pop="{{ registration.uuid }}"
                                                       fie="{{ nm }}"><i class="fas fa-eye"></i></a>
                                                    <span class="popup_text {{ nm }}">
                                                        <h2>{{ registration.member }} - {{ nm | capfirst }}</h2>
                                                        {% if nm == "profile" %}
                                                            {{ registration.custom | get:nm | safe }}
                                                        {% else %}
                                                            {{ registration.custom | get:nm | clean_tags }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% endif %}
                                {% for key, que in reg_questions.items %}
                                    {% if que.typ == 'e' or que.typ == 'p' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% with ed_id=key|concat:'_red' %}
                                                {% lookup registration ed_id as value %}
                                                {{ value | safe }}
                                            {% endwith %}
                                        </td>
                                    {% elif que.typ == 'additional_tickets' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% if registration.additionals %}{{ registration.additionals }}{% endif %}
                                        </td>
                                    {% elif que.typ == 'pay_what_you_want' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% if registration.pay_what %}{{ registration.pay_what }}{% endif %}
                                        </td>
                                    {% elif que.typ == 'reg_quotas' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% if registration.quotas %}{{ registration.quotas }}{% endif %}
                                        </td>
                                    {% elif que.typ == 'reg_surcharges' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% if registration.surcharge %}{{ registration.surcharge }}{% endif %}
                                        </td>
                                    {% elif que.typ == 'ticket' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">{{ registration.ticket_show }}</td>
                                    {% else %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            <!-- filled later -->
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                {% if features.discount %}
                                    <td class="disc">
                                        {% for d in registration.discounts %}
                                            {% include "elements/comma.html" %}
                                            {{ d }}
                                        {% endfor %}
                                        <a href="{% url 'orga_registration_discounts' run.get_slug registration.uuid %}">{% trans "Manage" %}</a>
                                    </td>
                                {% endif %}
                                <td class="date">{{ registration.created | date:"y/m/d H:i" }}</td>
                                <td class="date">{{ registration.updated | date:"y/m/d H:i" }}</td>
                                <td class="date">
                                    {% if registration.payment_date %}{{ registration.payment_date | date:"y/m/d H:i" }}{% endif %}
                                </td>
                                {% if features.reg_quotas or features.reg_installments %}
                                    <td class="acc quota"
                                        tooltip="{% trans "Amount of the next payment instalment required" %}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                                <td class="acc deadline"
                                    tooltip="{% trans "Number of days within which the player must pay his next installment" %}">
                                    <!-- filled later -->
                                </td>
                                <td class="acc remaining"
                                    tooltip="{% trans "Total remaining to be paid" %}">
                                    <!-- filled later -->
                                </td>
                                <td class="acc tot_payed"
                                    tooltip="{% trans "Total of what has already been paid at the current date" %}">
                                    <!-- filled later -->
                                </td>
                                <td class="acc tot_iscr"
                                    tooltip="{% trans "Sum of the signup fee, total to be paid" %}">
                                    <!-- filled later -->
                                </td>
                                {% if features.vat %}
                                    <td class="acc ticket_price"
                                        tooltip="{% trans "Part of the registration fee derived only from the ticket chosen" %}">
                                        <!-- filled later -->
                                    </td>
                                    <td class="acc options_price"
                                        tooltip="{% trans "Part of the registration fee derived only from the additional options chosen" %}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                                <td class="acc pay_a"
                                    tooltip="{% trans "Sum of payments received with means of payment" %}">
                                    <!-- filled later -->
                                </td>
                                {% if 'credits' in association.features %}
                                    <td class="acc pay_b"
                                        tooltip="{% trans "Sum of payments received through" %} {{ credits_name }}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                                {% if 'tokens' in association.features %}
                                    <td class="acc pay_c"
                                        tooltip="{% trans "Sum of payments received through" %} {{ tokens_name }}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'orga_registrations_delete' run.get_slug registration.uuid %}"
                                       qtip="{% trans "Delete" %}"
                                       class="only_new_v18"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
        <div id="registrations_summary">{% include "elements/registrations_list.html" %}</div>
    {% else %}
        <br />
        <p class="no-elements-available">
            <i>{% trans "No registrations have been received for this event yet" %}</i>
        </p>
    {% endif %}
    <div class="table-footer-row">
        {% include "elements/table/footer.html" %}
        {% if not lite_mode %}
            <div class="staff-list">
                <div class="orga-buttons">
                    <a class="new button"
                       href="{% url 'orga_registration_transfer' run.get_slug %}">
                        <i class="fas fa-exchange-alt"></i> {% trans "Transfer" %}
                    </a>
                    <a class="new button"
                       href="{% url 'orga_registrations_reload' run.get_slug %}">
                        <i class="fas fa-arrow-rotate-right"></i> {% trans "Recompute" %}
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block js %}
    <script>
var url_load_questions = "{% url 'orga_registration_form_list' run.get_slug %}";
var url_load_questions_email = "{% url 'orga_registration_form_email' run.get_slug %}";

var download_text = '{% filter escapejs %}{% trans "Download" %}{% endfilter %}';

var accounting = true;

window.trigger_togs = {{ default_fields | safe }};

{% include "elements/questions/load.js" %}

window.addEventListener('DOMContentLoaded', function() {

    function load_accounting(el) {

        if ($('#load_accounting').hasClass('select')) {
            el.next().trigger('click');
            $('#load_accounting').removeClass('select');
            return;
        }

        request = $.ajax({
            url: "{% url 'orga_registrations_accounting' run.get_slug %}",
            method: "POST",
            datatype: "json",
        });

        // Show spinner only after 500ms delay
        let spinnerTimeout = setTimeout(function() {
            start_spinner();
        }, 500);

        request.done(function(data) {
            // Clear the spinner timeout since request completed
            clearTimeout(spinnerTimeout);

            // Batch updates by table to minimize DOM operations
            const tableUpdates = {};
            let totalUpdates = 0;

            // Collect all updates first
            for (let key in data) {
                for (let nm in data[key]) {
                    let vl = data[key][nm];
                    if (parseInt(vl) != 0) {
                        Object.keys(window.datatables).forEach(function(dt_key) {
                            const table = window.datatables[dt_key];
                            const row = table.row('#' + key);

                            if (row.length > 0) {
                                if (!tableUpdates[dt_key]) {
                                    tableUpdates[dt_key] = [];
                                }
                                tableUpdates[dt_key].push({
                                    rowSelector: '#' + key,
                                    columnClass: '.' + nm,
                                    value: vl
                                });
                                totalUpdates++;
                            }
                        });
                    }
                }
            }

            // Apply all updates per table and draw once
            Object.keys(tableUpdates).forEach(function(dt_key) {
                const table = window.datatables[dt_key];
                const updates = tableUpdates[dt_key];

                updates.forEach(function(update) {
                    const cell = table.cell(update.rowSelector, update.columnClass);
                    if (cell && cell.node()) {
                        cell.data(update.value);
                        if (update.columnClass === '.deadline' && parseInt(update.value) < 0) {
                            $(cell.node()).addClass('redderized');
                        }
                    }
                });

                // Single draw call per table instead of multiple
                table.draw(false);
            });

            done['acc'] = 1;

            $('#load_accounting').addClass('select');

            el.next().trigger('click');

            clearTimeout(spinnerTimeout);
            stop_spinner();

            setTimeout(reload_table, 1000);
        }).fail(function() {
            // Clear the spinner timeout and handle errors gracefully
            clearTimeout(spinnerTimeout);
            stop_spinner();
            console.error('Failed to load accounting data');
        });

    }

    $(function() {

        $(document).on('click', '#load_accounting', function () {
            load_accounting($(this));
            return false;
        });

        $(document).on('click', '.post_popup_member', function (e) {

                // Show spinner only after 500ms delay
                let spinnerTimeout = setTimeout(function() {
                    start_spinner();
                }, 500);

                request = $.ajax({
                    url: "{% url 'orga_registration_member' run.get_slug %}",
                    method: "POST",
                    data: { mid: $(this).attr("pop") },
                    datatype: "json",
                });

                request.done(function(res) {
                    // Clear the spinner timeout since request completed
                    clearTimeout(spinnerTimeout);

                    if (res.k == 0) return;
                    stop_spinner();

                    window.openLmModal(res.v, 'popup');

                    $('#lm-modal').scrollTop( 0 );
                    $('#lm-modal .hide').hide();
                });

                return false;
            });

    });
});
    </script>
{% endblock js %}
