{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Registration sections" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="registration_sections"
           class="go_datatable writing row_reorder"
           data-reorder-url="{% url 'orga_reorder_items' run.get_slug %}"
           data-reorder-model="orga_registration_sections">
        <thead>
            <tr>
                <th></th>
                <th class="reorder-handle"></th>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td class="reorder-handle">
                        <i class="fa-solid fa-grip-vertical"></i>
                    </td>
                    <td>
                        <a href="{% url 'orga_registration_sections_edit' run.get_slug el.uuid %}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>
                        {% for ch in el.questions.all %}
                            {% include "elements/comma.html" %}
                            <a href="{% url 'orga_registration_form_edit' run.get_slug "registration" ch.uuid %}">{{ ch.name }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'orga_registration_sections_delete' run.get_slug el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No registration form sections have been created yet. Use the button above to add a section to organize your registration questions." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
