{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Tickets" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="registration_tickets"
           class="go_datatable writing row_reorder"
           data-reorder-url="{% url 'orga_reorder_items' run.get_slug %}"
           data-reorder-model="orga_registration_tickets">
        <thead>
            <tr>
                <th></th>
                <th class="reorder-handle"></th>
                <th></th>
                <th>{% trans "Name" %}</th>
                {% if tiers|length > 1 %}
                    <th>{% trans "Type" %}</th>
                {% endif %}
                {% if features.casting %}
                    <th>{% trans "Casting priority" %}</th>
                {% endif %}
                <th>{% trans "Value" %}</th>
                <th>{% trans "Details" %}</th>
                <th>{% trans "Maximum" %}</th>
                <th>{% trans "Visible" %}</th>
                {% if features.gift %}
                    <th>{% trans "Gift" %}</th>
                {% endif %}
                {% if show_ticket_sold %}
                    <th>{% trans "Show sold count" %}</th>
                {% endif %}
                <th>{% trans "Direct link" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td class="reorder-handle">
                        <i class="fa-solid fa-grip-vertical"></i>
                    </td>
                    <td>
                        <a href="{% url 'orga_registration_tickets_edit' run.get_slug el.uuid %}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>{{ el.name }}</td>
                    {% if tiers|length > 1 %}<td>{{ el.get_tier_display }}</td>{% endif %}
                    {% if features.casting %}<td>{{ el.casting_priority }}</td>{% endif %}
                    <td>{{ el.price }}</td>
                    <td>
                        {% if el.description %}{{ el.description }}{% endif %}
                    </td>
                    <td>{{ el.max_available }}</td>
                    <td>
                        {% if el.visible %}<i class="fa-solid fa-check"></i>{% endif %}
                    </td>
                    {% if features.gift %}
                        <td>
                            {% if el.giftable %}<i class="fa-solid fa-check"></i>{% endif %}
                        </td>
                    {% endif %}
                    {% if show_ticket_sold %}
                        <td>
                            {% if el.show_sold %}<i class="fa-solid fa-check"></i>{% endif %}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'register' run.get_slug el.uuid %}" target="_blank">{% trans "Signup link" %}</a>
                        <button class="copy-link-btn"
                                data-url="{% url 'register' run.get_slug el.uuid %}"
                                title="{% trans "Copy link to clipboard" %}">
                            <i class="fa-solid fa-copy"></i>
                        </button>
                    </td>
                    <td>
                        <a href="{% url 'orga_registration_tickets_delete' run.get_slug el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No tickets have been created for this event yet. Use the button above to add a ticket type that participants can choose when registering." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
