{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Transfer registration" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Select a participant and a target event to initiate a registration transfer" %}
{% endblock info %}
{% block content %}
    <form method="post"
          action="{% url 'orga_registration_transfer_preview' event_slug=run.get_slug %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "Preview" %}</button>
        </div>
    </form>
{% endblock content %}
