{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ error_title }}">
        <meta name="keywords" content="">
        <meta name="robots" content="noindex, nofollow">
        <title>{{ error_title }}</title>
        {% include "elements/structure/css-larpmanager.html" %}
    </head>
    <body class="onetime-error-body">
        <div class="onetime-error-container">
            <div class="onetime-error-icon">🚫</div>
            <h1>{{ error_title }}</h1>
            <p>{{ error_message }}</p>
        </div>
    </body>
</html>
