{% extends "larpmanager/landing/base.html" %}
{% load i18n static %}
{% block maintitle %}
    Discover
{% endblock maintitle %}
{% block landing_eyebrow %}
    Discover
{% endblock landing_eyebrow %}
{% block landing_title %}
    Discover
{% endblock landing_title %}
{% block landing_subtitle %}
    <p>Explore the full range of features on our platform, giving you complete control of your event!</p>
{% endblock landing_subtitle %}
{% block landing_content %}
    <div id="discover">
        <div class="anchor-nav">
            {% for el in discover %}<a href="#mod_{{ el.id }}" class="sh_{{ el.id }}">{{ el.name }}</a>{% endfor %}
        </div>
        {% for el in discover %}
            <hr id="mod_{{ el.id }}" />
            <div class="sh_{{ el.id }}">
                {% if el.profile %}
                    <img src="{{ el.profile_thumb.url }}"
                         class="{% if el.order|divisibleby:"2" %}left{% else %}right{% endif %}"
                         alt="profile" />
                {% endif %}
                <h2>{{ el.name }}</h2>
                {{ el.text | safe }}
            </div>
        {% endfor %}
    </div>
{% endblock landing_content %}
