{% extends "larpmanager/landing/base.html" %}
{% load i18n static %}
{% block maintitle %}
    Activation: {{ association.name }}
{% endblock maintitle %}
{% block landing_eyebrow %}
    Activation
{% endblock landing_eyebrow %}
{% block landing_title %}
    Activation: {{ association.name }}
{% endblock landing_title %}
{% block landing_content %}
    <p>We need just a few seconds to properly activate your larpmanager.</p>
    <p>Please wait a bit...</p>
{% endblock landing_content %}
{% block js2 %}
    <script>
setInterval(function() {
    window.location.reload();
}, 5000);
    </script>
{% endblock js2 %}
