{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Accounting - History" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Track the historical evolution of the organization's global and bank balances over time as interactive charts" %}
{% endblock info %}
{% block content %}
    <h2>{% trans "Global balance" %}</h2>
    <br />
    <i>({% trans "Operating margin, taking into account the budgets of completed events, minus credits or tokens issued." %})</i>
    <br />
    <br />
    <div id="globalSumContainer" class="accounting_record"></div>
    <h2>{% trans "Overall balance" %}</h2>
    <br />
    <i>({% trans "Net financial availability, held in the organization's bank and financial accounts." %})</i>
    <br />
    <br />
    <div id="bankSumContainer" class="accounting_record"></div>
{% endblock content %}
{% block js %}
    <script type="text/javascript"
            src="https://cdn.canvasjs.com/jquery.canvasjs.stock.min.js"
            defer></script>
    <script type="text/javascript">
function stockChartOptions(dataPoints) {
  return {
    theme: "dark2",
    exportEnabled: true,
    charts: [{
      axisX: {
        crosshair: {
          enabled: true,
          snapToDataPoint: true,
          valueFormatString: "DD MMM YYYY"
        }
      },
      axisY: {
        prefix: "{{ currency_symbol }}",
        crosshair: {
          enabled: true,
          valueFormatString: "{{ currency_symbol }}#,###"
        }
      },
      toolTip: {
        shared: true
      },
      data: [{
        type: "splineArea",
        yValueFormatString: "{{ currency_symbol }}#,###.##",
        dataPoints: dataPoints
      }]
    }],
    navigator: {
      axisX: {
        labelFontColor: "#F5F5F5",
        labelFontFamily: "Trebuchet MS"
      },
      slider: {
        minimum: new Date({{ start|date:"U" }} * 1000),
        maximum: new Date({{ end|date:"U" }} * 1000)
      }
    }
  };
}


  var globalDataPoints = [
  {% for el in list %}
    {% include "elements/comma.html" with separator="," %}
    {x: new Date({{ el.created | date:"U" }} * 1000), y: parseFloat('{{ el.global_sum }}') }
  {% endfor %}
  ];

  var bankDataPoints = [
  {% for el in list %}
    {% include "elements/comma.html" with separator="," %}
    {x: new Date({{ el.created | date:"U" }} * 1000), y: parseFloat('{{ el.bank_sum }}') }
  {% endfor %}
  ];

document.addEventListener("DOMContentLoaded", function () {
  var globalChart = new CanvasJS.StockChart(
    "globalSumContainer",
    stockChartOptions(globalDataPoints)
  );

  var bankChart = new CanvasJS.StockChart(
    "bankSumContainer",
    stockChartOptions(bankDataPoints)
  );

    setTimeout(function() {
        globalChart.render();
        bankChart.render();
    }, 1000);

  window.addEventListener("resize", function () {
    globalChart.render();
    bankChart.render();
  });

});
    </script>
{% endblock js %}
