{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Balance" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Review the annual balance sheet with income and expenditure categories formatted for the yearly fiscal declaration" %}
{% endblock info %}
{% block content %}
    {% include "elements/form/years.html" %}
    <h3>A - Attività di interesse generale - {{ year }}</h3>
    <h4>Uscite</h4>
    <table>
        {% for k, el in expenditure.items %}
            <tr>
                <td>{{ el.name }}</td>
                <td>{{ el.value | floatformat:2 }}</td>
            </tr>
        {% endfor %}
    </table>
    <h4>Entrate</h4>
    <table>
        <tr>
            <td>1) Entrate da quote associative e apporti dei fondatori</td>
            <td>{{ memberships | floatformat:2 }}</td>
        </tr>
        <tr>
            <td>3) Entrate per prestazioni e cessioni ad associati e fondatori</td>
            <td>{{ tickets | floatformat:2 }}</td>
        </tr>
        <tr>
            <td>4) Erogazioni liberali</td>
            <td>{{ donations | floatformat:2 }}</td>
        </tr>
        <tr>
            <td>10) Altre entrate</td>
            <td>{{ inflows | floatformat:2 }}</td>
        </tr>
    </table>
    <h4>Riepilogo</h4>
    <table>
        <tr>
            <td>Entrate</td>
            <td>{{ in | floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Uscite</td>
            <td>{{ out | floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Rimborsi</td>
            <td>{{ rimb | floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Bilancio</td>
            <td>{{ bal | floatformat:2 }}</td>
        </tr>
    </table>
    <br />
    {% if membership_advances %}
        <p>Acconti da soci (quote associative anno {{ year|add:1 }}): {{ membership_advances | floatformat:2 }}</p>
    {% endif %}
{% endblock content %}
