{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Collections" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Manage participant-initiated collections by assigning recipients and tracking contributed amounts" %}
{% endblock info %}
{% block content %}
    {% include "elements/pending_invoices_exe.html" %}
    <p>
        {% trans "Show collections" %} <a href="#" class="my_toggle" tog='done'>{% trans "already delivered" %}</a>
    </p>
    <table id="collections" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Request" %}</th>
                <th>{% trans "Participant" %}</th>
                <th>{% trans "Organizer" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Total" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}"
                    {% if el.status == 'p' %}class="hide done"{% endif %}>
                    <td></td>
                    <td>
                        <a href="{% url 'exe_collections_edit' el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.request }}</td>
                    <td>{{ el.member }}</td>
                    <td>{{ el.organizer }}</td>
                    <td>{{ el.get_status_display }}</td>
                    <td>{{ el.total }}</td>
                    <td>
                        <a href="{% url 'exe_collections_delete' el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">{% trans "No collections have been created yet." %}</p>
    {% endif %}
{% endblock content %}
