{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Donations" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Track all donations received by the organization and confirm pending donation invoices" %}
{% endblock info %}
{% block content %}
    {% include "elements/pending_invoices_exe.html" %}
    {% include "elements/table/header.html" %}
    {% include "elements/paginate.html" %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
