{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Movements" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Browse all financial movements for a selected year" %}
{% endblock info %}
{% block content %}
    {% include "elements/form/years.html" %}
    <h3>{% trans "Movements" %} - {{ year }}</h3>
    <h4>{% trans "Inflows" %}</h4>
    <table class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Size" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Event" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in memberships %}
                <tr>
                    <td></td>
                    <td>{{ el.created | date:"d/m/Y" }}</td>
                    <td>{{ el.value }}</td>
                    <td>{% trans "Organizational fee" %} - {{ el.member }} - {{ el.year }}</td>
                    <td>membership</td>
                    <td></td>
                    <td>
                        {% if el.inv.invoice %}
                            <a href="{{ el.inv.download }}">{% trans "Download" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for el in donations %}
                <tr>
                    <td></td>
                    <td>{{ el.created | date:"d/m/Y" }}</td>
                    <td>{{ el.value }}</td>
                    <td>
                        {% if el.descr %}{{ el.descr }} -{% endif %}
                        {{ el.member }}
                    </td>
                    <td>donation</td>
                    <td></td>
                    <td>
                        {% if el.inv.invoice %}
                            <a href="{{ el.inv.download }}">{% trans "Download" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for el in inflows %}
                <tr>
                    <td></td>
                    <td>{{ el.created | date:"d/m/Y" }}</td>
                    <td>{{ el.value }}</td>
                    <td>{{ el.descr }}</td>
                    <td>inflow</td>
                    <td>
                        {% if el.run %}{{ el.run }}{% endif %}
                    </td>
                    <td>
                        {% if el.invoice %}
                            <a href="{{ el.download }}">{% trans "Download" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for el in tickets %}
                <tr>
                    <td></td>
                    <td>{{ el.created | date:"d/m/Y" }}</td>
                    <td>{{ el.value }}</td>
                    <td>{{ el.member }}</td>
                    <td>event</td>
                    <td>
                        {% if el.registration %}{{ el.registration.run }}{% endif %}
                    </td>
                    <td>
                        {% if el.inv.invoice %}
                            <a href="{{ el.inv.download }}">{% trans "Download" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>{% trans "Outflows" %}</h4>
    <table class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Size" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Event" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in outflows %}
                <tr>
                    <td></td>
                    <td>{{ el.created | date:"d/m/Y" }}</td>
                    <td>{{ el.value }}</td>
                    <td>{{ el.descr }}</td>
                    <td>inflow</td>
                    <td>
                        {% if el.run %}{{ el.run }}{% endif %}
                    </td>
                    <td>
                        {% if el.invoice %}
                            <a href="{{ el.download }}">{% trans "Download" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td></td>
                    <td colspan="100">
                        <p class="no-elements-available">{% trans "No outflows recorded for the selected year." %}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% for el in expenses %}
            <tr>
                <td>{{ el.created | date:"d/m/Y" }}</td>
                <td>{{ el.value }}</td>
                <td>{{ el.descr }} - {{ el.member }}</td>
                <td>expense</td>
                <td>
                    {% if el.run %}{{ el.run }}{% endif %}
                </td>
                <td>
                    {% if el.invoice %}
                        <a href="{{ el.download }}">{% trans "Download" %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h4>{% blocktrans with name=credits_name %}{{ name }} in credit{% endblocktrans %}</h4>
    <table class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Member" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in pos %}
                <tr>
                    <td></td>
                    <td>{{ el.member }}</td>
                    <td>{{ el.credit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not pos %}
        <p class="no-elements-available">{% trans "No members with positive credits for the selected year." %}</p>
    {% endif %}
    <h4>{% blocktrans with name=credits_name %}{{ name }} in debit{% endblocktrans %}</h4>
    <table class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Member" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in neg %}
                <tr>
                    <td></td>
                    <td>{{ el.member }}</td>
                    <td>{{ el.credit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not neg %}
        <p class="no-elements-available">{% trans "No members with negative credits for the selected year." %}</p>
    {% endif %}
{% endblock content %}
