{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Warehouse items" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Assign warehouse items to one or more areas of the event, item by item" %}
{% endblock info %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="inv_items"
           class="go_datatable dot_links"
           no_header_cols="{{ no_header_cols }}">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>{% trans "Name" %}</th>
                {% if optionals.quantity %}
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Available" %}</th>
                {% endif %}
                <th>{% trans "Description" %}</th>
                <th>{% trans "Container" %}</th>
                <th>{% trans "Tags" %}</th>
                <th>{% trans "Photo" %}</th>
                <th>{% trans "Assigned to" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        {% if el.available_quantity %}
                            <a href="{% url 'orga_warehouse_items_commit_remaining' run.get_slug el.uuid %}"
                               qtip="{% trans "Commit all remaining quantity" %}">
                                <i class="fa-solid fa-boxes-stacked action-dialog"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'orga_warehouse_items_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Assign to areas" %}">
                            <i class="fa-solid fa-map-location-dot action-dialog"></i>
                        </a>
                    </td>
                    <td>{{ el.name }}</td>
                    {% if optionals.quantity %}
                        <td>
                            {% if el.quantity %}{{ el.quantity }}{% endif %}
                        </td>
                        <td>
                            {% if el.available_quantity is not None %}{{ el.available_quantity }}{% endif %}
                        </td>
                    {% endif %}
                    <td>{{ el.description | truncatechars:200 }}</td>
                    <td>{{ el.container }}</td>
                    <td>
                        {% for tag_uuid, tag_name in el.tags_cached %}
                            {% include "elements/comma.html" %}
                            {{ tag_name }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if el.photo %}
                            <img src="{{ el.thumb.url }}"
                                 class="inv_photo"
                                 alt="item photo"
                                 style="cursor: pointer"
                                 onclick="openImage('{{ el.photo.url }}')" />
                        {% endif %}
                    </td>
                    <td>
                        {% for area_uuid, area_name, quantity in el.areas_cached %}
                            {% include "elements/comma.html" %}
                            {{ area_name }} ({{ quantity }})
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No warehouse items found. Use the button above to add a new item to the inventory." %}
        </p>
    {% endif %}
    <div id="imagePopup">
        <img id="popupImg" src="" alt="popup image" />
    </div>
    {% include "elements/table/footer.html" %}
{% endblock content %}
{% block js2 %}
    <script>
function openImage(url) {
    document.getElementById('popupImg').src = url;
    document.getElementById('imagePopup').style.display = 'flex';
}

document.getElementById('imagePopup').onclick = function() {
    this.style.display = 'none';
};
    </script>
{% endblock js2 %}
