{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Dashboard - {{ association.name }}
{% endblock title %}
{% block content %}
    {% if onboarding %}
        <div class="grid">
            <div id="first_event" class="grid-item grid-line">
                <h1>{% trans "Welcome to the dashboard of your organization!" %}</h1>
                <a class="button new big" href="{% url 'exe_events_new' %}">
                    <i class="fas fa-plus"></i>
                    {% trans "Create your first event" %}
                </a>
            </div>
        </div>
    {% else %}
        <div id="manage">
            {% include "larpmanager/manage/sticky_messages.html" %}
            <div {% if effective_version >= 17 %}class="grid"{% else %}class="old_dashboard"{% endif %}>
                {% include "larpmanager/manage/widgets/demo.html" %}
                {% if effective_version < 17 %}
                    {% include "larpmanager/manage/widgets/exe_events_old.html" %}
                {% else %}
                    {% include "larpmanager/manage/widgets/exe_events.html" %}
                {% endif %}
                {% with list=priorities typ="priorities" %}
                    {% include "larpmanager/manage/widgets/helpers.html" %}
                {% endwith %}
                {% with list=actions typ="actions" %}
                    {% include "larpmanager/manage/widgets/helpers.html" %}
                {% endwith %}
                {% include "larpmanager/manage/widgets/exe_accounting.html" %}
                {% include "larpmanager/manage/widgets/exe_deadlines.html" %}
                {% include "larpmanager/manage/widgets/exe_logs.html" %}
                {% with list=suggestions typ="suggestions" %}
                    {% include "larpmanager/manage/widgets/helpers.html" %}
                {% endwith %}
            </div>
            {% if not lite_mode and is_admin %}
                <div class="staff-list">
                    <div class="orga-buttons">
                        <a class="new button" href="{% url 'exe_reload_cache' %}">
                            <i class="fas fa-sync"></i>
                            Reset cache
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
{% block css %}
    <link rel="stylesheet"
          href="{% static 'node_modules/driver.js/dist/driver.css' %}">
{% endblock css %}
{% block js %}
    {% include "elements/dashboard/tutorial_query.js" %}
    {% include "elements/dashboard/driver.js.html" %}
{% endblock js %}
