{% load i18n %}
{% if not iframe %}
    {% if not exe_page and not orga_page %}
        {% if run %}
            <div class="nav main_nav no_v22">
                {% for item in main_nav_items %}
                    <div class="lm_tooltip">
                        <a href="{{ item.url }}"
                           {% if item.active %}class="select"{% endif %}
                           {% if item.target %}target="{{ item.target }}"{% endif %}
                           {% if item.download %}download{% endif %}>
                            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                            <span class="nav-label">{{ item.label }}</span>
                        </a>
                        <div class="lm_tooltiptext">{{ item.tooltip }}</div>
                    </div>
                {% endfor %}
            </div>
            <hr class="no_v20" />
            {% if run_status %}
                <div class="reg_status no_v22">
                    {% include "elements/reg_status.html" with registration=registration reg_uuid="_main" %}
                </div>
                {% include "elements/reg_status_banner.html" %}
                <hr class="no_v20" />
            {% endif %}
        {% else %}
            {% if request_func_name != "home" %}
                <div class="nav main_nav middlebar">
                    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> <span class="nav-label">Home</span></a>
                    {% for slug, name in reg_menu %}
                        <a href="{% url 'event' slug %}"><i class="fa-solid fa-calendar-days"></i> <span class="nav-label">{{ name }}</span></a>
                    {% endfor %}
                    <hr class="main_nav" />
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
