{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Dashboard - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block content %}
    <div id="manage">
        {% include "larpmanager/manage/sticky_messages.html" %}
        <div {% if effective_version >= 17 %}class="grid"{% else %}class="old_dashboard"{% endif %}>
            {% include "larpmanager/manage/widgets/demo.html" %}
            {% include "larpmanager/manage/widgets/orga_event.html" %}
            {% include "larpmanager/manage/widgets/orga_registrations.html" %}
            {% include "larpmanager/manage/widgets/orga_accounting.html" %}
            {% with list=priorities typ="priorities" %}
                {% include "larpmanager/manage/widgets/helpers.html" %}
            {% endwith %}
            {% with list=actions typ="actions" %}
                {% include "larpmanager/manage/widgets/helpers.html" %}
            {% endwith %}
            {% include "larpmanager/manage/widgets/orga_deadline.html" %}
            {% include "larpmanager/manage/widgets/orga_user_character.html" %}
            {% include "larpmanager/manage/widgets/orga_progress.html" %}
            {% include "larpmanager/manage/widgets/orga_casting.html" %}
            {% include "larpmanager/manage/widgets/orga_milestones.html" %}
            {% include "larpmanager/manage/widgets/orga_logs.html" %}
            {% with list=suggestions typ="suggestions" %}
                {% include "larpmanager/manage/widgets/helpers.html" %}
            {% endwith %}
        </div>
        {% if not lite_mode and is_organizer %}
            <div class="staff-list">
                <div class="orga-buttons">
                    <a class="new button" href="{% url 'orga_reload_cache' run.get_slug %}">
                        <i class="fas fa-sync"></i>
                        Reset cache
                    </a>
                    <a class="new button" href="{% url 'orga_backup' run.get_slug %}">
                        <i class="fas fa-save"></i>
                        Backup
                    </a>
                    <a class="new button" href="{% url 'orga_restore' run.get_slug %}">
                        <i class="fas fa-undo"></i>
                        Restore
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block css %}
    <link rel="stylesheet"
          href="{% static 'node_modules/driver.js/dist/driver.css' %}">
{% endblock css %}
{% block js %}
    {% include "elements/dashboard/tutorial_query.js" %}
    {% include "elements/dashboard/driver.js.html" %}
    <script>
    window.addEventListener('DOMContentLoaded', function() {
        $(document).ready(function() {
            {% if open_shortcuts %}
                if ($('#sidebar-mobile-open').is(':visible')) {
                    $('body').toggleClass('is-sidebar-visible');
                }
            {% endif %}
        });
    });
    </script>
{% endblock js %}
