{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Membership" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "View the yearly enrollment list of members with card numbers and renewal dates" %}
{% endblock info %}
{% block content %}
    <table class="go_datatable">
        <thead>
            <tr>
                <th>{% trans "Number" %}</th>
                <th>{% trans "Surname" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Residence" %}</th>
                <th>{% trans "Gender" %}</th>
                <th>{% trans "Birth place" %}</th>
                <th>{% trans "Birth date" %}</th>
                <th>{% trans "Fiscal code" %}</th>
                <th>{% trans "Last membership date" %}</th>
                <th>{% trans "Phone contact" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Language" %}</th>
                <th>{% trans "Order" %}</th>
                <th>{% trans "Newsletter" %}</th>
            </tr>
        </thead>
        {% for el in list %}
            <tr id="{{ el.uuid }}"
                {% if not el.last_enrolment %}class="hide n_payed"{% endif %}>
                <td>{{ el.membership.card_number }}</td>
                <td>{{ el.surname }}</td>
                <td>{{ el.legal_name|default:el.name }}</td>
                <td>{{ el.get_residence }}</td>
                <td>{{ el.gender }}</td>
                <td>{{ el.birth_place }}</td>
                <td>{{ el.birth_date }}</td>
                <td>
                    {% if el.fiscal_code %}
                        {{ el.fiscal_code }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ el.last_enrolment| date:"d/m/Y" }}</td>
                <td>{{ el.phone_contact }}</td>
                <td>{{ el.email }}</td>
                <td>{{ el.language }}</td>
                <td>{{ el.order }}</td>
                <td>{{ el.membership.newsletter }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No members have enrolled yet. Members will appear here once they have completed their yearly enrollment." %}
        </p>
    {% endif %}
{% endblock content %}
{% block js2 %}
    <script>window.addEventListener('DOMContentLoaded', function() {
        $(document).ready(function() {
            setTimeout(function() {
                $('*[data-column="15"]').click();
            }, 500);
        });
    });
    </script>
{% endblock js2 %}
