{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {{ member_edit }} - {% trans "Accounting" %}
{% endblock title %}
{% block info %}
    {% trans "Review a member's full accounting history, including payments, transactions, balances, and applied discounts" %}
{% endblock info %}
{% block content %}
    {% if member_edit.membership %}
        {% if features.tokens %}
            <h3>{% trans "Credit balance:" %} {{ member_edit.membership.credit|format_decimal }}</h3>
        {% endif %}
        {% if features.credits %}
            <h3>{% trans "Token balance:" %} {{ member_edit.membership.tokens|format_decimal }}</h3>
        {% endif %}
    {% endif %}
    {% if pays %}
        <h2>{% trans "Payments" %}</h2>
        <table id="members_pay" class="writing go_datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Registration" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Value" %}</th>
                    <th>{% trans "Type" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for el in pays %}
                    <tr>
                        <td></td>
                        <td>{{ el.registration.run }}</td>
                        <td data-order="{{ el.created|date:'U' }}">{{ el.created|date:'d/m/Y' }}</td>
                        <td>{{ el.value }}</td>
                        <td>{{ el.typ }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if others %}
        <h2>{% trans "Transactions" %}</h2>
        <table id="members_other" class="writing go_datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Event" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Value" %}</th>
                    <th>{% trans "Type" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for el in others %}
                    <tr>
                        <td></td>
                        <td>{{ el.run.search }}</td>
                        <td data-order="{{ el.created|date:'U' }}">{{ el.created|date:'d/m/Y' }}</td>
                        <td>{{ el.descr }}</td>
                        <td>{{ el.value }}</td>
                        <td>{{ el.typ }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if discounts %}
        <h2>{% trans "Discount" %}</h2>
        <table id="members_discount" class="writing go_datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Event" %}</th>
                    <th>{% trans "Discount" %}</th>
                    <th>{% trans "Detail" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for el in discounts %}
                    <tr>
                        <td></td>
                        <td>{{ el.run.search }}</td>
                        <td>{{ el.disc }}</td>
                        <td>{{ el.detail }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
