{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Members list" %} - {% trans "Organization" %}
{% endblock title %}
{% block content %}
    {% include "elements/pending_invoices_exe.html" %}
    <p>
        {% trans "Total members:" %} {{ list | length }}
        {% if sum.s %}
            - {% trans "Request:" %} {{ sum.s }}
        {% endif %}
        {% if sum.p %}
            - {% trans "Paid for the current year:" %} {{ sum.p }}
        {% endif %}
        {% if sum.a %}
            - {% trans "Accepted:" %} {{ sum.a }}
        {% endif %}
    </p>
    <div class="staff-list">
        <div class="orga-buttons">
            <a class="new button" href="{% url 'exe_membership_document' %}">{% trans "Upload membership document" %}</a>
            <a class="new button" href="{% url 'exe_membership_fee' %}">{% trans "Upload membership fee" %}</a>
        </div>
    </div>
    <hr />
    <table id="memberships" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Surname" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Number" %}</th>
                <th>{% trans "Registrations" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr class="member">
                    <td></td>
                    <td>
                        <a href="{% url 'exe_member' el.member__uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'exe_membership_status' el.member__uuid %}"
                           qtip="{% trans "Edit membership" %}"><i class="fas fa-id-card"></i></a>
                        <a href="{% url 'exe_member_accounting' el.member__uuid %}"
                           qtip="{% trans "View accounting" %}"><i class="fas fa-money-bill"></i></a>
                        <a href="{% url 'exe_member_registrations' el.member__uuid %}"
                           qtip="{% trans "View registrations" %}"><i class="fas fa-calendar-check"></i></a>
                    </td>
                    <td>{{ el.member__surname | title }}</td>
                    <td>{{ el.member__name | title }}</td>
                    <td>{{ el.member__email }}</td>
                    <td>{{ el.status_display }}</td>
                    <td>
                        {% if el.status != "s" %}{{ el.card_number }}{% endif %}
                    </td>
                    <td>{{ el.run_names }}</td>
                    <td>
                        {% if el.status == "s" %}
                            <a href="{% url 'exe_membership_evaluation' el.member__uuid %}">{% trans "Request" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No members found. Members will appear here once they have submitted a membership request." %}
        </p>
    {% endif %}
    <hr />
    <h2>
        <a href="#" class="my_toggle" tog="emails">{% trans "Emails" %}</a>
    </h2>
    <div class="hide emails">
        <table>
            <tr>
                <th>{% trans "Request" %}</th>
                <td>
                    {% for el in s %}
                        {% include "elements/comma.html" with separator="," %}
                        {{ el.3 }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{% trans "Accepted" %}</th>
                <td>
                    {% for el in a %}
                        {% include "elements/comma.html" with separator="," %}
                        {{ el.3 }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{% trans "Paid for the current year" %}</th>
                <td>
                    {% for el in p %}
                        {% include "elements/comma.html" with separator="," %}
                        {{ el.3 }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{% trans "Removed" %}</th>
                <td>
                    {% for el in r %}
                        {% include "elements/comma.html" with separator="," %}
                        {{ el.3 }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{% trans "Absent" %}</th>
                <td>
                    {% for el in e %}
                        {% include "elements/comma.html" with separator="," %}
                        {{ el.3 }}
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}
