{% extends "utils.html" %}
{% load i18n show_tags %}
{% block body_class %}
    {% if frame %}floating_iframe{% endif %}
{% endblock body_class %}
{% block title %}
    {{ member_edit }} - {% trans "Participant" %}
{% endblock title %}
{% block content %}
    <p>Email: {{ member_edit.email }}</p>
    {% include "elements/membership_cf.html" %}
    <h2>{% trans "Personal data" %}</h2>
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form_container auto_resize">
            <table class="mob  ">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </div>
    </form>
    <hr class="c" />
    {% if '.pdf' in doc_path %}
        <embed src="{{ member_edit.membership.get_document_filepath }}"
               type="application/pdf"
               width="100%"
               height="500px">
    {% else %}
        <img class="membership_request"
             src="{{ member_edit.membership.get_document_filepath }}"
             alt="membership request" />
    {% endif %}
    <hr class="c" />
    {% if '.pdf' in req_path %}
        <embed src="{{ member_edit.membership.get_request_filepath }}"
               type="application/pdf"
               width="100%"
               height="500px">
    {% else %}
        <img class="membership_request"
             src="{{ member_edit.membership.get_request_filepath }}"
             alt="membership request" />
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
{% if form.country_subdivisions_map %}
    var countrySubdivisions = {{ form.country_subdivisions_map | safe }};

    function province_update() {
        let countryCode = $('#id_residence_address_0').val();
        let $provinceSelect = $('#id_residence_address_1');

        $provinceSelect.empty().append('<option value="" disabled selected>----</option>');
        if (countrySubdivisions[countryCode]) {
            $.each(countrySubdivisions[countryCode], function(index, subdivision) {
                $provinceSelect.append(new Option(subdivision[1], subdivision[0]));
            });
        }

        {% if form.initial_province %}$provinceSelect.val('{{ form.initial_province }}');{% endif %}
    }
{% endif %}

    window.addEventListener('DOMContentLoaded', function() {

        $(function () {

            {% if form.country_subdivisions_map %}

                {% if form.initial_nation %}
                    province_update();
                {% else %}
                    $('#id_residence_address_0').prepend('<option value="----" disabled selected>----</option>');
                {% endif %}

                $('#id_residence_address_0').on('change', province_update);
            {% endif %}
        });
    });

    </script>
{% endblock js %}
