{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Newsletter" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "View newsletter subscriber email lists segmented by language and communication preference" %}
{% endblock info %}
{% block content %}
    {% for key, value in lst.items %}
        <hr />
        <h2>{{ key }}</h2>
        <h4>{% trans "All communications" %}</h4>
        <p>
            {% for el in value.a %}
                {% include "elements/comma.html" with separator="," %}
                {{ el }}
            {% endfor %}
        </p>
        <h4>{% trans "Only really important communications" %}</h4>
        <p>
            {% for el in value.o %}
                {% include "elements/comma.html" with separator="," %}
                {{ el }}
            {% endfor %}
        </p>
        <h4>{% trans "No communications" %}</h4>
        <p>
            {% for el in value.n %}
                {% include "elements/comma.html" with separator="," %}
                {{ el }}
            {% endfor %}
        </p>
    {% endfor %}
{% endblock content %}
