{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Questions" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Manage help questions submitted by members: answer open requests or close those requiring no further action" %}
{% endblock info %}
{% block content %}
    <p>
        <a href="#" class="my_toggle" tog='closed'>{% trans "Show closed questions" %}</a>
    </p>
    <table id="questions_open" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Event" %}</th>
                <th>{% trans "Participant" %}</th>
                <th>{% trans "Question" %}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in open %}
                <tr>
                    <td></td>
                    <td>{{ el.created }}</td>
                    <td>
                        {% if el.run %}{{ el.run }}{% endif %}
                    </td>
                    <td>{{ el.member }}</td>
                    <td>{{ el.text }}</td>
                    <td>
                        {% if el.attachment %}
                            <a href="{% url 'help_attachment' el.uuid %}" target="_blank">{% trans "Attachment" %}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'exe_questions_answer' el.member.uuid %}">{% trans "Answer" %}</a>
                    </td>
                    <td>
                        <a href="{% url 'exe_questions_close' el.member.uuid %}">{% trans "Close" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No open questions at the moment. All member requests have been answered or closed." %}
        </p>
    {% endif %}
    <div class="hide closed">
        <h2>Domande già risposte</h2>
        <p>
            <i>{% trans "This page only shows questions from the last 3 months. To view previous questions click here:" %}</i>
            <form action="{{ request.path }}" method="post">
                {% csrf_token %}
                <input type="submit" value="{% trans "Confirm" %}">
            </form>
        </p>
        <table id="questions_closed" class="go_datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Event" %}</th>
                    <th>{% trans "Participant" %}</th>
                    <th>{% trans "Question" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for el in closed %}
                    <tr>
                        <td></td>
                        <td>{{ el.created }}</td>
                        <td>
                            {% if el.run %}{{ el.run }}{% endif %}
                        </td>
                        <td>{{ el.member }}</td>
                        <td>{{ el.text }}</td>
                        <td>
                            <a href="{% url 'exe_questions_answer' el.member.uuid %}">{% trans "Answer" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not closed %}
            <p class="no-elements-available">{% trans "No pending questions have been answered in the last 3 months." %}</p>
        {% endif %}
    </div>
{% endblock content %}
