{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Questions" %} - {{ member_edit }}
{% endblock title %}
{% block info %}
    {% trans "Answer a participant's help request, and review the full conversation history" %}
{% endblock info %}
{% block content %}
    <h2>{{ member_edit }}</h2>
    <h2>{% trans "Give a new answer" %}</h2>
    <br />
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <table class="mob  ">
            {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "Confirm" %}">
    </form>
    <hr />
    <h2>{% trans "Event communications" %}</h2>
    {% for el in list %}
        <div class="plot question{% if not el.is_user %} user{% endif %}">
            {% if el.run %}[{{ el.run }}] -{% endif %}
            {{ el.text }}
            {% if el.attachment %}
                &nbsp;&nbsp;&nbsp;(<a href="{% url 'help_attachment' el.uuid %}" target="_blank">{% trans "Attachment" %}</a>)
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
