{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Send emails" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Send a bulk email to event's participants" %}
{% endblock info %}
{% block content %}
    {% include "elements/form/main.html" %}
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(function() {
    $('form').on('submit', function() {
        return window.lmTesting ? true : confirm('{% filter escapejs %}{% trans "Are you really sure?" %}{% endfilter %}');
    });
});
});
    </script>
{% endblock js %}
