{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Workshop" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Track which registered participants have completed all required workshops in the past year" %}
{% endblock info %}
{% block content %}
    <h2>{{ registration_count }} iscrizioni</h2>
    <table id="workshops" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Player" %}</th>
                <th>{% trans "Done" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'public' el.member.uuid %}">{{ el.member }}</a>
                    </td>
                    <td>{{ el.num }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No registered participants have completed any workshops for this event yet." %}
        </p>
    {% endif %}
    <h2>{% trans "Not completed" %}</h2>
    <table>
        <tr>
            <td>
                {% for mb in pinocchio %}
                    {% include "elements/comma.html" %}
                    {{ mb.email }}
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock content %}
