{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans label_typ as name %}
    {{ name }} {% trans "Sheet" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {{ page_info }}
{% endblock info %}
{% block content %}
    {% if available_typ|length > 1 %}
        <p>
            {% trans "Configure form:" %}
            {% for nm in available_typ.keys %}
                {% include "elements/comma.html" %}
                {% if nm == label_typ %}
                    <b>{% trans nm as name %}{{ name }}</b>
                {% else %}
                    <a href="{% url 'orga_writing_form' run.get_slug nm %}">{% trans nm as name %}{{ name }}</a>
                {% endif %}
            {% endfor %}
        </p>
        <hr />
    {% endif %}
    {% include "elements/table/header.html" %}
    <table id="character_questions"
           class="go_datatable writing row_reorder"
           data-reorder-url="{% url 'orga_reorder_items' run.get_slug %}"
           data-reorder-model="orga_character_form">
        <thead>
            <tr>
                <th></th>
                <th class="reorder-handle"></th>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Type" %}</th>
                {% if status %}
                    <th>{% trans "Status" %}</th>
                {% endif %}
                <th>{% trans "Visibility" %}</th>
                {% if approval and typ == "character" %}
                    <th>{% trans "Modifiable" %}</th>
                {% endif %}
                <th>{% trans "Options" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td class="reorder-handle">
                        <i class="fa-solid fa-grip-vertical"></i>
                    </td>
                    <td>
                        <a href="{% url 'orga_writing_form_edit' run.get_slug typ el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.description | truncatechars:50 }}</td>
                    <td>{{ el.get_typ_display }}</td>
                    {% if status %}
                        <td>
                            {% if el.typ|not_in:"c" %}{{ el.get_status_display }}{% endif %}
                        </td>
                    {% endif %}
                    <td>
                        {% if el.typ|not_in:"name,teaser,text,factions_list" %}{{ el.get_visibility_display }}{% endif %}
                    </td>
                    {% if approval and typ == "character" %}
                        <td>
                            {% if el.status|not_in:"d" and el.status|not_in:"h" and el.typ|not_in:"c" %}{{ el.get_editable_display }}{% endif %}
                        </td>
                    {% endif %}
                    <td>
                        {% for ch in el.options_list %}
                            {% include "elements/comma.html" %}
                            {{ ch.name }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if el.typ|length == 1 %}
                            <a href="{% url 'orga_writing_form_delete' run.get_slug typ el.uuid %}"
                               qtip="{% trans "Delete" %}"
                               class="only_new_v18"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No form fields defined yet. Add a field to collect information from players on their character sheet." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
