{% extends "utils.html" %}
{% load i18n static %}
{% block title %}
    {% trans "Pdf bulk" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "Select characters, factions, and handouts to download as a bulk ZIP of PDFs" %}
{% endblock info %}
{% block content %}
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {% if list %}
            <table class="go_datatable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Type" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, element in list.items %}
                        <tr>
                            <td></td>
                            <td>
                                <input type="checkbox" id="{{ key }}" name="{{ key }}">
                            </td>
                            <td>{{ element.name }}</td>
                            <td>
                                {% if element.type %}{{ element.type }}{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not list %}
                <p class="no-elements-available">{% trans "No characters or handouts available to export as PDF." %}</p>
            {% endif %}
            <input type="submit" value="{% trans "Confirm" %}">
        </form>
    {% endif %}
{% endblock content %}
