{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Event accounting" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the accounting status of the event, divided into the various expense types" %}
{% endblock info %}
{% block content %}
    {% if summary.expected %}
        <h2>{% trans "Expected revenue" %}: {{ summary.expected }}</h2>
        <p>
            <i>{% trans "Total amount of money expected if all registered participants fully pay their due amount" %}</i>
        </p>
    {% endif %}
    {% if summary.revenue %}
        <h2>{% trans "Realized revenue" %}: {{ summary.revenue }}</h2>
        <p>
            <i>{% trans "Total amount of money received for this event, minus commission fees and refunds" %}</i>
        </p>
    {% endif %}
    {% if summary.costs %}
        <h2>{% trans "Total costs" %}: {{ summary.costs }}</h2>
        <p>
            <i>{% trans "Total of all expenses incurred for the event, both personal and organizational, including any tokens and credits issued" %}</i>
        </p>
    {% endif %}
    {% if summary.balance %}
        <h2>{% trans "Net profit" %}: {{ summary.balance }}</h2>
        <p>
            <i>{% trans "Net profit of the event, difference between realized revenue and total costs" %}</i>
        </p>
    {% endif %}
    {% if 'organization_tax' in features %}
        <h2>{% trans "Organization tax" %}: {{ summary.tax }}</h2>
        <p>
            <i>{% trans "Minimum amount of net profit to be retained for the association tax" %}</i>
        </p>
    {% endif %}
    <hr />
    <table class="tablesorter ">
        <tr>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Total" %}</th>
            <th>{% trans "Number" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        {% for k, v in details.items %}
            <tr>
                <td>{{ v.name }}</td>
                <td>{{ v.tot }}</td>
                <td>{{ v.num }}</td>
                <td>
                    <i>{{ v.descr }}</i>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% for k, v in details.items %}
        <h2>{{ v.name }}: {{ v.tot }}</h2>
        <table class="tablesorter ">
            {% for y, w in v.detail.items %}
                <tr>
                    <td>{{ w.name }}</td>
                    <td>{{ w.tot }}</td>
                    <td>{{ w.num }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock content %}
