{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Event accounting" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "View a full financial overview of the event, broken down by revenue, costs, and balance" %}
{% endblock info %}
{% block content %}
    {% if summary.expected %}
        <h2>{% trans "Expected revenue:" %} {{ summary.expected }}</h2>
        <p>
            <i>{% trans "Total amount of money expected if all registered participants fully pay their due amount" %}</i>
        </p>
    {% endif %}
    {% if summary.revenue %}
        <h2>{% trans "Realized revenue:" %} {{ summary.revenue }}</h2>
        <p>
            <i>{% trans "Total amount of money received for this event, minus commission fees and refunds" %}</i>
        </p>
    {% endif %}
    {% if summary.costs %}
        <h2>{% trans "Total costs:" %} {{ summary.costs }}</h2>
        <p>
            <i>{% trans "Total of all expenses incurred for the event, both personal and organizational, including any tokens and credits issued" %}</i>
        </p>
    {% endif %}
    {% if summary.balance %}
        <h2>{% trans "Net profit:" %} {{ summary.balance }}</h2>
        <p>
            <i>{% trans "Net profit of the event, difference between realized revenue and total costs" %}</i>
        </p>
    {% endif %}
    {% if 'organization_tax' in features %}
        <h2>{% trans "Organizational fee:" %} {{ summary.tax }}</h2>
        <p>
            <i>{% trans "Minimum net profit to retain for the association infrastructure fee" %}</i>
        </p>
    {% endif %}
    <hr />
    <table class="go_datatable ">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Entry" %}</th>
                <th>{% trans "Total" %}</th>
                <th>{% trans "Number" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in details.items %}
                <tr>
                    <td></td>
                    <td>{{ v.name }}</td>
                    <td>{{ v.tot }}</td>
                    <td>{{ v.num }}</td>
                    <td>
                        <i>{{ v.descr }}</i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for k, v in details.items %}
        <h2>{{ v.name }}: {{ v.tot }}</h2>
        <table class="go_datatable ">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Total" %}</th>
                    <th>{% trans "Number" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for y, w in v.detail.items %}
                    <tr>
                        <td></td>
                        <td>{{ w.name }}</td>
                        <td>{{ w.tot }}</td>
                        <td>{{ w.num }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock content %}
