{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Cancellations" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "Review all cancelled registrations and track their refund status" %}
{% endblock info %}
{% block content %}
    <table id="cancellations" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Registration fee" %}</th>
                <th>{% trans "Payment" %}</th>
                {% if features.tokens %}<th>{{ tokens_name }}</th>{% endif %}
                {% if features.credits %}<th>{{ credits_name }}</th>{% endif %}
                <th>{% trans "Player" %}</th>
                <th></th>
                {% if features.info %}
                    <th>{% trans "Info" %}</th>
                {% endif %}
                <th>{% trans "Cancellation date" %}</th>
                {% if features.credits or features.tokens %}
                    <th>{% trans "Refunded" %}</th>
                {% endif %}
                {% if features.tokens %}<th>{{ tokens_name }}</th>{% endif %}
                {% if features.credits %}<th>{{ credits_name }}</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        {% if el.tot_iscr %}{{ el.tot_iscr | floatformat:"0" }}{% endif %}
                    </td>
                    <td>
                        {% if el.payments.a %}{{ el.payments.a | floatformat:"0" }}{% endif %}
                    </td>
                    {% if features.tokens %}
                        <td>
                            {% if el.payments.c %}{{ el.payments.c | floatformat:"0" }}{% endif %}
                        </td>
                    {% endif %}
                    {% if features.credits %}
                        <td>
                            {% if el.payments.b %}{{ el.payments.b | floatformat:"0" }}{% endif %}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'public' el.member.uuid %}">{{ el.member }}</a>
                    </td>
                    <td>{{ el.member.email }}</td>
                    {% if features.info %}<td>{{ el.info }}</td>{% endif %}
                    <td>{{ el.cancellation_date|date:"Y-m-d" }}</td>
                    {% if features.credits or features.tokens %}
                        <td>
                            {% if el.refunded %}
                                {% trans "Refunded" %}
                            {% elif el.payments.a or el.payments.b or el.payments.c %}
                                <a href="{% url 'orga_cancellation_refund' run.get_slug el.uuid %}">{% trans "Approve reimbursement" %}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if features.tokens %}
                        <td>
                            {% if el.refunds.t %}{{ el.refunds.t | floatformat:"0" }}{% endif %}
                        </td>
                    {% endif %}
                    {% if features.credits %}
                        <td>
                            {% if el.refunds.c %}{{ el.refunds.c | floatformat:"0" }}{% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">{% trans "No cancelled registrations found for this event." %}</p>
    {% endif %}
{% endblock content %}
