{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "New refund request" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "Submit a new personal expense reimbursement request for this event" %}
{% endblock info %}
{% block content %}
    {% include "elements/form/main.html" %}
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(function() {
    $('form').on('submit', function() {
        return window.lmTesting ? true : confirm('{% filter escapejs %}{% trans "Are you really sure?" %}{% endfilter %}');
    });
});
});
    </script>
{% endblock js %}
