{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Expenses" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "List of personal expenses submitted for this event. Upload receipts and track approval status." %}
{% endblock info %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="expenses" class="go_datatable mob">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Receipt" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Value" %}</th>
                <th>{% trans "Approved" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{{ el.download }}">{% trans "Download" %}</a>
                    </td>
                    <td>{{ el.get_exp_display }}</td>
                    <td>{{ el.descr }}</td>
                    <td>{{ el.value }}</td>
                    <td>{{ el.is_approved }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No expenses submitted yet. Use the button above to add a new expense with a receipt." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
