/*** GENERAL ***/

.nav a {
  padding: 0.3em 0.5em;
  margin: 0.2em;
  color: var(--pri-clr);
  background-color: rgba(var(--sec-rgb), 0.35);
  border: solid 1px rgba(var(--sec-rgb), 0.35);
  border-radius: 0.5em;
  white-space: nowrap;
  line-height: normal;
  display: inline-block;
}

.nav a.sel,
.nav a.nsel {
  color: var(--ter-clr);
  background-color: rgba(var(--sec-rgb), 0.35);
  border: solid 1px rgba(var(--sec-rgb), 0.35);
}

.nav2 a {
  background: none;
  border: none;
  margin: 0.1em;
  padding: 0.1em;
}

.gall .lang {
  border-radius: 50%;
  width: 2em;
}

.nav2 .lang {
  border-radius: 50%;
  width: 1.5em;
  vertical-align: middle;
}

.nav2 a:hover img,
.nav2 a.sss img {
  box-shadow: 0px 0px 20px #fff;
}

.nav2 a:hover.sss img {
  box-shadow: 0px 0px 0px #fff;
}

/* Mobile responsive tables: compact nav pills inside .mob tables */
@media (max-width: 840px) {
  .nav a {
    padding: 0.2em 0.5em;
    margin: 0em 0.1em;
  }
}

/* ---------------------------------------------------------------------------
   Navigation Links
   --------------------------------------------------------------------------- */

.links a {
  margin: 0.5em 1em;
  display: inline-block;
}

.nav {
  align-items: center;
  justify-content: center;
  line-height: 300%;
}

.load_list.fields a + a:not(.hide)::before {
  content: " | ";
}

@media screen and (max-width: 840px) {
  .nav .nav-label {
    display: none;
  }
}

.nav p {
  line-height: 200%;
}

.nav .select {
  color: var(--ter-clr);
  background-color: rgba(var(--sec-rgb), 0.35);
  border: solid 1px rgba(var(--sec-rgb), 0.35);
}

/* ---------------------------------------------------------------------------
   Login & Auth
   --------------------------------------------------------------------------- */

.allauth_signin {
  text-align: center;
  margin-top: 0.5em;
}

.allauth_signin a {
  border: 0;
}

.allauth_signin a img {
  width: 15em;
}

.login {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 2em !important;
}

.login table tbody tr {
  background-color: transparent;
  border: 0;
}

@media (max-width: 840px) {
  .login {
    max-width: 100%;
  }
}

.login th {
  display: none;
}

.login input {
  text-align: center;
  width: 90%;
}

.login input[type="submit"] {
  width: auto;
}

@media screen and (max-width: 840px) {
  .login input[type="submit"] {
    width: 80% !important;
  }

  .login .registration_register,
  .login .password_reset {
    text-align: center;
  }
}

.password_reset {
  float: right;
}

.registration_register {
  float: left;
}

@media (max-width: 600px) {
  .password_reset,
  .registration_register {
    float: none;
  }
}

@media (max-width: 600px) {
  .password_reset,
  .registration_register {
    float: none;
    margin: 2em 0 0 0;
  }
}
