{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Album" %}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <br />
    <br />
    <table id="albums" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Master" %}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'orga_albums_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.parent }}</td>
                    <td>
                        <a href="{% url 'orga_albums_upload' run.get_slug el.cod %}">{% trans "Upload" %}</a> (questo link può essere passato all'esterno per far eseguire il caricamento a collaboratori)
                    </td>
                    <td>
                        {% if el.thumb %}<img src="{{ el.thumb.url }}" alt="object photo" />{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'orga_albums_delete' run.get_slug el.uuid %}"
                           class="delete">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No albums created yet. Add an album to organize and share photos for this event." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
