{% extends "utils.html" %}
{% load static i18n %}
{% block title %}
    {% trans "Upload" %} - {{ album }} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "Upload a zip file of photos and videos to populate this album" %}
{% endblock info %}
{% block content %}
    <h2>{% trans "Upload of photo and video" %}</h2>
    <p>
        {% trans "Select a zip file for upload. Directories will become albums, photos and the videos inside will be placed in the corresponding albums." %}
    </p>
    <br />
    <br />
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "Confirm" %}">
    </form>
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(function() {
    $('form').on('submit', function() {
        return window.lmTesting ? true : confirm('Sei davvero sicuro?');
    });
});
});
    </script>
{% endblock js %}
