{% extends "utils.html" %}
{% load show_tags i18n static compress %}
{% block title %}
    {% trans "Casting" %} {{ gl_name }} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "Assign participants to roles by reviewing their preferences and running the casting optimization algorithm" %}
{% endblock info %}
{% block content %}
    <div id="main_casting">
        {% if features.questbuilder %}
            <p>
                {% trans "Casting management for:" %}
                {% if not typ %}
                    <strong>{% trans "characters" %}</strong>
                {% else %}
                    <a href="{% url 'orga_casting' run.get_slug %}">{% trans "characters" %}</a>
                {% endif %}
                {% for idx, qt in quest_types.items %}
                    {% if typ == qt.uuid %}
                        | <strong>{{ qt.name }}</strong>
                    {% else %}
                        | <a href="{% url 'orga_casting' run.get_slug qt.uuid %}">{{ qt.name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <form action="{{ request.path }}"
              method="post"
              enctype="multipart/form-data">
            <div class="casting ">
                <p>{{ result }}</p>
                <p id="not_chosen"></p>
                <p id="didnt_choose"></p>
                {% csrf_token %}
                <table>
                    <tr>
                        <th>{% trans "Tier" %}</th>
                        <th>{% trans "Payment" %}</th>
                        {% if features.membership %}
                            <th>{% trans "Membership" %}</th>
                        {% endif %}
                        {% if features.faction %}
                            <th>{% trans "Factions" %}</th>
                        {% endif %}
                        <th></th>
                    </tr>
                    <tr>
                        <td>{{ form.tickets }}</td>
                        <td>{{ form.pays }}</td>
                        {% if features.membership %}<td>{{ form.memberships }}</td>{% endif %}
                        {% if features.faction %}<td>{{ form.factions }}</td>{% endif %}
                        <td>
                            <input type="submit"
                                   name='update'
                                   value="{% trans "Update" %}"
                                   class="max_width">
                        </td>
                    </tr>
                </table>
            </div>
            <p class="hide">
                {% trans "Participants:" %} <span id="num_pl"></span>, {% trans "Characters:" %} <span id="num_ch"></span>
            </p>
            <hr />
            <div class="centerized">
                <button id="exec">{% trans "Start algorithm" %}</button>
            </div>
            <hr />
            <i>({% trans "The optimal allocation based on the set values is simulated; you can run it as many times as you like before final loading" %})</i>
            <hr />
            <p>
                <i>{% trans "Guide:" %}
                    <span class="YES">YES</span> - {% trans "Choice available, click to lock" %},
                    <span class="NO">NO</span> - {% trans "Choice locked, click to make it available" %},
                    <span class="MR">MR</span> - {% trans "Mirror type character, not selectable" %},
                    <span class="CH">CH</span> - {% trans "Character already assigned, not selectable" %},
                    <span class="EP">EP</span> - {% trans "Preference not valid" %}
                </i>
            </p>
            <hr />
            <table id="main_grid">
                <thead>
                </thead>
                <tbody>
                    <!-- filled later -->
                </tbody>
            </table>
            <hr />
            <div id="risultati"></div>
            <div id="load" class="centerized">
                <input id="res" name="res" type="hidden" />
                <input type="submit"
                       id="go"
                       name="submit"
                       onclick="return window.lmTesting ? true : confirm('Are you sure? There's no coming back!')"
                       value="{% trans "Upload" %}" />
                <p>
                    {% trans "Assign selected characters to participants." %}
                    <br />
                    <i>({% trans "Attention: the operation is final, please double-check the assignments before uploading!" %})</i>
                </p>
            </div>
        </form>
        <p id="assegnazioni"></p>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static "node_modules/javascript-lp-solver/prod/solver.js" %}"></script>
    <script>
window['num_pref'] = {{ num_choices }};
window['choices'] = {{ choices | safe }};
window['players'] = {{ players | safe }};
window['chosen'] = {{ chosen | safe }};
window['not_chosen'] = {{ not_chosen | safe }};
window['preferences'] = {{ preferences | safe }};
window['didnt_choose'] = {{ didnt_choose | safe }};
window['nopes'] = {{ nopes | safe }};
window['taken'] = {{ taken | safe }};
window['mirrors'] = {{ mirrors | safe }};
window['casting_avoid'] = {{ casting_avoid | yesno:"true,false" }};
window['avoids'] = {{ avoids | safe }};
window['csrf_token'] = "{{ csrf_token }}";
{% if quest_type %}
window['toggle_url'] = "{% url 'orga_casting_toggle' run.get_slug quest_type.uuid %}";
window['orga_casting_url'] = "{% url 'orga_casting' run.get_slug quest_type.uuid %}";
{% else %}
window['toggle_url'] = "{% url 'orga_casting_toggle' run.get_slug %}";
window['orga_casting_url'] = "{% url 'orga_casting' run.get_slug %}";
{% endif %}

window['reg_priority'] = {{ reg_priority }};
window['pay_priority'] = {{ pay_priority }};

window['trads'] = {
    'g': '{% filter escapejs %}{% trans "Player" %}{% endfilter %}',
    'p': '{% filter escapejs %}{% trans "Priority" %}{% endfilter %}',
    'e': '{% filter escapejs %}{% trans "Avoid" %}{% endfilter %}',
    'ne': '{% filter escapejs %}{% trans "Elements NOT chosen" %}{% endfilter %}',
    'ge': '{% filter escapejs %}{% trans "Participants that DID NOT send preferences" %}{% endfilter %}',
    'le': '{% filter escapejs %}{% trans "Email list" %}{% endfilter %}'
}

    </script>
    {% compress js %}
        <script defer src="{% static 'larpmanager/casting.js' %}"></script>
    {% endcompress %}
{% endblock js %}
