{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Copy" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "Copy selected elements from another event into this event" %}
{% endblock info %}
{% block content %}
    <p>
        {% trans "Select which elements to copy, from which other event. In the next step you will select the single elements." %}
    </p>
    <p>
        <i>{% trans "ATTENTION: Elements of this event with the same name are overwritten" %}</i>
    </p>
    <br />
    <br />
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <table class="mob ">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
