{% extends "utils.html" %}
{% load i18n show_tags %}
{% block body_class %}
    {% if frame %}floating_iframe{% endif %}
{% endblock body_class %}
{% block title %}
    {% if exe %}
        {% if creation %}
            {% trans "New" %}
        {% else %}
            {{ name }}
        {% endif %}
        - {{ form1.page_title }}
    {% else %}
        {{ form1.page_title }} - {{ run.search | truncatechars:50 }}
    {% endif %}
{% endblock title %}
{% block info %}
    {% if not frame %}{{ form1.page_info }}{% endif %}
{% endblock info %}
{% block content %}
    {% include "elements/form/load_template.html" with form=form1 %}
    {% include "elements/form/load_template.html" with form=form2 %}
    {% include "elements/form/informations.html" with form=form1 %}
    {% include "elements/form/errors.html" with form=form1 %}
    {% include "elements/form/errors.html" with form=form2 %}
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data"
          id="main_form">
        {% csrf_token %}
        {% if frame %}<input type="hidden" name="frame" value="1">{% endif %}
        <div class="form_container auto_resize">
            <table>
                {% include "elements/form/inner.html" with form=form1 %}
                {% include "elements/form/inner.html" with form=form2 %}
            </table>
        </div>
        <input id="form_submit" type="submit" value="{% trans "Confirm" %}">
        <br />
    </form>
    {% if additional %}{{ additional | safe }}{% endif %}
{% endblock content %}
{% block js2 %}
    {{ form1.media }}
    {{ form2.media }}
    {% include "elements/form/max_length.js" %}
    {% include "elements/form/jump_section.js" %}
    {% include "elements/working-ticket.js" with edit_uuid=num %}
    {% if form1.campaign_hide_template %}
        {% include "elements/form/campaign_hide_template.js" %}
    {% endif %}
    {% include "elements/helpers/iframe_resize.js" %}
{% endblock js2 %}
