{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "One-Time Access Tokens" %} - {{ event.name }}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="onetimes_tokens" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Content" %}</th>
                <th>{% trans "Token" %}</th>
                <th>{% trans "Access Link" %}</th>
                <th>{% trans "Note" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Usage date" %}</th>
                <th>{% trans "User" %}</th>
                <th>IP Address</th>
                <th>{% trans "Created" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'orga_onetimes_edit' run.get_slug el.content.uuid %}">{{ el.content.name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'orga_onetimes_tokens_edit' run.get_slug el.uuid %}">
                            <code>{{ el.token|truncatechars:16 }}</code>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'onetime_access' el.token %}"
                           target="_blank"
                           class="btn btn-sm btn-primary">
                            <i class="fa fa-external-link"></i> {% trans "Open Link" %}
                        </a>
                        <button class="btn btn-sm btn-secondary"
                                onclick="navigator.clipboard.writeText('{{ request.scheme }}://{{ request.get_host }}{% url 'onetime_access' el.token %}'); this.innerHTML='<i class=\'fa fa-check\'></i> {% trans "Copied" %}'; setTimeout(() => this.innerHTML='<i class=\'fa fa-copy\'></i> {% trans "Copy URL" %}', 2000);">
                            <i class="fa fa-copy"></i> {% trans "Copy URL" %}
                        </button>
                    </td>
                    <td>{{ el.note|truncatewords:10 }}</td>
                    <td>
                        {% if el.used %}
                            <span class="badge badge-danger">{% trans "Used" %}</span>
                        {% else %}
                            <span class="badge badge-success">{% trans "Unused" %}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if el.used_at %}{{ el.used_at|date:"SHORT_DATETIME_FORMAT" }}{% endif %}
                    </td>
                    <td>
                        {% if el.used_by %}{{ el.used_by.get_full_name }}{% endif %}
                    </td>
                    <td>
                        {% if el.ip_address %}<code>{{ el.ip_address }}</code>{% endif %}
                    </td>
                    <td>{{ el.created|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No access tokens generated yet. Create one-time content items first, then generate tokens for distribution." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
