{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Reading" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "Browse and search all writing elements for this event, including characters, plots, factions, and more" %}
{% endblock info %}
{% block content %}
    <table id="reading" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Presentation" %}</th>
                <th>{% trans "Text" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in alls %}
                <tr id="{{ el.type }}_{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{{ el.url }}" qtip="{% trans "Read" %}"><i class="fas fa-book-open"></i> </a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.type }}</td>
                    <td>{{ el.teaser_red | safe }}</td>
                    <td>{{ el.text_red | safe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No writing elements are available for this event yet. Create characters, plots, factions, or other elements to see them listed here." %}
        </p>
    {% endif %}
{% endblock content %}
