{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {{ name }} - {% trans "Translate" %}
{% endblock title %}
{% block info %}
    {% trans "Edit event-specific translation overrides to customize terminology and displayed text" %}
{% endblock info %}
{% block content %}
    <form action="{{ request.path }}"  method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
