{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Upload" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Upload data directly from CSV file." %}
{% endblock info %}
{% block content %}
    {% if typ == 'registration' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if fields %}
            <p>
                {% trans "You can optionally add columns for the registration questions, allowed values for the header are:" %}
                {% for field in fields.keys %}
                    {% include "elements/comma.html" %}
                    "{{ field }}"
                {% endfor %}
                .
            </p>
        {% endif %}
        <p>
            <i>{% trans "Note that existing registrations with the same participant email, will be overwritten with the uploaded data." %}</i>
        </p>
        <p>
            <b>{% trans "To add a registration to a participant, they must have consented to share their data with your organization; otherwise, their entry will be skipped." %}</b>
        </p>
    {% elif typ == 'registration_ticket' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <i>{% trans "Note that existing tickets with the same name, will be overwritten with the uploaded data." %}</i>
        </p>
    {% elif typ == 'exp_abilitie' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <i>{% trans "Note that existing abilities with the same name, will be overwritten with the uploaded data." %}</i>
        </p>
    {% elif typ == 'exp_criterion' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <i>{% trans "Note that existing criterions with the same number, will be overwritten with the uploaded data." %}</i>
        </p>
    {% elif typ == 'exp_deliverie' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <i>{% trans "Note that existing deliveries with the same name, will be overwritten with the uploaded data." %}</i>
        </p>
    {% elif typ == 'exp_rule' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <i>{% trans "Note that existing rules with the same number, will be overwritten with the uploaded data." %}</i>
        </p>
    {% elif typ == 'exp_modifier' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <i>{% trans "Note that existing modifiers with the same number, will be overwritten with the uploaded data." %}</i>
        </p>
    {% elif typ == 'exp_ability_type' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <i>{% trans "Note that existing ability types with the same name, will be overwritten with the uploaded data." %}</i>
        </p>
    {% elif typ == 'registration_form' or typ == 'matchmaker_form' %}
        <h2>{% trans "Questions" %}</h2>
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr />
        <h2>{% trans "Options" %}</h2>
        <p>{% trans "You can also upload a second file with the registration options:" %}</p>
        <table>
            {% for column, description in columns.1.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr />
        <p>
            <i>{% trans "Note that existing elements with the same name, will be overwritten with the uploaded data." %}</i>
        </p>
    {% elif typ == 'character_form' %}
        <h2>{% trans "Questions" %}</h2>
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below:" %}</p>
        <table>
            {% for column, description in columns.0.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr />
        <h2>{% trans "Options" %}</h2>
        <p>{% trans "You can also upload a second file with the registration options:" %}</p>
        <table>
            {% for column, description in columns.1.items %}
                <tr>
                    <th>
                        <h3>{{ column | safe }}</h3>
                    </th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr />
        <p>
            <i>{% trans "Note that existing elements with the same name, will be overwritten with the uploaded data." %}</i>
        </p>
    {% else %}
        <h2>{{ name | title }}</h2>
        <p>{% trans "The first line of the file are the field names that you want to upload." %}</p>
        <p>
            {% trans "Allowed values are:" %}
            {% for field in fields.keys %}
                {% include "elements/comma.html" %}
                "{{ field }}"
            {% endfor %}
            .
        </p>
        <p>
            {% trans "The only mandatory column is" %} "{{ field_name }}".
            {% trans "The other fields are optional." %}
        </p>
        <p>
            <i>{% trans "Note that existing elements with the same name, will be overwritten with the uploaded data." %}</i>
        </p>
        {% if typ == 'character' and features.relationships %}
            <h2>{% trans "Relationships" %}</h2>
            <p>{% trans "To upload relationships, add a second file with the following columns" %}</p>
            <table>
                {% for column, description in columns.1.items %}
                    <tr>
                        <th>
                            <h3>{{ column | safe }}</h3>
                        </th>
                        <td>{{ description | safe }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% elif typ == 'plot' %}
            <h2>{% trans "Roles" %}</h2>
            <p>{% trans "To upload roles of the characters in the plots, add a second file with the following columns" %}</p>
            <table>
                {% for column, description in columns.1.items %}
                    <tr>
                        <th>
                            <h3>{{ column | safe }}</h3>
                        </th>
                        <td>{{ description | safe }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
    <p>
        <a href="{% url 'orga_upload_template' run.get_slug typ %}">{% trans "Download example template" %}</a>
    </p>
    <br />
    <br />
    {% trans "Select the files to upload (must be in CSV format, encoded in UTF-8):" %}
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        {% if typ == 'registration' %}
            <table>
                <tr>
                    <th>{% trans "Registrations" %}</th>
                    <td>{{ form.first }}</td>
                </tr>
            </table>
        {% elif typ == 'registration_form' or typ == 'matchmaker_form' or typ == 'character_form' %}
            <table>
                <tr>
                    <th>{% trans "Questions" %}</th>
                    <td>{{ form.first }}</td>
                </tr>
                <tr>
                    <th>{% trans "Options" %}</th>
                    <td>{{ form.second }}</td>
                </tr>
            </table>
        {% else %}
            <table>
                <tr>
                    <th>{{ name | title }}</th>
                    <td>{{ form.first }}</td>
                </tr>
                {% if typ == 'character' and features.relationships %}
                    <tr>
                        <th>{% trans "Relationships" %}</th>
                        <td>{{ form.second }}</td>
                    </tr>
                {% elif typ == 'plot' %}
                    <tr>
                        <th>{% trans "Roles" %}</th>
                        <td>{{ form.second }}</td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
        <br />
        <input type="hidden" name="upload" value="elements">
        <input type="submit" value="Submit">
    </form>
    <hr />
{% endblock content %}
