{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Utils" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "Manage uploaded resource files available to participants for this event" %}
{% endblock info %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="utils" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Size" %}</th>
                <th>{% trans "External link" %}</th>
                <th>{% trans "Internal link" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'orga_utils_edit' run.get_slug el.uuid %}">{{ el }}</a>
                    </td>
                    <td>
                        {% if el.util %}{{ el.util.size }}{% endif %}
                    </td>
                    <td>
                        {% if el.cod %}
                            <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'util' el.cod %}">{{ request.scheme }}://{{ request.get_host }}{% url 'util' el.cod %}</a>
                        {% endif %}
                    </td>
                    <td>#{{ el.cod }}#</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No resource files have been uploaded yet. Use the button above to add a new file or link." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
