{% load i18n %}
<div {% include "django/forms/widgets/attrs.html" %}>
    {% for group, options, index in widget.optgroups %}
        {% if group %}
            <div>
                <label>{{ group }}</label>
            {% endif %}
            {% for option in options %}
                <div class="opt-wrap{% if widget.collapse_unselected and not option.selected %} opt-collapsed hide{% endif %}">
                    {% include option.template_name with widget=option %}
                </div>
            {% endfor %}
            {% if group %}</div>{% endif %}
    {% endfor %}
    {% if widget.collapsible %}
        <a href="#" class="opt-show-more">
            <span class="sl-show{% if not widget.collapse_unselected %} hide{% endif %}"><i class="fa-regular fa-eye"></i> {% trans "Show other options" %}</span>
            <span class="sl-hide{% if widget.collapse_unselected %} hide{% endif %}"><i class="fa-regular fa-eye-slash"></i> {% trans "Hide other options" %}</span>
        </a>
    {% endif %}
</div>
