{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Email list" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Export the email list of active registrants for use in newsletters and communications" %}
{% endblock info %}
{% block content %}
    <p>
        {% for el in list %}
            {% include "elements/comma.html" with separator="," %}
            {{ el.1 }}
        {% endfor %}
    </p>
    <table>
        <tr>
            <td>Email address</td>
            <td>First name</td>
            <td>Last name</td>
        </tr>
        {% for el in list %}
            <tr id="{{ el.0 }}">
                <td>{{ el.1 }}</td>
                <td>{{ el.2 | title }}</td>
                <td>{{ el.3 | title }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
