{% extends "utils.html" %}
{% load i18n show_tags static %}
{% block title %}
    {% trans "Users data" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Access personal data fields for all registered participants and staff, along with their character assignments" %}
{% endblock info %}
{% block content %}
    <p>
        <i>{% trans "Please remember that the information on this page was given with the implicit trust that it will be treated with the utmost care." %}</i>
    </p>
    {% if list %}
        <table class="go_datatable" force_buttons>
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Player" %}</th>
                    <th>{% trans "Characters" %}</th>
                    {% for field_name, field_verbose in fields.items %}<th>{{ field_verbose }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for el in list %}
                    <tr>
                        <td class="member_cover">
                            <div class="img_cover"
                                 style="background-image:url('{% if el.profile %}{{ el.profile_thumb.url }}{% else %}{% static 'larpmanager/assets/blank-avatar.svg' %}{% endif %}')">
                            </div>
                        </td>
                        <td>{{ el.display_real }}</td>
                        <td>
                            {% if el.chars %}
                                {% for ch in el.chars %}
                                    {% include "elements/comma.html" %}
                                    {{ ch }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        {% for field_name in fields.keys %}
                            <td>{% lookup el field_name %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-elements-available">
            {% trans "No participant data available yet. It will appear here once users register." %}
        </p>
    {% endif %}
{% endblock content %}
