{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Spam" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Target newsletter subscribers who haven't played this event yet, grouped by language for outreach campaigns" %}
{% endblock info %}
{% block content %}
    <p>{% trans "List of newsletter subscribers who have not yet played this event:" %}</p>
    {% for key, value in lst.items %}
        <h2>{{ key }}</h2>
        <p>
            {% for el in value %}
                {% include "elements/comma.html" with separator="," %}
                {{ el }}
            {% endfor %}
        </p>
    {% endfor %}
{% endblock content %}
