{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Modifiers" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page summarizes the modifiers that are applied to abilities based on other abilities, or character fields" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/edit.html" %}
    <table id="modifiers" class="go_datatable writing" no_header_cols="[5,6]">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Abilities" %}</th>
                <th>{% trans "New cost" %}</th>
                <th>{% trans "Prerequisites" %}</th>
                <th>{% trans "Requirements" %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td>
                        <a href="{% url 'orga_px_modifiers_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        {% if el.cached_rels %}
                            {% for ab_uuid, ab_name in el.cached_rels.ability_rels.list %}
                                {% include "elements/comma.html" %}
                                <a href="{% url 'orga_px_abilities_edit' run.get_slug ab_uuid %}">{{ ab_name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ el.cost }}</td>
                    <td>
                        {% if el.cached_rels %}
                            {% for prereq_uuid, prereq_name in el.cached_rels.prerequisite_rels.list %}
                                {% include "elements/comma.html" %}
                                <a href="{% url 'orga_px_abilities_edit' run.get_slug prereq_uuid %}">{{ prereq_name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if el.cached_rels %}
                            {% for req_uuid, req_name in el.cached_rels.requirement_rels.list %}
                                {% include "elements/comma.html" %}
                                <a href="{% url 'orga_writing_options_edit' run.get_slug 'character' req_uuid %}">{{ req_name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if not forloop.first %}
                            <a href="{% url 'orga_px_modifiers_order' run.get_slug el.uuid 0 %}">
                                <i class="fa-solid fa-arrow-up"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if not forloop.last %}
                            <a href="{% url 'orga_px_modifiers_order' run.get_slug el.uuid 1 %}">
                                <i class="fa-solid fa-arrow-down"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
