{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Rules" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page summarizes the rules that are applied to the computed fields" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/edit.html" %}
    <table id="rules" class="go_datatable writing" no_header_cols="[5,6]">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Abilities" %}</th>
                <th>{% trans "Field" %}</th>
                <th>{% trans "Operation" %}</th>
                <th>{% trans "Amount" %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td>
                        <a href="{% url 'orga_px_rules_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        {% if el.cached_rels %}
                            {% for ab_uuid, ab_name in el.cached_rels.ability_rels.list %}
                                {% include "elements/comma.html" %}
                                <a href="{% url 'orga_px_abilities_edit' run.get_slug ab_uuid %}">{{ ab_name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ el.field }}</td>
                    <td>{{ el.get_operation_display }}</td>
                    <td>{{ el.amount }}</td>
                    <td>
                        {% if not forloop.first %}
                            <a href="{% url 'orga_px_rules_order' run.get_slug el.uuid 0 %}">
                                <i class="fa-solid fa-arrow-up"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if not forloop.last %}
                            <a href="{% url 'orga_px_rules_order' run.get_slug el.uuid 1 %}">
                                <i class="fa-solid fa-arrow-down"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
