{% load i18n static %}
<h4>
    <a href="#" class="my_toggle" tog='instr'>{% trans "Instructions" %}</a>
</h4>
<div class="hide instr">
    <p>
        {% trans "In rich text editors, you can reference other characters directly using their number. When the text is displayed to the participant, the number is automatically replaced with the character's name and a link to their profile. Use these formats:" %}
        <br />
        <b>#XX</b>: {% trans "for bidirectional relationships, where the other character is also aware of the connection." %}
        <br />
        <b>@XX</b>: {% trans "for unidirectional relationships, where the other character is NOT aware of the connection." %}
        <br />
        <b>^XX</b>: {% trans "for no relationship, only to display the other character name." %}
        <br />
        <i>({% trans "When you press one of the special reference symbols, a popup will help you get the reference number of a character; you can also select a reference number to see the character's name." %})</i>
    </p>
</div>
<hr />
