{% load i18n static %}
<h4>
    <a href="#" class="my_toggle" tog='instr'>{% trans "Instructions" %}</a>
</h4>
<div class="hide instr">
    <p>
        {% trans "Select the characters to add to the faction from the drop-down list. Text private to the faction will be shown only to them." %}
    </p>
    <p>
        {% trans "In the text refer to the other characters solely by their number:" %}
        <br />
        <b>#XX</b>: {% trans "If the character belongs to this element." %}
        <br />
        <b>@XX</b>: {% trans "If the character does NOT belong to this element but is only referenced." %}
    </p>
</div>
