{% load i18n static %}
<h4>
    <a href="#" class="my_toggle" tog='instr'>{% trans "Instructions" %}</a>
</h4>
<div class="hide instr">
    <p>
        {% trans "Select the characters to add to the plot from the drop-down list. For each added character, a field will be available for additional plot information." %}
    </p>
    <p>
        {% trans "In the text refer to the other characters solely by their number:" %}
        <br />
        <b>#XX</b>: {% trans "whether the character is aware of the identity of the other trait." %}
        <br />
        <b>@XX</b>: {% trans "whether the character is NOT aware of the identity of the other trait." %}
        <br />
        {% trans "(You can also refer to traits from other quests, but make sure they are always of the same macrotype.)" %}
    </p>
</div>
