{% load show_tags static i18n %}
{% if rel %}
    <style>
        table.rel-item { width: 100%; margin-bottom: 14pt; page-break-inside: avoid; border-collapse: collapse; }
        td.rel-img-cell { width: 100pt; text-align: center; vertical-align: top; padding-right: 6pt; }
        td.rel-text-cell { text-align: left; vertical-align: top; }
        img.rel-img { width: 90pt; height: auto; }
        span.rel-name { font-size: 110%; }
        p.rel-info { line-height: 100%; margin: 0.3em 0 1em 0; }
    </style>
    <h2>{% trans "Relationships" %}</h2>
    {% for el in rel %}
        <table class="rel-item">
            <tr>
                <td class="rel-img-cell">
                    {% if el.player_prof %}<img class="rel-img" src="{{ el.player_prof }}" alt="player profile" />{% endif %}
                </td>
                <td class="rel-text-cell">
                    <p class="rel-info">
                        <span class="rel-name">{{ el.name }}</span>
                        {% if el.title %}- <b>{{ el.title }}</b>{% endif %}
                        {% if el.pronoun %}({{ el.pronoun }}){% endif %}
                        {% if el.player_uuid %}
                            | <b>{% trans "Player:" %}&nbsp;</b>
                            <a href="{% url 'public' el.player_uuid %}">{{ el.player }}</a>
                        {% endif %}
                        {% if el.factions_list %}| {{ el.factions_list }}{% endif %}
                    </p>
                    {% if show_character.teaser and el.teaser %}
                        {% with teaser=el.teaser|truncatechars:800 %}
                            <span class="pdf-inline" style="font-size: {{ el.font_size }}%">{% show_char teaser run 1 %}</span>
                        {% endwith %}
                        <p class="no-inline">-</p>
                    {% endif %}
                    <span class="pdf-inline" style="font-size: {{ el.font_size }}%">{% show_char el.text run 1 %}</span>
                </td>
            </tr>
        </table>
    {% endfor %}
{% endif %}
