{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Competences" %} - {% trans "Organization" %}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="main_table" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Checked" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'exe_competences_edit' el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.descr }}</td>
                    <td>{{ el.count }}</td>
                    <td>
                        <a href="{% url 'exe_competence_detail' el.uuid %}">{% trans "Personal" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">{% trans "No competences have been defined yet. Add one to get started." %}</p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
