{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Competences member" %}
{% endblock title %}
{% block info %}
    {% trans "Browse all contributors across the organization and track which competences and events they are associated with" %}
{% endblock info %}
{% block content %}
    <table id="main_table" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>
                    {% trans "Staff" %} <i class="fa fa-hashtag"></i>
                </th>
                <th>{% trans "Staff" %} ({% trans "List" %})</th>
                <th>
                    {% trans "Competences" %} <i class="fa fa-hashtag"></i>
                </th>
                <th>{% trans "Competences" %} ({% trans "List" %})</th>
            </tr>
        </thead>
        <tbody>
            {% for key, el in list.items %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{% url 'exe_competences_member_detail' el.uuid %}">{{ el.name }}</a>
                    </td>
                    <td>{{ el.working | length }}</td>
                    <td>
                        {% for ec in el.working %}
                            {% include "elements/comma.html" %}
                            {{ ec }}
                        {% endfor %}
                    </td>
                    <td>{{ el.competences | length }}</td>
                    <td>
                        {% for ec in el.competences %}
                            {% include "elements/comma.html" %}
                            {{ ec }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">{% trans "No contributors with competences found in the organization." %}</p>
    {% endif %}
    {{ list | length }}
{% endblock content %}
