{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Competences events" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "Review the full breakdown of competences covered by each contributor for this event" %}
{% endblock info %}
{% block content %}
    {% for el in list %}
        <h2>{{ el.name }}</h2>
        <table>
            {% for ec in el.staff %}
                <tr>
                    <td>{{ ec.member }}</td>
                    <td>{{ ec.exp }}</td>
                    <td>{{ ec.info | safe }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock content %}
