{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Pre registrations" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Track pre-registration counts for all events, broken down by preference order or total" %}
{% endblock info %}
{% block content %}
    <table id="pre_registrations" class="go_datatable">
        <thead>
            <tr>
                <td>{% trans "Name" %}</td>
                {% if preferences %}
                    <td>{% trans "1st choice" %}</td>
                    <td>{% trans "2nd choice" %}</td>
                    <td>{% trans "3rd choice" %}</td>
                    <td>{% trans "4th choice" %}</td>
                    <td>{% trans "5th choice" %}</td>
                {% else %}
                    <td>{% trans "Total" %}</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{% url 'orga_pre_registrations' el.slug %}">{{ el }}</a>
                    </td>
                    {% if preferences %}
                        {% for k, v in el.count.items %}<td>{{ v }}</td>{% endfor %}
                    {% else %}
                        <td>{{ el.total }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No pre-registrations found. Pre-registrations will appear here once participants sign up for upcoming events." %}
        </p>
    {% endif %}
{% endblock content %}
