{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Translations" %} - {% trans "Organization" %}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="text" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Language" %}</th>
                <th>{% trans "Original" %}</th>
                <th>{% trans "Translation" %}</th>
                <th>{% trans "Active" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'exe_translations_edit' el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.language }}</td>
                    <td>{{ el.msgid }}</td>
                    <td>{{ el.msgstr }}</td>
                    <td>
                        {% if el.active %}<i class="fa-solid fa-check"></i>{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'exe_translations_delete' run.get_slug el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No custom translations defined yet. Add a translation to override default interface strings for a specific language." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
