{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans "Payment Verification" %}
{% endblock title %}
{% block info %}
    {% trans "Verify pending payments by uploading a CSV from your bank to match transactions against registrations" %}
{% endblock info %}
{% block content %}
    <h2>{% trans "Upload verified payments" %}</h2>
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        {% trans "Select a file with extension csv. The first column contains the amounts, the second the receipts. Get this data from the bank or an equivalent entity to verify the marked entries." %}
        <br />
        <br />
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    <h2>{% trans "List payments to verify" %} ({{ todo | length }})</h2>
    <table id="todo" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Payment reference" %}</th>
                <th>{% trans "Code" %}</th>
                <th>{% trans "Size" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Payment" %}</th>
                <th></th>
                <th>{% trans "Code" %}</th>
            </tr>
        </thead>
        {% for el in todo %}
            <tr>
                <td>
                    <a href="{% url 'exe_verification_manual' el.uuid %}">{% trans "Verification" %}</a>
                </td>
                <td>{{ el.causal }}</td>
                <td>{{ el.cod }}</td>
                <td>{{ el.mc_gross|format_decimal }}</td>
                <td>{{ el.created | date:"d/m/Y h:m" }}</td>
                <td>{{ el.get_typ_display }}</td>
                <td>
                    {% if el.method %}{{ el.method.name }}{% endif %}
                </td>
                <td>
                    {% if el.invoice %}
                        <a href="{{ el.download }}">{% trans "Receipt" %}</a>
                    {% endif %}
                </td>
                <td>
                    {% if el.reg_cod %}{{ el.reg_cod }}{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if not todo %}
        <p class="no-elements-available">
            {% trans "No payments pending verification. All payments have been verified or none have been submitted yet." %}
        </p>
    {% endif %}
{% endblock content %}
