{% extends "base.html" %}
{% load i18n show_tags %}
{% block datatables_css %}
    {% include "elements/structure/datatables-css.html" %}
{% endblock datatables_css %}
{% block datatables_js %}
    {% include "elements/structure/datatables-js.html" %}
{% endblock datatables_js %}
{% block title %}
    {% trans "Accounting" %} - {% trans "Tokens" %}
{% endblock title %}
{% block content %}
    <div class="user_resize platform">
        {% if member.tokens > 0 %}
            <p>
                {% trans "Total:" %} <b>{{ member.tokens }}</b>. <i>{% trans "They will be used automatically when you sign up for a new event!" %}</i>
            </p>
        {% endif %}
        <p>
            {% trans "Go to the tokens history:" %}
            <a href="#" class="my_toggle" tog='given'>{% trans "Delivered" %}</a>,
            <a href="#" class="my_toggle" tog='used'>{% trans "Consumed" %}</a>
        </p>
        <div class="hide given">
            <h2>{% trans "Delivered" %}</h2>
            <div class="no-more-tables mob">
                <table class="go_datatable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Event" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Amount" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in given %}
                            <tr>
                                <td></td>
                                <td data-title="{% trans "Event" %}">
                                    {% if el.run %}{{ el.run }}{% endif %}
                                </td>
                                <td data-title="{% trans "Date" %}"
                                    data-order="{{ el.created|date:'U' }}">{{ el.created|date:'d/m/Y' }}</td>
                                <td data-title="{% trans "Description" %}">{{ el.descr }}</td>
                                <td data-title="{% trans "Amount" %}">{{ el.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hide used">
            <h2>{% trans "Consumed" %}</h2>
            <div class="no-more-tables mob">
                <table class="go_datatable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Event" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Amount" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in used %}
                            <tr>
                                <td></td>
                                <td data-title="{% trans "Event" %}">{{ el.registration.run }}</td>
                                <td data-title="{% trans "Date" %}"
                                    data-order="{{ el.created|date:'U' }}">{{ el.created|date:'d/m/Y' }}</td>
                                <td data-title="{% trans "Amount" %}">{{ el.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
