{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Join the collection for" %} {{ coll.display_member }}
{% endblock title %}
{% block content %}
    <div class="user_resize platform form_container">
        {% if invoice %}
            {% include "elements/payment_go.html" %}
        {% else %}
            <p>{% trans "Input the amount of your contribution:" %}</p>
            {% include "elements/payment_form.html" %}
        {% endif %}
    </div>
{% endblock content %}
