{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Request refund" %}
{% endblock title %}
{% block content %}
    <div class="user_resize platform">
        <p>{% trans "Indicates the details of the request:" %}</p>
        <form action="{{ request.path }}"  method="post">
            {% csrf_token %}
            <table class="mob ">
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "Submit" %}">
        </form>
    </div>
{% endblock content %}
