{% extends "base.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans "Payment" %} - {{ registration.run }}
{% endblock title %}
{% block content %}
    <div class="user_resize platform form_container">
        {% if invoice %}
            {% if membership_fee_bundled %}
                <p>
                    {% trans "The total registration fee is:" %} <b>{{ registration.tot_iscr|format_decimal }}{{ currency_symbol }}</b>
                </p>
                <p>
                    {% trans "Membership fee" %} {{ year }}: <b>{{ fee }}{{ currency_symbol }}</b>
                </p>
                <hr />
            {% endif %}
            {% include "elements/payment_go.html" %}
        {% else %}
            <p>
                {% trans "The total registration fee is:" %} <b>{{ registration.tot_iscr|format_decimal }}{{ currency_symbol }}</b>
            </p>
            {% if membership_fee_bundled %}
                <p>
                    {% trans "Membership fee" %} {{ year }}: <b>{{ fee }}{{ currency_symbol }}</b>
                </p>
                <p>
                    {% trans "Total payment:" %} <b>{{ quota|format_decimal }}{{ currency_symbol }}</b>
                </p>
                <hr />
            {% endif %}
            {% if registration.tot_payed %}
                <p>
                    {% trans "So far you have paid a total of:" %} <b>{{ registration.tot_payed|format_decimal }}{{ currency_symbol }}</b>
                </p>
            {% endif %}
            {% if features.reg_installments or features.reg_quotas %}
                {% if registration.quota %}
                    <p>
                        {% trans "We ask you to pay the amount requested for the next instalment:" %} <b>{{ registration.quota|format_decimal }}{{ currency_symbol }}</b>
                    </p>
                {% else %}
                    <p>
                        {% trans "We ask you to pay the remaining amount:" %} <b>{{ quota|format_decimal }}{{ currency_symbol }}</b>
                    </p>
                {% endif %}
            {% else %}
                {% if registration.tot_payed %}
                    <p>
                        {% trans "We ask you to pay the remaining amount:" %} <b>{{ registration.quota|format_decimal }}{{ currency_symbol }}</b>
                    </p>
                {% endif %}
            {% endif %}
            {% if not hide_amount %}
                <p>
                    <a href="#" class="my_toggle" tog="form_amount">{% trans "Would you like to pay a different amount?" %}</a>
                </p>
            {% endif %}
            {% include "elements/payment_form.html" %}
        {% endif %}
    </div>
{% endblock content %}
{% block js %}
    <script>
window.addEventListener('DOMContentLoaded', function() {

    $(function() {
        $('.form_amount').hide();
    });
});
    </script>
{% endblock js %}
