{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Competences" %}
{% endblock title %}
{% block content %}
    <p>{% trans "On this page you can mark your specialties to collaborate on our  events." %}</p>
    <p>
        {% trans "Click on the roles you'd like to collaborate on, then enter your degree of experience, and finally indicate precisely your field of experience." %}
    </p>
    <form action="{{ request.path }}"  method="post">
        {% csrf_token %}
        {% for el in list %}
            <h2>
                <a id="{{ el.uuid }}_go">{{ el.name }}</a>
            </h2>
            <div id="{{ el.uuid }}_sec" {% if not el.cmr %}class="hide"{% endif %}>
                <table class="mob">
                    <tr>
                        <th>{% trans "Description" %}</th>
                        <td>{{ el.descr }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Experience" %}</th>
                        <td>
                            <select name="{{ el.uuid }}_exp">
                                <option value="0">{% trans "I am not interested" %}</option>
                                <option value="1">{% trans "I'm interested, but I don't have much experience" %}</option>
                                <option value="2">{% trans "I've done it a few times and have some basic experience" %}</option>
                                <option value="3">{% trans "I do it regularly and have considerable experience" %}</option>
                            </select>
                            <span class="helptext">{% trans "Enter your level of experience" %}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Details" %}</th>
                        <td>
                            <textarea rows="2" cols="60"  name="{{ el.uuid }}_info"></textarea>
                            <span class="helptext">{% trans "Enter precisely your field of experience" %}</span>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        <input id="submit" type="submit" value="{% trans "Confirm" %}">
        <br />
        <br />
    </form>
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(function() {
    {% for el in list %}
    $('#{{ el.uuid }}_go').on('click', function() { $('#{{ el.uuid }}_sec').toggle(500); });

    {% if el.cmr %}
    $('select[name="{{ el.uuid }}_exp"]').val("{{ el.cmr.exp }}");
    $('textarea[name="{{ el.uuid }}_info"]').val("{{ el.cmr.info }}");
    {% endif %}

    {% endfor %}
});
});
    </script>
{% endblock js %}
