{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Questions" %}
    {% if run %}- {{ run.search | truncatechars:50 }}{% endif %}
{% endblock title %}
{% block content %}
    <div class="form_container user_resize platform">
        <h2>{% trans "Submit a new question" %}</h2>
        <br />
        <form action="{{ request.path }}"
              method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <table class="mob ">
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "Confirm" %}">
        </form>
        <hr />
        <h2>{% trans "Event communications" %}</h2>
        {% for el in list %}
            <div class="plot question{% if el.is_user %} user{% endif %}">
                {% if el.run %}[{{ el.run }}] -{% endif %}
                {{ el.text }}
                {% if el.attachment %}
                    &nbsp;&nbsp;&nbsp;(<a href="{% url 'help_attachment' el.uuid %}" target="_blank">{% trans "Attachment" %}</a>)
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
