{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Language" %}
{% endblock title %}
{% block info %}
    {% trans "Choose your preferred language" %}
{% endblock info %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% include "larpmanager/member/profile_nav.html" %}
    {% endif %}
    <div class="user_resize platform form_container">
        <hr class="no_v20" />
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}
