{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Privacy" %}
{% endblock title %}
{% block info %}
    {% trans "Manage which organizations can access your personal data" %}
{% endblock info %}
{% block content %}
    {% include "larpmanager/member/profile_nav.html" %}
    <div class="user_resize platform">
        <hr class="no_v20" />
        <p>
            <i>
            {% trans "Your data will be saved in the system, which is used by several associations. We value the privacy of your data and will treat it with the utmost care. In particular, they will only be made visible to the organisers of the events you decide to register for. They will not be communicated, shared or processed in any other way." %}</i>
        </p>
        <hr />
        <p>{% trans "Here is the complete list of all organizations that have access to your data." %}</p>
        <p>{% trans "You can withdraw your consent to data sharing by clicking the related link." %}</p>
        <hr />
        <table class="mob">
            <tr>
                <th>{% trans "Organization" %}</th>
                <th>{% trans "Newsletter" %}</th>
                <th></th>
            </tr>
            {% for el in joined %}
                <tr>
                    <th>{{ el.association }}</th>
                    <td>{{ el.get_newsletter_display }}</td>
                    <td>
                        <a href="{% url 'profile_privacy_rewoke' el.association.slug %}"
                           class="delete">{% trans "Remove consent" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
