{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Personal info" %}
{% endblock title %}
{% block info %}
    {% trans "Update your personal data" %}
{% endblock info %}
{% block content %}
    {% include "larpmanager/member/profile_nav.html" %}
    <div class="user_resize platform">
        <hr class="no_v20" />
        <p>
            {% trans "You are logged in with an email address:" %} <i>{{ member.email }}</i>.
            <a href="{% url 'ticket' 'email' %}">{% trans "Would you like to change it?" %}</a>
        </p>
        <hr />
        {% if vote_open %}
            <p>
                {% trans "Voting for the Executive is open" %},
                <a href="{% url 'vote' %}">{% trans "submit your vote here!" %}</a>.
            </p>
            <hr />
        {% endif %}
        <p>
            <i>{% trans "Your data will be saved in the system, which is used by several associations. We value the privacy of your data and will treat it with the utmost care. In particular, they will only be made visible to the organisers of the events you decide to register for. They will not be communicated, shared or processed in any other way. You can check and edit the list of organizations that can access your data on" %}<a href="{% url 'privacy' %}">privacy</a>.</i>
        </p>
        <hr />
        {% if custom_text %}
            {{ custom_text | safe }}
            <hr />
        {% endif %}
        <p>
            <i>(*) : {% trans "These fields are required" %}</i>
        </p>
        <form action="{{ request.path }}"
              enctype="multipart/form-data"
              method="post"
              id="profile_form">
            {% csrf_token %}
            <div class="form_container">
                <table>
                    {{ form.as_table }}
                    {% if avatar_form %}
                        {% url 'profile_upload' as av_upload %}
                        {% url 'profile_rotate' 1 as av_rot_l %}
                        {% url 'profile_rotate' 0 as av_rot_r %}
                        <tr>
                            <th>
                                <label>{% trans "Profile image" %}</label>
                            </th>
                            <td>
                                {% include "elements/avatar_upload.html" with avatar_current_src=profile avatar_upload_url=av_upload avatar_rotate_l_url=av_rot_l avatar_rotate_r_url=av_rot_r avatar_confirm_selector="input[type=submit]" %}
                                <div class="helptext avatar_help">
                                    {% trans "Upload your profile photo. It will be shown to other participants. Please choose a clear and easily recognizable photo!" %}
                                </div>
                                {% if 'profile' in form.mandatory %}<div id="avatar_error"></div>{% endif %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock content %}
{% block js %}
    <script>
{% if form.country_subdivisions_map %}
    var countrySubdivisions = {{ form.country_subdivisions_map | safe }};

    function province_update() {
        let countryCode = $('#id_residence_address_0').val();
        let $provinceSelect = $('#id_residence_address_1');


        if (countrySubdivisions[countryCode] && countrySubdivisions[countryCode].length > 0) {
            $provinceSelect.empty().append('<option value="" disabled selected>----</option>');
            $.each(countrySubdivisions[countryCode], function(index, subdivision) {
                $provinceSelect.append(new Option(subdivision[1], subdivision[0]));
            });
            $provinceSelect.prop('required', true);
        } else {
            $provinceSelect.empty().append('<option value="" selected>----</option>');
            $provinceSelect.prop('required', false);
        }

        {% if form.initial_province %}
        if ($provinceSelect.find('option[value="{{ form.initial_province }}"]').length) {
            $provinceSelect.val('{{ form.initial_province }}');
        }
        {% endif %}

    }

{% endif %}

    window.addEventListener('DOMContentLoaded', function() {

        $(function () {

            {% if form.country_subdivisions_map %}

                {% if form.initial_nation %}
                    province_update();
                {% else %}
                    $('#id_residence_address_0').prepend('<option value="----" disabled selected>----</option>');
                {% endif %}

                $('#id_residence_address_0').on('change', province_update);
            {% endif %}

            {% if 'profile' in form.mandatory %}
                $('#profile_form').on('submit', function(e) {
                    $('#avatar_error').empty();
                    if ($('#profile').hasClass('hide')) {
                        e.preventDefault();
                        $('#avatar_error').html("<p><b class='form-error' style='color: var(--ter-clr);'>{% trans "Please upload your profile photo!" %}</b></p>");
                        window.jump_to('#avatar_dropzone');
                    }
                });
            {% endif %}

        });
    });

    </script>
{% endblock js %}
