{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {% trans "Technical Support" %}
{% endblock title %}
{% block content %}
    <div class="form_container user_resize">
        {% if reason == 'email' %}
            <p>
                {% trans "To request a change of your e-mail address, please indicate both your old and your new address. We will send you a confirmation e-mail when the change has been made." %}
            </p>
        {% else %}
            <p>
                {% trans "Did you encounter an error, or did you find a text with an incorrect translation in your language? Describe it in the field below and we will fix it as soon as possible!" %}
            </p>
        {% endif %}
        <br />
        <form action="{{ request.path }}"
              method="post"
              enctype="multipart/form-data"
              id="main_form">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <p>
                <!-- empty space -->
            </p>
            <input id="cnt" type="submit" value="{% trans "Confirm" %}" />
        </form>
    </div>
{% endblock content %}
