{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans "Executive Vote" %} {{ year }}
{% endblock title %}
{% block content %}
    <div class="user_resize platform">
        {% if done %}
            <p>
                <i>{% trans "We confirm that your votes are correctly registered in the system! Thank you for participating in the democratic life of the Organization!" %}</i>
            </p>
        {% else %}
            {% if vote_open %}
                <div class="centerized">
                    <h3>{% trans "Candidates" %}</h3>
                    <p>
                        <i>
                            {% trans "Minimum number of votes:" %} {{ vote_min }}.
                            {% trans "Maximum number of votes:" %} {{ vote_max }}.
                        </i>
                    </p>
                    <form action="{{ request.path }}"  method="post">
                        {% csrf_token %}
                        <table class="mob ">
                            {% for el in candidates %}
                                <tr>
                                    <td>
                                        {% if el.profile %}
                                            <img src="{{ el.profile_thumb.url }}"
                                                 class="vote-profile"
                                                 alt="profile of {{ el }}" />
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               id="vote_{{ el.uuid }}"
                                               name="vote_{{ el.uuid }}"
                                               class="votes">
                                    </td>
                                    <td>
                                        <b>{{ el }}</b>
                                    </td>
                                    <td>{{ el.presentation | safe }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input id="submit" type="submit" value="{% trans "Confirm" %}" disabled>
                        <br />
                        <br />
                    </form>
                </div>
            {% else %}
                <p>
                    <i>{% trans "Vote not yet open!" %}</i>
                </p>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(document).ready(function () {
    $( "input.votes" ).change(function() {
        var cnt = $( "input.votes:checked" ).length;
        // console.log(cnt);
        $( "#submit" ).attr("disabled", cnt < {{ vote_min }} || cnt > {{ vote_max }} );
    });
});
});
    </script>
{% endblock js %}
