{% load i18n %}
{% if widgets.accounting and widgets.accounting.global_sum or widgets.accounting.bank_sum %}
    <div class="grid-item">
        <h2>
            <a href="{% url 'exe_accounting' %}" target="_blank"><i class="fa-solid fa-calculator"></i> {% trans "Accounting" %}</a>
        </h2>
        <table>
            {% if widgets.accounting.global_sum != 0 %}
                <tr>
                    <th descr="{% trans "Operating margin, taking into account the budgets of completed events, minus credits or tokens issued." %}">
                        <a href="#" class="sidebar-link">{% trans "Global balance" %}</a>
                        <a href="#" class="explain-icon"><i class="fas fa-question-circle"></i></a>
                        <td>{{ widgets.accounting.global_sum }}</td>
                    </th>
                </tr>
            {% endif %}
            {% if widgets.accounting.bank_sum != 0 %}
                <tr>
                    <th descr="{% trans "Net financial availability, held in the organization's bank and financial accounts." %}">
                        <a href="#" class="sidebar-link">{% trans "Overall balance" %}</a>
                        <a href="#" class="explain-icon"><i class="fas fa-question-circle"></i></a>
                        <td>{{ widgets.accounting.bank_sum }}</td>
                    </th>
                </tr>
            {% endif %}
        </table>
    </div>
{% endif %}
