{% load i18n %}
{% if list %}
    <div class="grid-item">
        <h2 id="{{ typ }}">
            {% if typ == "priorities" %}
                <i class="fa-solid fa-triangle-exclamation"></i> {% trans "Priorities" %}
            {% elif typ == "actions" %}
                <i class="fa-solid fa-square-check"></i> {% trans "Actions" %}
            {% elif typ == "suggestions" %}
                <i class="fa-solid fa-circle-info"></i> {% trans "Suggestions" %}
            {% endif %}
        </h2>
        <table>
            {% for obj in list %}
                <tr>
                    <td>
                        {{ obj.text | safe }}
                        <a href="{{ obj.href }}"
                           class="action-link"
                           data-slug="{{ obj.slug }}"
                           data-modal-eligible="true">
                            {% if obj.icon %}
                                <i class="fa-solid fa-{{ obj.icon }}"></i>
                            {% else %}
                                {{ obj.link }}
                            {% endif %}
                        </a>
                    </td>
                    {% if typ == "suggestions" %}
                        <td>
                            <span class="list-close">
                                {% if event %}
                                    <a href="{% url 'orga_close_suggestion' run.get_slug obj.slug %}">
                                        <i class="fa fa-window-close" aria-hidden="true"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'exe_close_suggestion' obj.slug %}">
                                        <i class="fa fa-window-close" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
