{% load i18n %}
<div class="grid-item" id="orga_event_widget">
    <h2>
        <a href="{% url 'orga_event' run.get_slug %}" target="_blank"><i class="fa-solid fa-calendar-days"></i> {% trans "Event" %}</a>
    </h2>
    <table>
        <tr>
            <th>{% trans "Name" %}</th>
            <td>
                <b>{{ run }}</b>
                <a href="{% url 'event' run.get_slug %}"
                   target="_blank"
                   qtip="User link"><i class="fa-solid fa-external-link-alt"></i></a>
            </td>
        </tr>
        {% if event.parent %}
            <tr>
                <th>{% trans "Campaign" %}</th>
                <td>
                    <b>{{ event.parent }}</b>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>{% trans "Dates" %}</th>
            <td>
                <i>{{ run.pretty_dates }}</i>
                <a href="{% url 'orga_run_quick_edit_dates' run.get_slug %}"
                   class="btn btn-sm btn-primary action-link"
                   data-slug="orga_event"
                   data-modal-eligible="true"
                   title="{% trans "Edit dates" %}">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans "Status" %}</th>
            <td>
                {{ run.get_development_display }}
                <a href="{% url 'orga_run_quick_edit_development' run.get_slug %}"
                   class="btn btn-sm btn-primary action-link"
                   data-slug="orga_event"
                   data-modal-eligible="true"
                   title="{% trans "Edit status" %}">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>{% trans "Registrations" %}</td>
            <td>
                {{ run.get_registration_status_display }}
                <a href="{% url 'orga_run_quick_edit_registration' run.get_slug %}"
                   class="btn btn-sm btn-primary action-link"
                   data-slug="orga_event"
                   data-modal-eligible="true"
                   title="{% trans "Edit registration status" %}">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
