{% load i18n %}
<div class="grid-item">
    <h2>
        <a href="{% url 'orga_registrations' run.get_slug %}" target="_blank"><i class="fa-solid fa-clipboard-list"></i> {% trans "Registrations" %}</a>
    </h2>
    {% if features.registration_secret and not registrations_open and run.registration_secret %}
        <p>
            <a href="{% url 'register_exclusive' run.get_slug run.registration_secret %}"
               target="_blank">{% trans "Secret registration link" %}</a>
            <button class="copy-link-btn"
                    data-url="{% url 'register_exclusive' run.get_slug run.registration_secret %}"
                    title="{% trans "Copy link to clipboard" %}">
                <i class="fa-solid fa-copy"></i>
            </button>
        </p>
    {% endif %}
    {% if registration_counts %}
        <table>
            <tbody>
                {% for key, count in registration_counts.items %}
                    {% if count %}
                        <tr>
                            <th>{{ key }}</th>
                            <td>{{ count }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            <i>{% trans "No registrations found." %}</i>
        </p>
    {% endif %}
</div>
