{% load i18n static %}
<div class="tooltip {% if par == "index" %}active{% endif %}">
    <a href="{% url 'home' %}">Home</a>
</div>
<div class="tooltip {% if par == "coming" %}active{% endif %}">
    <a href="{% url 'index_coming' %}">{% trans "Coming soon" %}</a>
    <div class="lm_tooltiptext">{% trans "Discover the coming soon events!" %}</div>
</div>
<div class="tooltip {% if par == "all" %}active{% endif %}">
    <a href="{% url 'index_all' %}">{% trans "Repertoire" %}</a>
    <div class="lm_tooltiptext">{% trans "View the complete list of our events!" %}</div>
</div>
