{% load i18n %}
<table id="deadlines_{{ run.id }}" class="go_datatable">
    <thead>
        <tr>
            <th>{% trans "Problem" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Number" %}</th>
            <th>{% trans "Names" %}</th>
            <th>{% trans "Email" %}</th>
        </tr>
    </thead>
    <tbody>
        {% if res.memb_del %}
            <tr>
                <td>
                    <b>{% trans "Cancellation for missing membership registration" %}</b>
                </td>
                <td>{% trans "Tolerance exceeded, proceed with the cancellation" %}</td>
                <td>{{ res.memb_del|length }}</td>
                <td>
                    {% for el in res.memb_del %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.memb_del %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.fee_del %}
            <tr>
                <td>
                    <b>{% trans "Cancellation for missing yearly membership fee" %}</b>
                </td>
                <td>{% trans "Tolerance exceeded, proceed with the cancellation" %}</td>
                <td>{{ res.fee_del|length }}</td>
                <td>
                    {% for el in res.fee_del %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.fee_del %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.pay_del %}
            <tr>
                <td>
                    <b>{% trans "Cancellation for missing payment" %}</b>
                </td>
                <td>{% trans "Tolerance exceeded, proceed with the cancellation" %}</td>
                <td>{{ res.pay_del|length }}</td>
                <td>
                    {% for el in res.pay_del %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.pay_del %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.profile_del %}
            <tr>
                <td>
                    <b>{% trans "Cancellation for missing profile" %}</b>
                </td>
                <td>{% trans "Tolerance exceeded, proceed with the cancellation" %}</td>
                <td>{{ res.profile_del|length }}</td>
                <td>
                    {% for el in res.profile_del %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.profile_del %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.memb %}
            <tr>
                <td>
                    <b>{% trans "Membership registration overdue" %}</b>
                </td>
                <td>
                    {% trans "They need to complete it immediately" %} - <a href="{% url 'membership' %}">{% trans "give them this address" %}</a>
                </td>
                <td>{{ res.memb|length }}</td>
                <td>
                    {% for el in res.memb %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.memb %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.fee %}
            <tr>
                <td>
                    <b>{% trans "Delay in yearly membership fee" %}</b>
                </td>
                <td>
                    {% trans "They need to complete it immediately" %} - <a href="{% url 'accounting' %}">{% trans "give them this address" %}</a>
                </td>
                <td>{{ res.fee|length }}</td>
                <td>
                    {% for el in res.fee %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.fee %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.pay %}
            <tr>
                <td>
                    <b>{% trans "Delay in payment" %}</b>
                </td>
                <td>
                    {% trans "They need to complete it immediately" %} - <a href="{% url 'accounting' %}">{% trans "give them this address" %}</a>
                </td>
                <td>{{ res.pay|length }}</td>
                <td>
                    {% for el in res.pay %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.pay %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.profile %}
            <tr>
                <td>
                    <b>{% trans "Delay in profile" %}</b>
                </td>
                <td>
                    {% trans "They need to complete it immediately" %} - <a href="{% url 'profile' %}">{% trans "give them this address" %}</a>
                </td>
                <td>{{ res.profile|length }}</td>
                <td>
                    {% for el in res.profile %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.profile %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.cast %}
            <tr>
                <td>
                    <b>{% trans "Missing casting preferences" %}</b>
                </td>
                <td>
                    {% trans "They need to complete it immediately" %} - <a href="{% url 'casting' run.get_slug %}">{% trans "give them this address" %}</a>
                </td>
                <td>{{ res.cast|length }}</td>
                <td>
                    {% for el in res.cast %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.cast %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.char %}
            <tr>
                <td>
                    <b>{% trans "Character not yet created" %}</b>
                </td>
                <td>
                    <a href="{% url 'characters' %}">{% trans "give them this address" %}</a>
                </td>
                <td>{{ res.char|length }}</td>
                <td>
                    {% for el in res.char %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.char %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if res.char_confirm %}
            <tr>
                <td>
                    <b>{% trans "Character not yet confirmed" %}</b>
                </td>
                <td>
                    <a href="{% url 'characters' %}">{% trans "give them this address" %}</a>
                </td>
                <td>{{ res.char_confirm|length }}</td>
                <td>
                    {% for el in res.char_confirm %}
                        {% include "elements/comma.html" %}
                        {{ el.0 }}
                    {% endfor %}
                </td>
                <td>
                    {% for el in res.char_confirm %}
                        {% include "elements/comma.html" %}
                        {{ el.1 }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
