{% load i18n %}
<div class="centerized">
    {% if form.errors %}
        <p class="payment-form-error">
            {% trans "Warning: the form contains errors in the fields" %} -
            {% for field in form.visible_fields %}
                {% if field.errors %}{{ field.label }} -{% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% if invoice_key %}
            <input type="hidden"
                   name="invoice_key"
                   id="id_invoice_key"
                   value="{{ invoice_key }}" />
        {% endif %}
        {% if amount %}<input type="hidden" name="amount" id="id_amount" value="{{ amount }}" />{% endif %}
        {% if not amount or donate %}
            <table id="payment_form_fields">
                {% if not amount %}
                    <tr>
                        <th>{{ form.amount.label_tag }}</th>
                        <td>{{ form.amount }}</td>
                    </tr>
                {% endif %}
                {% if donate %}
                    <tr>
                        <th>{{ form.descr.label_tag }}</th>
                        <td>{{ form.descr }}</td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
        <p>{% trans "Choose the payment method:" %}</p>
        <table id="payment_form">
            {% for key, el in form.methods.items %}
                <tr id="row_{{ el.slug }}"
                    onclick="toggle_radio('{{ el.slug }}')"
                    class="selable">
                    <th class="hide">
                        <input type="radio" id="{{ el.slug }}" name="method" value="{{ el.slug }}">
                    </th>
                    <th>
                        <img src="{{ el.profile }}"
                             class="payment-logo"
                             alt="payment logo {{ el.name }}" />
                    </th>
                    <th>{{ el.name }}</th>
                    {% if user_fees %}
                        <th>
                            {% if el.fee %}
                                {% trans "Fee:" %} +{{ el.fee }}%
                            {% endif %}
                        </th>
                    {% endif %}
                    <th>{{ el.descr }}</th>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" id="submit" value="{% trans "Submit" %}">
    </form>
</div>
<script>

        function toggle_radio(x) {
            const elem = document.getElementById(x);
            elem.click();

            const collection = document.getElementsByClassName("selable");
            for (let i = 0; i < collection.length; i++) {
                collection[i].classList.remove("sel");
            }

            const row = document.getElementById("row_" + x);
            row.classList.add("sel");

            $("#submit").prop("disabled", false);
        }

    window.addEventListener('DOMContentLoaded', function() {
        $(function() {

            $("#submit").prop("disabled", true);

            // console.log($('.selable').length);

            {% if def_method %}
                $('#row_{{ def_method }}').click();
                $("#submit").click();
            {% else %}

            if ($('.selable').length == 1) {
                $('.selable').first().trigger('click');
            }

            {% endif %}

        });
});
</script>
