{% load i18n static show_tags %}
<p>
    {% trans "You are about to make a payment of:" %} <b>{{ invoice.mc_gross | format_decimal }} {{ currency_symbol }}</b>.
</p>
{% if method == 'redsys' %}
    <form name="from" action="{{ redsys_form.Ds_Redsys_Url }}" method="post">
        <input type="hidden"
               name="Ds_SignatureVersion"
               value="{{ redsys_form.Ds_SignatureVersion }}" />
        <input type="hidden"
               name="Ds_MerchantParameters"
               value="{{ redsys_form.Ds_MerchantParameters }}" />
        <input type="hidden"
               name="Ds_Signature"
               value="{{ redsys_form.Ds_Signature }}" />
        <input type="submit" value="{% trans "Submit" %}">
    </form>
{% endif %}
{% if method == 'sumup' %}
    <div id="sumup-card"></div>
    <script type="text/javascript"
            src="https://gateway.sumup.com/gateway/ecom/card/v2/sdk.js"></script>
    <script type="text/javascript">
      SumUpCard.mount({
        checkoutId: '{{ sumup_checkout_id }}',
        showAmount: true,
        onResponse: function (type, body) {
          // console.log('Type', type);
          // console.log('Body', body);
        },
      });
    </script>
{% endif %}
{% if method == 'stripe' %}<script>window.location.replace("{{ stripe_ck.url }}");</script>{% endif %}
{% if method == 'satispay' %}
    <br />
    <br />
    <a href="https://online.satispay.com/pay/{{ pay_id }}?redirect_url={{ redirect }}">
        <img src="https://online.satispay.com/images/en-pay-red.svg"
             alt="Pay with Satispay"
             id="pay-with-satispay"
             class="satispay-button" />
    </a>
{% endif %}
{% if method == 'paypal' %}
    <div class="paypal">
        <p>{% trans "Follow the link below to complete your payment on the PayPal platform." %}</p>
        {{ paypal_form.render }}
    </div>
{% endif %}
{% if method == 'paypal-old' %}
    <script src="https://unpkg.com/@paypal/paypal-js@5.0.6/dist/iife/paypal-js.min.js"></script>
    <div id="smart-button-container">
        <div id="paypal-buttons"></div>
    </div>
    <script>
    window.paypalLoadScript({
        "client-id": "{{ paypal_business }}",
        currency: "{{ payment_currency }}"
    }).then((paypal) => {
        paypal.Buttons({
            createOrder: function(data, actions) {
                // Set up the transaction
                return actions.order.create({
                    purchase_units: [{
                        "amount": {
                            "value": '{{ invoice.mc_gross | format_decimal }}'
                        },
                        "description": '{{ invoice.causal }}',
                        "custom_id": '{{ invoice.cod }}'
                    }]
                });
            },
            onApprove: async function (data, actions) {
                // console.log(data);
                // console.log(data.orderID);
                return actions.order.capture().then(function (details) {
                    // Payment confirmation happens server-side via the PayPal
                    // IPN handler; here we only send the user to the wait page
                    location.href = '{% url "accounting_wait" %}';
                    });
                }
            }).render("#paypal-buttons");
    });
    </script>
    <br />
    <h3>
        <a href="#" class="my_toggle" tog='paypal2'>{% trans "Experimental" %}</a>
    </h3>
    <div class="paypal2 hide"></div>
{% endif %}
{% if method == 'any' %}
    <p>
        {% trans "Please indicate below the exact method of payment you made. Remember to submit the form, otherwise your payment will not be processed!" %}
    </p>
    <form action="{% url 'accounting_submit' 'any' invoice.uuid request.path %}"
          method="post"
          class="accounting_submit">
        {% csrf_token %}
        <table class="mob ">
            {{ any_form.as_table }}
        </table>
        <input type="submit" value="{% trans "Submit" %}">
    </form>
{% endif %}
{% if method == 'wire' %}
    <p>
        <b><i>{% trans "Important: after completing the transfer, you must return to this page and submit the form at the bottom, otherwise your payment will not be registered!" %}</i></b>
    </p>
    <hr />
    <p>
        <b>(1)</b> {% trans "Use the bank details below to make the transfer from your bank." %}
    </p>
    <p>
        <i>{% trans "Copy the payment reference exactly as shown (in colored text)." %}</i>
    </p>
    <ul>
        <li>
            <b>{% trans "Payment reference" %}</b>: <span class="causal">{{ invoice.causal }}</span>
        </li>
        <li>
            <b>{% trans "Amount" %}</b>: {{ invoice.mc_gross|format_decimal }} {{ payment_currency }}
        </li>
        <li>
            <b>{% trans "Beneficiary" %}</b>: {{ wire_payee }}
        </li>
        <li>
            <b>IBAN</b>: {{ wire_iban }}
        </li>
        {% if wire_bic %}
            <li>
                <b>BIC</b>: {{ wire_bic }}
            </li>
        {% endif %}
        {% if wire_swift %}
            <li>
                <b>SWIFT</b>: {{ wire_swift }}
            </li>
        {% endif %}
        {% if wire_bank_address %}
            <li>
                <b>{% trans "Bank address" %}</b>: {{ wire_bank_address }}
            </li>
        {% endif %}
    </ul>
    <hr />
    <p>
        <b>(2)</b>
        {% if require_receipt %}
            {% trans "Once the transfer is confirmed, upload the payment receipt below. You can upload a file in PDF format or an image." %}
        {% else %}
            {% trans "Once the transfer is confirmed, submit the form below to notify us of your payment." %}
        {% endif %}
    </p>
    <form action="{% url 'accounting_submit' 'wire' invoice.uuid request.path %}"
          enctype="multipart/form-data"
          method="post"
          class="accounting_submit">
        {% csrf_token %}
        <br />
        {{ wire_form.as_p }}
        <br />
        <input type="submit" value="{% trans "Submit" %}">
    </form>
{% endif %}
{% if method == 'paypal_nf' %}
    <p>{% trans "Follow the steps below:" %}</p>
    <p>
        <b>(1)</b> {% trans "Click on the image below (Paypal.me) to open the payment." %}
    </p>
    <p>
        <b>(2)</b> {% trans "Copy and paste all the coloured text below exactly into the notes field." %}
        <b>({% trans "this is important!" %})</b>
    </p>
    <p class="causal">{{ invoice.causal }}</p>
    <p>
        <b>(3)</b> {% trans "Indicates that payment is sent 'to friends and family'." %}
    </p>
    <p>
        <b>(4)</b>
        {% if require_receipt %}
            {% trans "Once you have made the payment, return to this page, and upload below the screenshot of the confirmation sent by Paypal." %}
        {% else %}
            {% trans "Once you have made the payment, return to this page and submit the form below to notify us of your payment." %}
        {% endif %}
    </p>
    <hr />
    <form action="{% url 'accounting_submit' 'paypal_nf' invoice.uuid request.path %}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        {{ wire_form.as_p }}
        <input type="submit" value="{% trans "Submit" %}">
    </form>
    <hr />
    <p>
        <b><i>{% trans "Please be careful to perform these steps - otherwise your  payment will not be processed!" %}</i></b>
    </p>
    <hr />
    <a href="https://PayPal.Me/{{ paypal_nf_handle }}/{{ invoice.mc_gross | floatformat:2 }}"
       target="_blank">
        <img id="paypal-me-img"
             src="{% static 'larpmanager/assets/img/paypal_me.png' %}"
             alt="paypal me button" />
    </a>
{% endif %}
<script>

    window.addEventListener('DOMContentLoaded', function() {
        $(function() {

            $('form').each(function() {
                var actionUrl = $(this).attr('action');
                var newActionUrl = actionUrl.replace(/([^:]\/)\/+/g, '$1');
                $(this).attr('action', newActionUrl);
            });

        });

    });

</script>
