{% load i18n %}
{% if run_status.status_type == "action_needed" or run_status.status_type == "provisional" or run_status.status_type == "pending" or run_status.status_type == "request_pending" %}
    {% if run_status.action %}
        <div class="reg-banner only_v22 reg-{{ run_status.status_type }}">
            <span class="reg-action-main">
                {% if run_status.status_type == "pending" %}
                    <i class="fa-solid fa-clock"></i>
                {% elif run_status.status_type == "action_needed" %}
                    <i class="fa-solid fa-circle-exclamation"></i>
                {% elif run_status.status_type == "provisional" %}
                    <i class="fa-solid fa-hourglass-half"></i>
                {% elif run_status.status_type == "request_pending" %}
                    <i class="fa-solid fa-user-clock"></i>
                {% endif %}
                {% if run_status.action.url %}
                    <a href="{{ run_status.action.url }}" class="reg-action-link">{{ run_status.action.label_long|default:run_status.action.label }} <i class="fa-solid fa-chevron-right"></i></a>
                {% else %}
                    <span class="reg-action-info">{{ run_status.action.label_long|default:run_status.action.label }}</span>
                {% endif %}
            </span>
            {% if run_status.action.note %}<span class="reg-action-note">{{ run_status.action.note }}</span>{% endif %}
        </div>
    {% endif %}
{% endif %}
{% for character_action in run_status.character_actions %}
    {% if character_action.status_type == "todo" %}
        <div class="reg-banner only_v22 reg-action_needed">
            <span class="reg-action-main">
                <i class="{{ character_action.icon }}"></i>
                <a href="{{ character_action.url }}" class="reg-action-link">{{ character_action.label_long|default:character_action.label }} <i class="fa-solid fa-chevron-right"></i></a>
            </span>
        </div>
    {% endif %}
{% endfor %}
{% if run_status.casting_action %}
    <div class="reg-banner only_v22 reg-action_needed">
        <span class="reg-action-main">
            <i class="{{ run_status.casting_action.icon }}"></i>
            <a href="{{ run_status.casting_action.url }}" class="reg-action-link">{{ run_status.casting_action.label_long|default:run_status.casting_action.label }} <i class="fa-solid fa-chevron-right"></i></a>
        </span>
    </div>
{% endif %}
