{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {{ char.name }} - {{ run.search }}
{% endblock title %}
{% block nav %}
    {% include "larpmanager/manage/nav.html" %}
{% endblock nav %}
{% block content %}
    <div class="character">
        {% if missing_fields %}
            <i>{% trans "The character has missing values in required fields:" %} {{ missing_fields }}</i>
            <hr />
        {% endif %}
        <div class="gallery single sheet-cols">
            <div class="el">
                <div class="icon">
                    <img src="{% get_char_profile char %}"
                         alt="character profile"
                         id="char_profile" />
                </div>
            </div>
            <div class="text">
                <div class="presentation">
                    <div class="first">
                        {% include "elements/sheet/presentation.html" %}
                        {% if check %}
                            {% include "elements/sheet/fields.html" with char=sheet_char %}
                        {% else %}
                            {% include "elements/sheet/fields.html" %}
                        {% endif %}
                    </div>
                    {% include "elements/sheet/teaser.html" %}
                </div>
            </div>
        </div>
        <div class="sheet">
            {% if check %}
                <hr class="clear" />
                {% include "elements/sheet/pdf.html" %}
                {% if intro %}<div class="char_intro">{{ intro | safe }}</div>{% endif %}
                {% include "elements/sheet/experience.html" %}
                {% include "elements/sheet/inventories.html" %}
                {% include "elements/sheet/factions.html" %}
                {% include "elements/sheet/guilds.html" %}
                {% include "elements/sheet/texts.html" with char=sheet_char %}
                {% include "elements/sheet/plots.html" %}
                {% include "elements/sheet/quests.html" %}
                {% include "elements/sheet/relationships.html" %}
                {% include "elements/sheet/questbuilder.html" %}
                {% include "elements/sheet/speedlarp.html" %}
                {% include "elements/sheet/prologue.html" %}
            {% else %}
                {% include "elements/sheet/texts.html" %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js">});</script>
    {% if pref %}
        <script>
function go_chart() {

    var context = document.getElementById('myChart');
    if (context === null) return;
    context = context.getContext('2d');

    var myChart = new Chart(context, {
        type: 'bar',
        data: {
            labels: [{% with ""|center:casting_max as range %}{% for _ in range %}{% include "elements/comma.html" with separator="," %} "{{ forloop.counter }}"{% endfor %}{% endwith %}],
            datasets: [{
                label: '',
                data:[{% with ""|center:casting_max as range %}{% for _ in range %}{% include "elements/comma.html" with separator="," %}{% get_field pref.2 forloop.counter %}{% endfor %}{% endwith %}],
                backgroundColor: [{% with ""|center:casting_max as range %}{% for _ in range %}{% include "elements/comma.html" with separator="," %}'rgba(54, 162, 235, 0.8)'{% endfor %}{% endwith %}],
                borderWidth: 0
            }]
        },
        options: {
            plugins: {
                datalabels: {
                    display: false,
                },
                legend: {
                    display: false
                },
                label: {
                    display: false
                },
            },
            responsive: false,
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'rgb(255, 255, 255)',
                        stepSize: 1
                    },
                    grid: {
                        color: 'rgba(255, 255, 255, 0.4)',
                        display: true
                    }
                },
                x: {
                    ticks: {
                        color: 'rgb(255, 255, 255)'
                    },
                    grid: {
                        color: 'rgba(255, 255, 255, 0.4)',
                        display: true
                    }
                }
            }
        }
    });
}

window.addEventListener('DOMContentLoaded', function() {
    $( document ).ready(function() {
        go_chart();
    });

});
        </script>
    {% endif %}
{% endblock js %}
