{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {{ run }}
{% endblock title %}
{% block info %}
    {% trans "Browse the characters and participants of the event" %}
{% endblock info %}
{% block content %}
    {% if factions %}
        {% for fnum in factions_typ.s %}
            {% with factions|get:fnum as f %}
                {% if f.characters %}
                    {% if f.name %}
                        <h1 class="title">
                            {% if f.thumb %}
                                <img class="faction-logo faction-logo-title"
                                     src="{{ f.thumb }}"
                                     alt="faction logo" />
                            {% endif %}
                            {% if show_faction %}
                                <a href="{% url 'faction' run.get_slug f.uuid %}">{{ f.name }}</a>
                            {% else %}
                                {{ f.name }}
                            {% endif %}
                        </h1>
                    {% endif %}
                    <div class="gallery">
                        {% for chnum in f.characters %}
                            {% with chars|get:chnum as ch %}
                                {% if not ch.hide %}
                                    <div class="el">
                                        <div class="icon">
                                            <a href="{% url 'character' run.get_slug ch.uuid %}">
                                                <div class="img_cover"
                                                     style="background-image:url('{% get_char_profile ch %}')"></div>
                                                <div class="icon-name">
                                                    <p>
                                                        {{ ch.name }}
                                                        {% if ch.title %}- {{ ch.title }}{% endif %}
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endif %}
    {% if guilds %}
        {% for gnum, g in guilds.items %}
            {% if g.characters %}
                {% if g.name %}
                    <h1 class="title">
                        {% if g.thumb %}
                            <img class="faction-logo faction-logo-title"
                                 src="{{ g.thumb }}"
                                 alt="guild logo" />
                        {% endif %}
                        {% if show_guild %}
                            <a href="{% url 'guild' run.get_slug g.uuid %}">{{ g.name }}</a>
                        {% else %}
                            {{ g.name }}
                        {% endif %}
                    </h1>
                {% endif %}
                <div class="gallery">
                    {% for chnum in g.characters %}
                        {% with chars|get:chnum as ch %}
                            {% if not ch.hide %}
                                <div class="el">
                                    <div class="icon">
                                        <a href="{% url 'character' run.get_slug ch.uuid %}">
                                            <div class="img_cover"
                                                 style="background-image:url('{% get_char_profile ch %}')"></div>
                                            <div class="icon-name">
                                                <p>
                                                    {{ ch.name }}
                                                    {% if ch.title %}- {{ ch.title }}{% endif %}
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if registration_list %}
        <h1 class="title">{% trans "Registrants" %}</h1>
        {% include "elements/gallery.html" with list=registration_list %}
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
window.addEventListener('DOMContentLoaded', function() {
    $(document).ready(function() {
      resize_to_fit();
    });
});

function resize_to_fit() {
    $(".icon-name p").each(function( index ) {
        var that = $(this),
            textLength = that.html().length
        ;

        // console.log(textLength);

        if (textLength > 60) {
            that.css('font-size', '60%');
        } else if(textLength > 45) {
            that.css('font-size', '70%');
        } else if(textLength > 30) {
            that.css('font-size', '80%');
        } else if(textLength > 15) {
            that.css('font-size', '90%');
        }
    });

}
    </script>
{% endblock js %}
