{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {% if registration %}
        {% trans "Change gift" %}
    {% else %}
        {% trans "New gift" %}
    {% endif %}
    - {{ run.search }}
{% endblock title %}
{% block content %}
    {% if registration or not run_status.closed %}
        {% if event.website %}
            <p>
                {% blocktranslate with website=event.website %} View all event information and ticket prices on <a target="_blank" href="{{ website }}">the event website</a>.{% endblocktranslate %}
            </p>
            <hr />
        {% endif %}
        {% if custom_text %}
            {{ custom_text | safe }}
            <hr />
        {% endif %}
        <div class="centerized">
            <form id="main_form" action="{{ request.path }}" method="post">
                {% csrf_token %}
                <div>{% include "elements/form/register.html" %}</div>
                <input type="button" id="confirm" value="{% trans "Continue" %}" />
                {% include "elements/form/delete.html" %}
                <div id="riepilogo" class="hide">
                    <br />
                    <table class="mob">
                        <tbody>
                            <tr>
                                <th>
                                    <h3>{% trans "Summary" %}</h3>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="{% trans "Confirm" %}" id="register_go">
                </div>
            </form>
        </div>
    {% endif %}
    {% include "elements/form/register-texts.html" %}
{% endblock content %}
{% block js %}
    {% include "elements/form/register.js" %}
    {% include "elements/form/max_length.js" %}
{% endblock js %}
