{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {% trans "Redeem registration" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    <p>{% trans "You have been gifted a registration to this event, by" %} {{ registration.member }}!</p>
    <p>
        {% trans "By pressing confirm, this registration will be assigned to you, and you will then be duly registered:" %}
    </p>
    <br />
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans "Confirm" %}" />
    </form>
{% endblock content %}
