{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {{ quest.name }} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% if show_quest.teaser %}
        <h2>{{ writing_field_names.teaser }}</h2>
        <div class="plot">{{ quest.teaser | safe }}</div>
    {% endif %}
    {% include "elements/sheet/fields.html" with char=quest_fields %}
    {% if show_trait %}
        <h2>{% trans "Traits" %}</h2>
        {% for el in traits %}
            <div class="go-inline">
                <b>{{ el.name }} </b>
                {% if show_trait.teaser and el.teaser %}- {{ el.teaser | safe }}{% endif %}
                {% include "elements/sheet/fields.html" with char=el.fields %}
            </div>
            <hr class="clear" />
        {% endfor %}
    {% endif %}
{% endblock content %}
