{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {% if registration and not registration.provisional %}
        {% trans "Change registration" %}
    {% else %}
        {% trans "Register" %}
    {% endif %}
    - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Sign up for the event, or update your registration options" %}
{% endblock info %}
{% block content %}
    <div class="form_container user_resize">
        {% if registration and not registration.provisional and features.bring_friend %}
            <hr />
            <h4>{% trans "Bring a friend!" %}</h4>
            <p>
                {% trans "Personal code:" %} <b>{{ registration.uuid }}</b>
            </p>
            <p>{% trans "Copy this code and share it with friends!" %}</p>
            <p>
                {% blocktrans trimmed with discount=bring_friend_discount_to|floatformat:"0" symbol=currency_symbol_symbol %}
                    Friends who use your code get {{ discount }}{{ symbol }} off their ticket.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed with discount=bring_friend_discount_from|floatformat:"0" symbol=currency_symbol_symbol %}
                    You get {{ discount }}{{ symbol }} off for each friend who registers.
                {% endblocktrans %}
            </p>
        {% endif %}
        {% if registration or not run_status.closed %}
            {% if registration or limitations or event.website or not features.laog and event_terms_conditions or not features.laog and association_terms_conditions %}
                <p class="reg-links">
                    {% if registration %}
                        <span><a href="{% url 'unregister' run.get_slug %}">{% trans "Cancel registration" %}</a></span>
                    {% endif %}
                    {% if limitations %}
                        <span><a href="{% url 'limitations' run.get_slug %}">{% trans "Check availability" %}</a></span>
                    {% endif %}
                    {% if event.website %}
                        <span><a target="_blank" href="{{ event.website }}">{% trans "Event website" %}</a></span>
                    {% endif %}
                    {% if not features.laog %}
                        {% if event_terms_conditions %}
                            <span><a href="{% url 'register_conditions' event.slug %}">{% trans "Terms and Conditions" %}</a></span>
                        {% endif %}
                        {% if association_terms_conditions and not event_terms_conditions %}
                            <span><a href="{% url 'register_conditions' %}">{% trans "Terms and Conditions" %}</a></span>
                        {% endif %}
                    {% endif %}
                </p>
            {% endif %}
            {% if custom_text %}{{ custom_text | safe }}{% endif %}
            <form id="register_form"
                  action="{{ request.path }}"
                  method="post"
                  novalidate>
                {% csrf_token %}
                <div>
                    {% include "elements/form/register.html" %}
                    {% if features.discount and 'waiting' not in run_status %}
                        <h1 class="head_discount">
                            <a href="#" class="my_toggle section-link" tog='sec_discount'>
                                {% trans "Discounts" %} <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </h1>
                        <div class="hide sec_discount">
                            <table class="mob section " section="discount">
                                <tr>
                                    <td class="discount_wrp">
                                        <p id="discount_res" class="error hide"></p>
                                        <div id="discount_riep" {% if not discounts %}class="hide"{% endif %}>
                                            <table id="discount_tbl">
                                                <tr>
                                                    <th>{% trans "Name" %}</th>
                                                    <th>{% trans "Value" %}</th>
                                                    <th>{% trans "Deadline" %}</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="discount_input_row">
                                            <input type="text" name="discount" id="id_discount">
                                            <input type="button" value="{% trans "Confirm" %}" id="discount_go">
                                        </div>
                                        <span class="helptext">{% trans "If you have a discount code, enter it here and press enter." %}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                    <input type="button" id="confirm" value="{% trans "Continue" %}" />
                </div>
                <div id="riepilogo" class="hide form_container">
                    <br />
                    <table class="mob">
                        <tbody>
                            <tr>
                                <th>
                                    <h3>{% trans "Summary" %}</h3>
                                </th>
                            </tr>
                            {% if 'membership' in association.features %}
                                {% if not features.laog and membership_amount %}
                                    {% if membership_fee == 'done' %}
                                        <tr>
                                            <td>{% trans "You have already paid your dues for the current year, so you are already covered for this event!" %}</td>
                                        </tr>
                                    {% elif membership_fee == 'future' %}
                                        <tr>
                                            <td>
                                                {% trans "To participate in this event, you will have to pay the annual membership fee of:" %} <b>{{ membership_amount }}{{ currency_symbol }}</b>.
                                            </td>
                                        </tr>
                                    {% elif membership_fee == 'todo' %}
                                        <tr>
                                            <td>
                                                {% trans "To participate in this event, you will have to pay in addition the annual membership fee of:" %} <b>{{ membership_amount }}{{ currency_symbol }}</b>.
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                                {% if member.membership.status == 'e' or member.membership.status == 'j' %}
                                    <tr>
                                        <td>
                                            {% trans "In order to confirm your registration, you must request to register as a member of the Association. The procedure will automatically take you through the required steps." %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            {% if not registration %}
                                <tr>
                                    <td>
                                        {% trans "By proceeding with your registration for this event, you are giving us your authorisation to share your data saved on our platform with the organisers of the event." %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% if not registration_readonly %}
                        <input type="submit" value="{% trans "Confirm" %}" id="register_go">
                    {% endif %}
                </div>
            </form>
        </div>
        {% include "elements/form/register-texts.html" %}
    {% endif %}
{% endblock content %}
{% block js %}
    {% include "elements/form/register.js" %}
    {% include "elements/form/max_length.js" %}
{% endblock js %}
