{% extends "base.html" %}
{% load tz show_tags static i18n compress %}
{% block title %}
    {% trans "Search" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Search and filter the characters of the event" %}
{% endblock info %}
{% block content %}
    {% if hide_login %}
        <p>
            <i>{% trans "Characters are only visible to logged in users:" %} <a href="{% url 'login' %}">{% trans "Login" %}</a></i>
        </p>
    {% elif hide_signup %}
        <p>
            <i>{% trans "Characters are only visible to participants:" %} <a href="{% url 'register' run.get_slug %}">{% trans "Register" %}</a></i>
        </p>
    {% elif not show_character %}
        <p>
            <i>{% trans "Character are not visible at the moment" %}</i>
        </p>
    {% else %}
        {% if features.questbuilder and show_quest %}
            <h2>Quest</h2>
            <p>
                {% trans "Go to the quests of type:" %}
                {% for id, qt in quest_types.items %}
                    {% include "elements/comma.html" %}
                    <a href="{% url 'quests' run.get_slug qt.uuid %}">{{ qt.name }}</a>
                {% endfor %}
            </p>
        {% endif %}
        {% if search_text %}{{ search_text | safe }}{% endif %}
        <div class="c nav">
            <a href="#" class="my_toggle" tog='istr'>{% trans "Instructions" %}</a>
            <a href="#" class="my_toggle" tog='text_search'>{% trans "Search" %}</a>
            <a href="#" class="my_toggle" tog='spec'>{% trans "Status" %}</a>
            {% if factions and factions|length > 1 %}
                <a href="#" class="my_toggle" tog='factions'>{% trans "Factions" %}</a>
            {% endif %}
            {% for idq, options in searchable.items %}
                {% with questions|get:idq as question %}
                    <a href="#" class="my_toggle" tog='custom_field_{{ idq }}'>{{ question.name }}</a>
                {% endwith %}
            {% endfor %}
            <a href="#" class="my_toggle" tog='link_list'>{% trans "Characters link" %}</a>
        </div>
        <div class="c nav hide istr">
            <div class="user_resize">
                <p>{% trans "On this page you can filter characters and directly view their information." %}</p>
                <p>
                    {% trans "In the text search, you can enter any text; the search will be done on the number, name, teaser, player, groups to which the character belong." %}
                </p>
                <p>
                    {% trans "Where you find a button like this, you can press it to perform filtering further." %}<a href="#" onclick="false;">{% trans "Example" %}</a>
                </p>
                <p>
                    {% trans "If you press once, it will be *included* in the search. If a character belongs to at least one inclusion category, it will be shown in the search." %}<a href="#" class="sel" onclick="false;">{% trans "Included" %}</a>
                </p>
                <p>
                    {% trans "If you press a second time, it will be *excluded* in the search. If a character belongs to even one exclusion category, it will not be shown in the search." %}<a href="#" class="nsel" onclick="false;">{% trans "Excluded" %}</a>
                </p>
            </div>
        </div>
        <div class="hide text_search">
            <div class="user_resize">
                <input type="text" id="search" placeholder="{% trans "Insert" %}" />
            </div>
        </div>
        {% if factions and factions|length > 1 %}
            <div id="factions" class="c nav hide factions">
                <div class="user_resize">
                    {% for fnum in factions_typ.s %}
                        {% with factions|get:fnum as f %}
                            {% if f.name %}<a typ="faction" tog="{{ f.number }}" href="#">{{ f.name }}</a>{% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% if factions_typ.t %}
                        <br />
                        <br />
                        {% for fnum in factions_typ.t %}
                            {% with factions|get:fnum as f %}
                                {% if f.name %}<a typ="faction" tog="{{ f.number }}" href="#">{{ f.name }}</a>{% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% for idq, options_id in searchable.items %}
            <div class="c nav hide custom_field_{{ idq }}">
                <div class="user_resize">
                    {% for ido in options_id %}
                        {% with options|get:ido as option %}
                            <a typ="field_{{ idq }}" href="#" tog="{{ ido }}">{{ option.name }}</a>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div id="spec" class="c nav hide spec">
            <div class="user_resize">
                {% trans "Player:" %}
                <a typ="spec" href="#" tog="pl">{% trans "Assigned" %}</a>
            </div>
        </div>
        <div class="hide link_list">
            <div class="user_resize">
                <div id="top"></div>
                <span class="helptext">{% trans "Click on a name to go and view it directly." %}</span>
            </div>
        </div>
        <div id="search-results">
            <div class="user_resize">
                <h3>
                    {% trans "Characters list" %} (<span class="num"></span>)
                </h3>
                <table>
                    <tr>
                        <th>{% trans "You are including (at least one of these filters)" %}</th>
                        <th>{% trans "You are excluding (none of these filters)" %}</th>
                    </tr>
                    <tr>
                        <td>
                            <span class="incl"></span>
                        </td>
                        <td>
                            <span class="escl"></span>
                        </td>
                    </tr>
                </table>
                <div id="characters"></div>
                <div class="clearer"></div>
            </div>
        </div>
        <div id="teasers" class="hide">
            {% for chnum, el in chars.items %}
                {% if not el.hide %}
                    <div class="{{ el.uuid }}">{% show_char el.teaser run 1 %}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
window['all'] = {{ chars_json | safe }};

window['facs'] = {{ factions_json | safe }};

window['blank'] = "{% static 'larpmanager/assets/blank-avatar.svg' %}";

window['char_url'] = "{% url 'character' run.get_slug '0' %}";

window['prof_url'] = "{% url 'public' '0' %}";

window['faction_url'] = "{% url 'faction' run.get_slug 0 %}";

window['cover'] = {% if features.cover %} true {% else %} false {% endif %};

window['cover_orig'] = {% if cover_orig %} true {% else %} false {% endif %};

window['show_char'] = {% if show_character %} true {% else %} false {% endif %};

window['show_teaser'] = {% if show_character.teaser %} true {% else %} false {% endif %};

window['texts'] = {
    'abs': '{% filter escapejs %}{% trans "Absent" %}{% endfilter %}',
    'pl': '{% filter escapejs %}{% trans "Player" %}{% endfilter %}',
    'cfields': '{% filter escapejs %}{% trans "Additional fields" %}{% endfilter %}',
    'factions': '{% filter escapejs %}{% trans "Factions" %}{% endfilter %}',
    'specs': '{% filter escapejs %}{% trans "Status" %}{% endfilter %}',
    'none': '{% filter escapejs %}{% trans "None" %}{% endfilter %}',
    'all': '{% filter escapejs %}{% trans "All" %}{% endfilter %}',
}

window['fields'] = {}

window['questions'] = {{ questions_json | safe }};
window['options'] = {{ options_json | safe }};
window['searchable'] = {{ searchable_json | safe }};

    </script>
    {% compress js %}
        <script defer src="{% static 'larpmanager/search.js' %}"></script>
    {% endcompress %}
{% endblock js %}
