{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Cancel your registration" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    <div class="user_resize platform">
        <h3>{% trans "We're sorry to see you go!" %}</h3>
        <p>{% trans "Unfortunately these things happen." %}</p>
        {% if event_terms_conditions %}
            <hr />
            <p>
                {% trans "You can consult" %}<a href="{% url 'register_conditions' event.slug %}">{% trans " here the conditions of disenrollment for this event." %}</a>
            </p>
        {% elif association_terms_conditions %}
            <hr />
            <p>
                {% trans "You can consult" %}<a href="{% url 'register_conditions' %}">{% trans " here the conditions of disenrollment for this event." %}</a>
            </p>
        {% endif %}
        <p>{% trans "Click below to confirm the cancellation:" %}</p>
        <form action="{% url 'unregister' run.get_slug %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="confirmation" value="1" />
            <input type="submit"
                   id="confirm"
                   value="{% trans "Cancel your registration" %}" />
        </form>
    </div>
{% endblock content %}
