{% load static %}
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/00-base.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/01-forms.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/02-tables.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/03-datatables.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/04-popups.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/05-nav.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/06-application.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/07-dashboard.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/08-casting.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/09-widgets.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/10-structure.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/11-topbar.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/12-sidebar.css' %}" />
<link rel="stylesheet"
      href="{% static 'larpmanager/assets/css/larpmanager/13-miscellanea.css' %}" />
