{% load static i18n %}
<div id="sidebar" class="only_v22 topbar">
    <div class="inner new-menu">
        {% include "elements/structure/sidebar-header.html" %}
        <div class="sidebar-section">
            {% for item in profile_nav_items %}
                {% if not item.home %}
                    <span class="sidebar-link-wrap">
                        <a class="sidebar-link{% if item.active %} select{% endif %}"
                           href="{{ item.url }}">
                            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                            <span>{{ item.label }}</span>
                        </a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
        {% include "elements/structure/sidebar-footer.html" %}
    </div>
</div>
