{% load i18n static %}
{% if mobile %}
    {% if user_characters_shortcut %}
        <td class="{% if topbar_admin %}no_mobile{% endif %}">
            <div class="el">
                <a href="{% url 'characters' %}"><i class="fa-solid fa-users"></i></a>
                <span class="label">{% trans "Characters" %}</span>
            </div>
        </td>
    {% endif %}
    {% if user_registrations_shortcut %}
        <td class="{% if topbar_admin %}no_mobile{% endif %}">
            <div class="el">
                <a href="{% url 'registrations' %}"><i class="fa-solid fa-clipboard-list"></i></a>
                <span class="label">{% trans "Registrations" %}</span>
            </div>
        </td>
    {% endif %}
    <td class="{% if topbar_admin %}no_mobile{% endif %}">
        <div class="el">
            <a href="{% url 'accounting' %}">
                <i class="fa-solid fa-wallet"></i>
            </a>
            <span class="label">{% trans "Accounting" %}</span>
        </div>
    </td>
    <td class="{% if topbar_admin %}no_mobile{% endif %}">
        <div class="el">
            <a href="{% url 'profile' %}">
                <i class="fa-solid fa-user-circle"></i>
            </a>
            <span class="label">{% trans "Profile" %}</span>
        </div>
    </td>
    {% if app_integration_redirect_url %}
        <td class="{% if topbar_admin %}no_mobile{% endif %}">
            <div class="el">
                <a href="{% url 'app_integration_redirect' %}" target="_blank">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                <span class="label">{{ app_integration_button_text|default:"App" }}</span>
            </div>
        </td>
    {% endif %}
    <td>
        <div class="el">
            <a id="menu-open" href="#menu">
                {% if lm or effective_version >= 18 %}
                    <div class="img_cover menu_profile"
                         style="background-image:url('{% if member.profile %}{{ member.profile_thumb.url }}{% else %}{% static 'larpmanager/assets/blank-avatar.svg' %}{% endif %}')">
                    </div>
                {% else %}
                    <i class="fa-solid fa-bars"></i>
                {% endif %}
            </a>
            <span class="label">Menu</span>
        </div>
    </td>
{% else %}
    <td class="right">
        {% if user_characters_shortcut %}
            <div class="el no_v22">
            <a href="{% url 'characters' %}"><i class="fa-solid fa-users"></i>
            <span>{% trans "Characters" %}</span>
        </a>
    </div>
{% endif %}
{% if user_registrations_shortcut %}
    <div class="el no_v22">
    <a href="{% url 'registrations' %}"><i class="fa-solid fa-clipboard-list"></i>
    <span>{% trans "Registrations" %}</span>
</a>
</div>
{% endif %}
<div class="el no_v22">
    <a href="{% url 'accounting' %}">
        <i class="fa-solid fa-wallet"></i>
        <span>{% trans "Accounting" %}</span>
    </a>
</div>
<div class="el no_v22">
    <a href="{% url 'profile' %}">
        <i class="fa-solid fa-user-circle"></i>
        <span>{% trans "Profile" %}</span>
    </a>
</div>
{% if app_integration_redirect_url %}
    <div class="el no_v22">
        <a href="{% url 'app_integration_redirect' %}" target="_blank">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <span>{{ app_integration_button_text|default:"App" }}</span>
        </a>
    </div>
{% endif %}
<div class="el">
    <a id="menu-open" href="#menu">
        <i class="fa-solid fa-bars"></i>
        <span>{% trans "Hi" %}, {{ user.member.display_member }}!</span>
    </a>
</div>
</td>
{% endif %}
