{% load static i18n %}
<div id="topbar">
    <div class="inner">
        <table class="desktop">
            <tr>
                <td class="left">
                    <span class="el">
                        <a href="{% url 'home' %}">
                            <i class="fa-solid fa-house"></i>
                            <span>Home</span>
                        </a>
                    </span>
                </td>
                {% include "elements/structure/topbar-right.html" with mobile=False %}
            </tr>
        </table>
        <table id="topbar-mobile" class="mobile">
            <tr>
                <td>
                    <span class="el">
                        <a href="{% url 'home' %}">
                            <i class="fa-solid fa-house"></i>
                        </a>
                        <span class="label">Home</span>
                    </span>
                </td>
                {% include "elements/structure/topbar-right.html" with mobile=True %}
            </tr>
        </table>
    </div>
</div>
