{% load static i18n %}
<div id="topbar">
    <div class="inner">
        <table class="desktop">
            <tr>
                <td class="left">
                    <span class="el">
                        <a href="{% url 'home' %}">
                            <i class="fa-solid fa-house"></i>
                            <span>Home</span>
                        </a>
                    </span>
                </td>
                <td class="right">
                    <div class="el">
                        <a id="menu-open" href="#menu">
                            <i class="fa-solid fa-bars"></i>
                            <span>Menu</span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
        <table id="topbar-mobile" class="mobile">
            <tr>
                <td class="left">
                    <span class="el">
                        <a href="{% url 'home' %}">
                            <i class="fa-solid fa-house"></i>
                        </a>
                        <span class="label">Home</span>
                    </span>
                </td>
                <td class="right">
                    <div class="el">
                        <a id="menu-open" href="#menu">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                        <span class="label">Menu</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
