{% extends "utils.html" %}
{% load i18n tz show_tags static %}
{% block body_class %}
    floating_iframe outer_delete
{% endblock body_class %}
{% block title %}
    {% trans "Confirm" %}
{% endblock title %}
{% block info %}
{% endblock info %}
{% block content %}
    <form id="approve_confirm_form" method="post">
        {% csrf_token %}
        <input type="hidden" name="frame" value="1">
        <div class="form_container auto_resize">
            <p class="delete-confirm-message">
                {% trans "Are you sure you want to approve this element?" %} {{ el_name|truncatechars:50 }}
            </p>
            <div class="form-actions">
                <input type="submit" value="{% trans "Confirm" %}" class="btn-save">
            </div>
        </div>
    </form>
{% endblock content %}
{% block js2 %}
    {% include "elements/helpers/iframe_resize.js" %}
{% endblock js2 %}
