{% load i18n static %}
{% trans "Your organization has been created" as welcome_intro %}
{% trans "Initialize the platform by creating your first event" as welcome_cta %}
{% trans "You have been redirected to the Event Dashboard" as first_event_intro %}
{% trans "Switch between Organization and Events management" as select_workspace %}
{% trans "Toggle between administrative backend and public-facing pages" as select_side %}
{% trans "Access the pages to manage each different aspect" as select_sidebar %}
{% trans "Complete the setup to unlock full platform features" as lite_mode %}
{% trans "Here you can review the event details and visit its public page" as event_widget %}
{% trans "The sidebar has expanded. New menus will continue to appear as you activate additional modules" as advanced_unlock %}
{% trans "Enable specific features to add specialized functionalities to the platform" as features_sugg %}
{% trans "Write here what you would like to to!" as wwyltd_sugg %}
<script src="{% static 'node_modules/driver.js/dist/driver.js.iife.js' %}"
        defer></script>
<script>
window.addEventListener('DOMContentLoaded', function() {

    function driverWelcome() {
        const driver = window.driver.js.driver;

        let steps = [
          {
            popover: {
              title: '{% filter escapejs %}{% trans "Welcome to" %} {{ association.platform }}!{% endfilter %}',
              description: '{{ welcome_intro | escapejs }}'
            }
          }
        ];

        steps.push({
            element: '#first_event',
          popover: {
            title: '{% filter escapejs %}{% trans "Start here:" %}{% endfilter %}',
            description: '{{ welcome_cta | escapejs }}'
          }
        });

        const driverObj = driver({
            showProgress: true,
            steps: steps,
            allowClose: true,
            popoverClass: 'my-driverjs',
            doneBtnText: '{% filter escapejs %}{% trans "Done" %}{% endfilter %}',
        });

        driverObj.drive();
    }

    function driverFirstEvent() {
        const driver = window.driver.js.driver;

        function ensureTopbarVisible(element) {
            if ($('#topbar-mobile-v22').is(':visible') && !$('#topbar').hasClass('mobile-visible'))
                $('#topbar-mobile-v22').trigger('click');
        }

        function ensureSidebarVisible(element) {
            if ($('#sidebar-mobile-v22').is(':visible') && !$('#sidebar').hasClass('mobile-visible'))
                $('#sidebar-mobile-v22').trigger('click');
        }

        let steps = [
          {
            popover: {
              title: '{% filter escapejs %}{% trans "Event created!" %}{% endfilter %}',
              description: '{{ first_event_intro | escapejs }}'
            }
          },
          {
            element: '#tv22-user-pills',
            onHighlightStarted: ensureTopbarVisible,
            popover: {
              title: '{% filter escapejs %}{% trans "Workspace selector" %}{% endfilter %}',
              description: '{{ select_workspace | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          },
          {
            element: '#tv22-switch',
            onHighlightStarted: ensureTopbarVisible,
            popover: {
              title: '{% filter escapejs %}{% trans "View Selector" %}{% endfilter %}',
              description: '{{ select_side | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          },

          {
            element: '#sidebar .inner',
            onHighlightStarted: ensureSidebarVisible,
            popover: {
              title: '{% filter escapejs %}{% trans "Sidebar" %}{% endfilter %}',
              description: '{{ select_sidebar | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          },
          {
            element: '#orga_event_widget',
            onHighlightStarted: function() {
                $('#sidebar, #topbar').removeClass('mobile-visible');
            },
            popover: {
              title: '{% filter escapejs %}{% trans "Event public page" %}{% endfilter %}',
              description: '{{ event_widget | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          },
        ];

        steps.push({
            element: '#lite-mode',
            popover: {
                title: '{% filter escapejs %}{% trans "Lite Mode active" %}{% endfilter %}',
                description: '{{ lite_mode | escapejs }}'
            }
        });

        const driverObj = driver({
            showProgress: true,
            steps: steps,
            allowClose: true,
            popoverClass: 'my-driverjs',
            doneBtnText: '{% filter escapejs %}{% trans "Done" %}{% endfilter %}',
            onDestroyed: function() {
                $('#sidebar, #topbar').removeClass('mobile-visible');
            },
        });

        driverObj.drive();
    }

    function driverUnlocked() {
        const driver = window.driver.js.driver;

        let steps = [
          {
            popover: {
              title: '{% filter escapejs %}{% trans "Advanced Mode Enabled!" %}{% endfilter %}',
              description: '{{ advanced_unlock | escapejs }}'
            }
          },
          {
            element: '#exe_features',
            popover: {
              title: '{% filter escapejs %}{% trans "Activate modules" %}{% endfilter %}',
              description: '{{ features_sugg | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          },
          {
            element: '#wwyltd',
            popover: {
              title: '{% filter escapejs %}{% trans "Need help?" %}{% endfilter %}',
              description: '{{ wwyltd_sugg | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          }
        ];

        const driverObj = driver({
            showProgress: true,
            steps: steps,
            allowClose: true,
            popoverClass: 'my-driverjs',
            doneBtnText: '{% filter escapejs %}{% trans "Done" %}{% endfilter %}',
        });

        driverObj.drive();

    }

    {% if intro_driver == "welcome" %}
    driverWelcome();
    {% elif intro_driver == "first_event" %}
    driverFirstEvent();
    {% elif intro_driver == "advanced_unlock" %}
    driverUnlocked();
    {% endif %}

});

</script>
