{% extends "utils.html" %}
{% load i18n tz show_tags static %}
{% block body_class %}
    floating_iframe
{% endblock body_class %}
{% block title %}
    {% if edit %}
        {% if nonum is None %}
            {% if num %}
                {{ name }}
            {% else %}
                {% trans "New" %}
            {% endif %}
            -
        {% endif %}
        {{ form.page_title }}
        - {{ run.search | truncatechars:50 }}
    {% endif %}
{% endblock title %}
{% block info %}
{% endblock info %}
{% block content %}
    {% include "elements/form/errors.html" %}
    <form id="manage_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="frame" value="1">
        {% include "elements/form/load_template.html" %}
        <div class="form_container auto_resize">
            <table>
                {% include "elements/form/inner.html" %}
            </table>
        </div>
        <div class="form-actions">
            <input type="submit" value="{% trans "Confirm" %}" class="btn-save">
        </div>
    </form>
{% endblock content %}
{% block js2 %}
    {% include "elements/helpers/iframe_resize.js" %}
{% endblock js2 %}
