{% extends "utils.html" %}
{% load i18n tz show_tags static %}
{% block body_class %}
    floating_iframe
{% endblock body_class %}
{% block title %}
{% endblock title %}
{% block info %}
{% endblock info %}
{% block css %}
    <style>body { visibility: hidden !important; }</style>
{% endblock css %}
{% block content %}
{% endblock content %}
{% block js2 %}
    <script>
    if (window.parent) {
        window.parent.postMessage({type: 'dashboard_form_saved'{% if redirect_url %}, redirect_url: '{{ redirect_url }}'{% endif %}}, '*');
    }
    </script>
{% endblock js2 %}
