{% extends "alpha.html" %}
{% load i18n static %}
{% block banner %}
    <div class="inner">
        <h1>
            {% if association.logo and request.path == '/' %}
                <img src="{{ association.logo }}" class="main_logo no_v22" alt="logo" />
            {% endif %}
            <span>
                {% block title %}
                {% endblock title %}
            </span>
        </h1>
    </div>
{% endblock banner %}
{% block robots %}
    {% if association.id > 0 or staging or not index %}<meta name="robots" content="noindex, nofollow" />{% endif %}
{% endblock robots %}
