{% extends "structure.html" %}
{% load i18n static show_tags %}
{% block main %}
    <!-- Header -->
    <header id="header"
            class="alt {% if manage and is_sidebar_open %}sidebar{% endif %} no_v22">
        <h1>
            <span>
                {% block title %}
                {% endblock title %}
            </span>
        </h1>
    </header>
    <!-- Menu -->
    {% include "elements/structure/menu.html" %}
    {% block wrapper %}
        <!-- Main -->
        <div id="banner">
            {% block banner %}
            {% endblock banner %}
        </div>
        <!-- Wrapper -->
        <div id="wrapper">
            <div id="one" class="wrapper">
                <div class="inner">
                    {% if not request.GET.in_iframe and not request.GET.frame %}
                        <div id="info_bar" class="only_v20">
                            <span id="info">
                                {% block info %}
                                    {% if not frame %}
                                        {% if form %}
                                            {{ form.page_info }}
                                        {% else %}
                                            {{ page_info }}
                                        {% endif %}
                                    {% endif %}
                                {% endblock info %}
                            </span>
                            {% if tutorial %}
                                | <a href="#"
    class="feature_tutorial"
    tut="{{ tutorial }}"
    qtip="Tutorial"><i class="fa-solid fa-graduation-cap"></i> Tutorial</a>
                            {% endif %}
                            {% if config and not lite_mode %}
                                | <a href="{{ config }}"
    class="action-link"
    data-modal-eligible="true"
    data-slug="config"
    qtip="Config"><i class="fa-solid fa-gear"></i> Config</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div id="right_bar" class="no_v20 info nav main_nav no_mobile">
                        {% if tutorial %}
                            <a href="#"
                               class="feature_tutorial"
                               tut="{{ tutorial }}"
                               qtip="Tutorial"><i class="fa-solid fa-graduation-cap"></i></a>
                        {% endif %}
                        {% if config and not lite_mode %}
                            <a href="{{ config }}"
                               class="action-link"
                               data-modal-eligible="true"
                               data-slug="config"
                               qtip="Config"><i class="fa-solid fa-gear"></i></a>
                        {% endif %}
                    </div>
                    {% block nav %}
                        {% include "larpmanager/manage/nav.html" %}
                    {% endblock nav %}
                    <div class="page_{{ request_func_name }} {% block special %}{% endblock special %}">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        <div id="footer"
             class="lm {% if manage and is_sidebar_open %}sidebar{% endif %}">
            <div class="inner">
                {% if association.footer %}
                    <div class="footer-text">
                        <hr />
                        {{ association.footer | safe }}
                    </div>
                {% endif %}
                <table class="mob no_v22">
                    <tr>
                        {% if 'help' in association.features %}
                            <td>
                                <p>
                                    <a href=" {% if run %}{% url 'help' run.get_slug %}{% else %}{% url 'help' %}{% endif %} ">{% trans "Need help?" %}</a>
                                </p>
                            </td>
                        {% endif %}
                        <td>
                            <p>
                                <a href="{% url 'privacy' %}">{% trans "Privacy Policy" %}</a>
                            </p>
                        </td>
                        {% if 'legal_notice' in association.features %}
                            <td>
                                <a href="{% url 'legal_notice' %}">{% trans "Legal Notice" %}</a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'ticket' %}">{% trans "Technical Support" %}</a>
                        </td>
                    </tr>
                </table>
                <p class="no_v22">
                    <!-- Please, do not remove! -->
                    Powered by <a href="https://{{ association.main_domain }}">{{ association.platform }}</a>
                </p>
            </div>
        </div>
        {% if association.demo %}
            <div class="demo-footer">
                <span>
                    {% if association.demo_type_name %}
                        {% blocktrans with name=association.demo_type_name %}You are exploring the "{{ name }}" demo.{% endblocktrans %}
                    {% else %}
                        {% trans "You are exploring a demo organization." %}
                    {% endif %}
                    {% trans "Only some of the platform features are activated." %}
                </span>
                <a href="//{{ association.main_domain }}/get-started/">{% trans "Would you like to try other demos, or are you ready to create your organization?" %} <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            {% include "elements/demo_hint.html" %}
        {% endif %}
    {% endblock wrapper %}
{% endblock main %}
{% block css-req %}
    <style>
        @font-face {
            font-family: 'easyreading';
            src: url('{% static "fonts/easy_reading/EasyReadingPRO.ttf" %}');
            font-display: swap;
        }
    </style>
    <link rel="preload"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    </noscript>
    <link rel="preload"
          href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
    </noscript>
    <link rel="preload"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    </noscript>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css"
          integrity="sha512-8D+M+7Y6jVsEa7RD6Kv/Z7EImSpNpQllgaEIQAtqHcI0H6F4iZknRj0Nx1DCdB+TwBaS+702BGWYC0Ze2hpExQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="//cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css" />
{% endblock css-req %}
{% block js-req %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            defer></script>
    <script id='qtip'
            src="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
            integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            defer></script>
    {% if hotjar_siteid %}
        <!-- Hotjar -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:{{ hotjar_siteid }},hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    {% endif %}
    <script>
    {% get_current_language as LANGUAGE_CODE %}
    const currentLanguage = "{{ LANGUAGE_CODE }}";


    window.addEventListener('DOMContentLoaded', function() {
        $(function() {

            $('div.info').filter(function() {
              return $(this).children().length === 0 && $.trim($(this).text()) === '';
            }).hide();

            $('.logout-form').hide();

            $('.logout-link').on( "click", function(event) {
                event.preventDefault();
                $(this).closest('span, li').siblings('.logout-form').submit();
                return false;
            });

        });

        {% if messages %}
            {% for message in messages %}
                $.toast({
                    text: '{{ message }}',
                    showHideTransition: 'slide',
                    icon: '{{ message.tags }}',
                    position: 'top-center',
                    textAlign: 'center',
                    hideAfter: 5000   // in milli seconds
                });
            {% endfor %}
        {% endif %}

        {% if request.GET.hint_slug %}
            {% activation_hint request.GET.hint_slug as hint_text %}
            {% if hint_text %}
            $.toast({
                text: '{{ hint_text | escapejs }}',
                showHideTransition: 'slide',
                icon: 'info',
                position: 'top-center',
                textAlign: 'center',
                hideAfter: 8000   // in milli seconds
            });
            {% endif %}
        {% endif %}

        {% if form.errors %}
            txt = '{% filter escapejs %}{% trans "Attention: the form contains errors in the following fields." %}{% endfilter %}';
            fls = []
            {% for field in form.visible_fields %}
                {% if field.errors %}
                    fls.push('{{ field.label }}');
                {% endif %}
            {% endfor %}
            // console.log(fls);

            $.toast({
                text: txt + ': ' + fls.join(', '),
                showHideTransition: 'slide',
                icon: 'error',
                position: 'top-center',
                textAlign: 'center',
                hideAfter: 5000   // in milli seconds
            });

        {% endif %}

        $('#delete_confirm').click(function(event) {
            event.preventDefault();
            $('#id_delete').val('1');
            $('#main_form').submit();
        });
    });
    </script>
{% endblock js-req %}
