{% load i18n static show_tags compress %}
{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block maintitle %}
                {% block title %}
                {% endblock title %}
                - {{ association.name }}
            {% endblock maintitle %}
        </title>
        {% block meta %}
            <meta name="keywords" content="{{ association.platform }}">
            <meta name="description" content="{{ association.platform }}">
        {% endblock meta %}
        <meta property="og:url" content="{{ request.path }}">
        <meta property="og:type" content="website">
        <meta property="og:logo" content="{% static 'lm_fav_new.png' %}">
        <style>
            html body .hide {
                display: none;
            }
        </style>
        {% if testing %}<script>window.lmTesting = true;</script>{% endif %}
        {% if association.favicon %}
            <link rel="icon" type="image/png" href="{{ association.favicon }}">
            <link rel="apple-touch-icon" href="{{ association.favicon }}">
            <meta property="og:image" content="{{ association.favicon }}">
        {% else %}
            <link rel="icon" type="image/png" href="{% static 'lm_fav_new.png' %}">
            <link rel="apple-touch-icon" href="{% static 'lm_fav_new.png' %}">
            <meta property="og:image"
                  content="https://larpmanager.com/static/thumbnail.png">
        {% endif %}
        <meta name="thumbnail"
              content="{{ association.logo|default:'https://larpmanager.com/static/thumbnail.png' }}">
        <meta property="og:site_name"
              content="{{ association.name }} - {{ association.platform }}">
        {% block css-req %}
        {% endblock css-req %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        {% block datatables_css %}
            {% if manage %}
                {% include "elements/structure/datatables-css.html" %}
            {% endif %}
        {% endblock datatables_css %}
        {% block robots %}
        {% endblock robots %}
        {{ form.media }}
        {% block css %}
        {% endblock css %}
        {% compress css %}
            <link rel="stylesheet"
                  href="{% static 'solid_state/assets/css/main.css' %}" />
            {% include "elements/structure/css-larpmanager.html" %}
        {% endcompress %}
        {% if association.skin_css %}<style>{{ association.skin_css }}</style>{% endif %}
        {% if association.css_code %}
            <link rel="stylesheet"
                  href="{% get_media_prefix %}/css/{{ association.slug }}_{{ association.css_code }}.css" />
        {% endif %}
        {% if event and event.css_code %}
            <link rel="stylesheet"
                  href="{% get_media_prefix %}/css/{{ association.slug }}_{{ event.slug }}_{{ event.css_code }}.css" />
        {% endif %}
        <noscript>
            <link rel="stylesheet"
                  href="{% static 'larpmanager/assets/css/noscript.css' %}" />
        </noscript>
    </head>
    {% firstof effective_version association.assoc_version 0 as body_eff_ver %}
    <body id="{{ association.name | slugify }}"
          class="is-preload {% block body_class %} {% endblock body_class %} association {% if manage %}manage{% endif %} {{ body_eff_ver|version_body_classes }} {% if member_theme %}theme-{{ member_theme }}{% elif page_theme %}theme-{{ page_theme }}{% endif %} {% if request.GET.in_iframe or request.GET.frame %}in-iframe{% endif %}">
        {% if staging %}<div id="staging">STAGING</div>{% endif %}
        <div id="page-container">
            {% if not frame and association.id != 0 %}
                {% if effective_version >= 22 %}
                    {% include "elements/structure/topbar-v22.html" %}
                {% elif user.is_authenticated %}
                    {% if topbar_admin %}
                        {% include "elements/structure/topbar-admin.html" %}
                    {% else %}
                        {% include "elements/structure/topbar-user.html" %}
                    {% endif %}
                {% else %}
                    {% include "elements/structure/topbar.html" %}
                {% endif %}
                {% include "elements/structure/sidebar.html" %}
            {% endif %}
            <!-- Page Wrapper -->
            <div id="page-wrapper"
                 class="{% if not frame and association.id != 0 %} {% if manage %}manage{% endif %} {% if effective_version >= 22 %} {% if is_sidebar_open != False %}sidebar{% endif %} {% else %} {% if manage and is_sidebar_open %}sidebar{% endif %} {% endif %} topbar{% endif %} ">
                {% block main %}
                {% endblock main %}
            </div>
        </div>
        {% if not frame and is_larpmanager_skin %}
            {% include "elements/dashboard/chat.html" %}
        {% endif %}
        <script>
    var set_language_url = "{% url 'set_language' %}";
    var set_internaz = {{ set_internaz | default:"null" }};
    window.enviro = "{{ request.enviro }}";

window['icon_texts'] = {
    'edit': '{% filter escapejs %}{% trans "Edit" %}{% endfilter %}',
    'up': '{% filter escapejs %}{% trans "Move up" %}{% endfilter %}',
    'down': '{% filter escapejs %}{% trans "Move down" %}{% endfilter %}',
    'delete': '{% filter escapejs %}{% trans "Delete" %}{% endfilter %}',
}
        </script>
        <!-- Scripts -->
        {% block js-req %}
        {% endblock js-req %}
        <!--- script pipeline -->
        {% compress js %}
            <script defer src="{% static 'solid_state/assets/js/breakpoints.min.js' %}"></script>
            <script defer
                    src="{% static 'larpmanager/assets/js/jquery.textfill.min.js' %}"></script>
        {% endcompress %}
        <script>
            let url_feature_description = "{% url 'feature_description' %}";
            let url_tutorials = "{% url 'tutorials' %}";
        </script>
        {% include "elements/dashboard/modal.js.html" %}
        {% include "elements/dashboard/chat.js.html" %}
        {% if manage %}
            <link rel="stylesheet"
                  href="{% static 'admin/css/vendor/select2/select2.min.css' %}">
            <script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
            {% include "elements/dashboard/wwyltd.js.html" %}
        {% endif %}
        {% compress js %}
            <script defer src="{% static 'solid_state/assets/js/util.js' %}"></script>
            <script defer src="{% static 'solid_state/assets/js/main.js' %}"></script>
            <script defer src="{% static 'larpmanager/assets/js/larpmanager.js' %}"></script>
        {% endcompress %}
        {% block js %}
        {% endblock js %}
        {% block js2 %}
        {% endblock js2 %}
        {% block datatables_js %}
            {% if manage %}
                {% include "elements/structure/datatables-js.html" %}
            {% endif %}
        {% endblock datatables_js %}
        {{ TINYMCE_DEFAULT_CONFIG|json_script:"tinymce-config" }}
        <script>
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

        function sidebar() {
            $('#sidebar').toggle();
            $('#header').toggleClass('sidebar');
            $('#page-wrapper').toggleClass('sidebar');
            $('#footer').toggleClass('sidebar');

            $('.sidebar_button').toggle();

            $.ajax({
                url: '{% url "toggle_sidebar" %}',
            });
        }

    window.addEventListener('DOMContentLoaded', function() {

        $(document).ready(function() {

            const csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^GET|HEAD|OPTIONS|TRACE$/.test(settings.type)) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#sidebar-open, #sidebar-close').click(function() {
                sidebar();
            });

            {% if manage and is_sidebar_open %}
                $('#sidebar-close').hide();
            {% else %}
                $('#sidebar-open').hide();
            {% endif %}

            // add origin for manage links
            {% if run %}
                let origin = '{{ run.uuid }}';
            {% else %}
                let origin = '0';
            {% endif %}
            $('a[href].origin').each(function() {
                const url = new URL(this.href);
                url.searchParams.set('origin', origin);
                this.href = url.toString();
            });
        });

    });
        </script>
        <dialog id="lm-modal">
            <div id="lm-modal-content"></div>
        </dialog>
        {% if staging %}
            <script>
            if (getCookie('staging') != 1) {
                if (confirm("WARNING - This is a staging server. Let's just check if you're supposed to be here: if you don't know why this message appeared, please click OK.")) {
                  url = window.location.href;
                  url = url.replace('xyz', 'com');
                  window.location.replace(url);
                } else {
                  setCookie('staging', 1);
                }
            }

            </script>
        {% endif %}
    </body>
</html>
