{% extends "base.html" %}
{% load i18n static %}
{% block special %}
    manage
{% endblock special %}
{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock meta %}
{% block js %}
    {% if form.load_js %}
        {% for item in form.load_js %}
            {% with template_name=item|stringformat:"s"|add:".js" %}
                {% include "elements/helpers/"|add:template_name %}
            {% endwith %}
        {% endfor %}
    {% endif %}
    {% include "elements/table/bulk.js" %}
{% endblock js %}
