{% extends "utils.html" %}
{% load i18n static %}
{% block special %}
    manage
{% endblock special %}
{% block info %}
    {{ page_info }}
{% endblock info %}
{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock meta %}
{% block content %}
    <div class="table-header-row">
        {% include "elements/table/header.html" with writing_header=True %}
        <div class="nav fields">
            <b>{% trans "Fields" %}</b>:
            {% block nav_fields %}
            {% endblock nav_fields %}
            <a href="#" class="table_toggle" tog='stats'>Stats</a>
        </div>
    </div>
    {% for item in split_lists %}
        {% if item.title and item.list %}
            <hr />
            <h2>{{ item.title }}</h2>
        {% endif %}
        <table id="writing_list_{{ run.uuid }}_{{ typ }}_{{ forloop.counter }}"
               class="que_load go_datatable writing_list {% block table_classes %}{% endblock table_classes %}{% if reorder_model %} row_reorder{% endif %}"
               {% block table_reorder_attrs %}
               {% endblock table_reorder_attrs %}
               {% if reorder_model %}data-reorder-url="{% url 'orga_reorder_items' run.get_slug %}" data-reorder-model="{{ reorder_model }}"{% endif %}>
            <thead>
                <th></th>
                {% if reorder_model %}<th></th>{% endif %}
                {% block thead %}
                {% endblock thead %}
            </thead>
            <tbody>
                {% with list=item.list %}
                    {% for el in list %}
                        <tr id="{{ el.uuid }}">
                            <td></td>
                            {% if reorder_model %}
                                <td class="reorder-handle">
                                    <i class="fa-solid fa-grip-vertical"></i>
                                </td>
                            {% endif %}
                            {% block tr_content %}
                            {% endblock tr_content %}
                        </tr>
                    {% endfor %}
                {% endwith %}
            </tbody>
        </table>
        {% if not item.list and not item.title %}
            <p class="no-elements-available">
                <i>{% trans "No elements are currently available" %}</i>
            </p>
        {% endif %}
    {% endfor %}
    {% block additional %}
    {% endblock additional %}
    <div id="excel-edit"></div>
    {% include "elements/form/char_finder.html" %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
{% block js2 %}
    <script defer src="{% static TINYMCE_JS_URL %}"></script>
    {% include "elements/form/max_length.js" %}
    {% if not disable_char_finder %}
        {{ char_finder_media }}
        {% include "elements/form/char_finder.js" %}
    {% endif %}
    {% include "elements/writing/excel-edit.js" %}
    {% include "elements/form/char_highlight.js" %}
    <script>
        var url_load_questions = "{% url 'orga_writing_form_list' run.get_slug label_typ %}";
        var url_load_questions_email = "{% url 'orga_writing_form_email' run.get_slug label_typ %}";

        var accounting = false;

        window.trigger_togs = {{ default_fields | safe }};

        {% include "elements/questions/load.js" %}
    </script>
{% endblock js2 %}
