{% load i18n %}
<p>Hello,</p>
<p>
    I'm Mauro, the developer of LarpManager. I noticed you recently created an organization and wanted to ask for your feedback on the platform so far.
</p>
<p>
    Whether your experience has been positive or negative, your thoughts are extremely valuable in helping us improve LarpManager. If there's anything confusing, missing, or working particularly well, I'd appreciate hearing about it.
</p>
<p>
    If you prefer, we can also schedule a short call to go over the platform and address any questions or ideas you might have!
</p>
<p>Best regards,</p>
<p>
    <em>Mauro</em>
</p>
