{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Assignments" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Review which characters and traits have been assigned to players, grouped by faction" %}
{% endblock info %}
{% block content %}
    <h2>Personaggi</h2>
    <table id="assignments" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Character" %}</th>
                <th>{% trans "Factions" %}</th>
                <th>{% trans "Player" %}</th>
                <th></th>
                <th>{% trans "Pronoun" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for num, cha in chars.items %}
                <tr>
                    <td></td>
                    <td>{{ cha.name }}</td>
                    <td>
                        {% for fnum in cha.factions %}
                            {% with factions|get:fnum as g %}
                                {% if not g.typ == 'g' %}
                                    {% include "elements/comma.html" %}
                                    {{ g.name }}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </td>
                    <td>{{ cha.player_full | default_if_none:"" }}</td>
                    <td>
                        {% if cha.player_prof %}<img src="{{ cha.player_prof }}" height=100 width=100 alt="player profile" />{% endif %}
                    </td>
                    <td>{{ cha.pronoun | default_if_none:"" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No characters have been created yet. Add characters to see their player assignments here." %}
        </p>
    {% endif %}
    {% if features.questbuilder %}
        <h2>{% trans "Traits" %}</h2>
        <table id="traits" class="go_datatable writing">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Trait" %}</th>
                    <th>{% trans "Quest" %}</th>
                    <th>{% trans "Character" %}</th>
                    <th>{% trans "Player" %}</th>
                    <th></th>
                    <th>{% trans "Pronoun" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for tnum, tra in traits.items %}
                    <tr>
                        <td></td>
                        <td>{{ tra.name }}</td>
                        <td>{{ tra.quest.name }}</td>
                        {% if tra.char %}
                            {% with chars|get:tra.char as char %}
                                <td>{{ char.name }}</td>
                                <td>{{ char.player_full }}</td>
                                <td>
                                    {% if char.player_prof %}<img src="{{ char.player_prof }}" height=80 width=80 alt="player profile" />{% endif %}
                                </td>
                                <td>{{ char.pronoun | default_if_none:"" }}</td>
                            {% endwith %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not traits %}
            <p class="no-elements-available">
                {% trans "No traits have been assigned yet. Assign traits to characters via the quest builder." %}
            </p>
        {% endif %}
    {% endif %}
    {% for fnum, fac in factions.items %}
        <h2>{{ fac.name }}</h2>
        <table id="faction-{{ fnum }}" class="go_datatable writing">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Character" %}</th>
                    <th>{% trans "Factions" %}</th>
                    <th>{% trans "Player" %}</th>
                    <th></th>
                    <th>{% trans "Pronoun" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for chnum in fac.characters %}
                    {% with chars|get:chnum as cha %}
                        <tr>
                            <td></td>
                            <td>{{ cha.name }}</td>
                            <td>
                                {% for fnum in cha.factions %}
                                    {% with factions|get:fnum as g %}
                                        {% if not g.typ == 'g' %}
                                            {% include "elements/comma.html" %}
                                            {{ g.name }}
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </td>
                            <td>{{ cha.player_full | default_if_none:"" }}</td>
                            <td>
                                {% if cha.player_prof %}<img src="{{ cha.player_prof }}" height=100 width=100 alt="player profile" />{% endif %}
                            </td>
                            <td>{{ cha.pronoun | default_if_none:"" }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    {% if not fac.characters %}
        <p class="no-elements-available">{% trans "No characters have been assigned to this faction yet." %}</p>
    {% endif %}
{% endblock content %}
