{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    #{{ character.number }} {{ character.name }} - {% trans "Summary" %}
{% endblock title %}
{% block info %}
    {% trans "Preview the factions and plots linked to this character as a compact summary" %}
{% endblock info %}
{% block content %}
    {% for g in factions %}
        <h2>{{ g.name }}</h2>
        <div class="plot">{% show_char g run 1 %}</div>
    {% endfor %}
    {% for p in plots %}
        <h2>T{{ p.number }} {{ p.name }}</h2>
        <div class="plot">{% show_char p run 1 %}</div>
    {% endfor %}
{% endblock content %}
