{% extends "writing_list.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Factions" %} - {{ event.name }}
{% endblock title %}
{% block nav_fields %}
    {% include "elements/writing/questions_nav.html" %}
    <a href="#" class="table_toggle" tog='characters'>{% trans "Characters" %}</a>
{% endblock nav_fields %}
{% block thead %}
    <th></th>
    <th>{{ fields_name.name }}</th>
    <th></th>
    <th>{% trans "Type" %}</th>
    {% if features.user_character %}
        <th>{% trans "Selectable" %}</th>
    {% endif %}
    {% if features.ensemble %}
        <th>{% trans "Color" %}</th>
    {% endif %}
    {% include "elements/writing/questions_header.html" %}
    <th class="characters">{% trans "Characters" %}</th>
    <th class="stats stats-characters">
        <i class="fa fa-hashtag"></i> {% trans "Characters" %}
    </th>
    <th></th>
{% endblock thead %}
{% block tr_content %}
    <td>
        <a href="{% url 'orga_factions_edit' run.get_slug el.uuid %}"
           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
    </td>
    <td class="editable" question_uuid="{{ name_que_uuid }}">{{ el }}</td>
    <td>
        <a href="{% url 'orga_factions_view' run.get_slug el.uuid %}"
           qtip="{% trans "View" %}"><i class="fa-solid fa-book-open"></i></a>
        <a href="{% url 'orga_factions_versions' run.get_slug el.uuid %}"
           qtip="{% trans "Versions" %}"><i class="fas fa-file-alt"></i></a>
        {% if features.print_pdf %}
            <a href="{% url 'orga_factions_sheet_pdf' run.get_slug el.uuid %}"
               download
               qtip="PDF"><i class="fa-solid fa-file-pdf"></i></a>
        {% endif %}
    </td>
    <td>{{ el.get_typ_display }}</td>
    {% if features.user_character %}
        <td>
            {% if el.selectable %}<i class="fa-solid fa-check"></i>{% endif %}
        </td>
    {% endif %}
    {% if features.ensemble %}
        <td>
            {% if el.color %}
                <div style="width: 40px;
                            height: 20px;
                            background-color: {{ el.color }};
                            border-radius: 3px"></div>
            {% endif %}
        </td>
    {% endif %}
    {% include "elements/writing/questions_body.html" %}
    <td class="characters dot_links">
        {% for ch in el.character_rels.list %}
            {% include "elements/comma.html" %}
            <a href="{% url 'orga_characters_edit' run.get_slug ch.0 %}">{{ ch.1 }}</a>
        {% endfor %}
    </td>
    <td class="stats">{{ el.character_rels.count }}</td>
    <td>
        <a href="{% url 'orga_factions_delete' run.get_slug el.uuid %}"
           qtip="{% trans "Delete" %}"
           class="only_new_v18"><i class="fas fa-trash"></i></a>
    </td>
{% endblock tr_content %}
