{% extends "writing_list.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Quest" %} - {{ event.name }}
{% endblock title %}
{% block nav_fields %}
    {% include "elements/writing/questions_nav.html" %}
    <a href="#" class="table_toggle" tog='traits'>{% trans "Traits" %}</a>
{% endblock nav_fields %}
{% block thead %}
    <th></th>
    <th>{{ fields_name.name }}</th>
    <th></th>
    <th>{% trans "Type" %}</th>
    {% include "elements/writing/questions_header.html" %}
    <th class="hide traits">{% trans "Traits" %}</th>
    <th class="hide stats stats-traits">
        <i class="fa fa-hashtag"></i> {% trans "Traits" %}
    </th>
    <th></th>
{% endblock thead %}
{% block tr_content %}
    <td>
        <a href="{% url 'orga_quests_edit' run.get_slug el.uuid %}"
           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
    </td>
    <td class="editable" question_uuid="{{ name_que_uuid }}">{{ el }}</td>
    <td>
        <a href="{% url 'orga_quests_view' run.get_slug el.uuid %}"
           qtip="{% trans "View" %}"><i class="fa-solid fa-book-open"></i></a>
        <a href="{% url 'orga_quests_versions' run.get_slug el.uuid %}"
           qtip="{% trans "Versions" %}"><i class="fas fa-file-alt"></i></a>
    </td>
    <td>{{ el.typ }}</td>
    {% include "elements/writing/questions_body.html" %}
    <td class="hide traits dot_links">
        {% for t in el.trait_rels.list %}
            {% include "elements/comma.html" %}
            <a href="{% url 'orga_traits_edit' run.get_slug t.0 %}">{{ t.1 }}</a>
        {% endfor %}
    </td>
    <td class="hide stats">{{ el.trait_rels.count }}</td>
    <td>
        <a href="{% url 'orga_quests_delete' run.get_slug el.uuid %}"
           qtip="{% trans "Delete" %}"
           class="only_new_v18"><i class="fas fa-trash"></i></a>
    </td>
{% endblock tr_content %}
