{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans "Relationships" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "View and edit all relationships between characters in this event" %}
{% endblock info %}
{% block content %}
    <table id="relationships" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{% trans "Source" %}</th>
                <th>{% trans "Target" %}</th>
                <th>{% trans "Text" %}</th>
                <th>
                    {% trans "Text" %} <i class="fa fa-text-width"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'orga_relationship_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.source }}</td>
                    <td>{{ el.target }}</td>
                    <td>{{ el.text | safe | clean_tags | truncatechars:500 }}</td>
                    <td>{{ el.text | length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">{% trans "No relationships have been defined yet." %}</p>
    {% endif %}
{% endblock content %}
