{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Roles" %} - {{ run.search }}
{% endblock title %}
{% block info %}
    {% trans "Overview of all characters with their assigned role values per role type" %}
{% endblock info %}
{% block content %}
    <table id="roles" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Character" %}</th>
                <th>{% trans "Player" %}</th>
                {% for rl in all_roles %}<th>{{ rl }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for num, char in chars.items %}
                <tr>
                    <td></td>
                    <td>{{ char.name }}</td>
                    <td>{{ char.player_full }}</td>
                    {% for rl in all_roles %}
                        <td>{% get_field char.roles rl %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No characters have been created yet. Add characters to see their role assignments here." %}
        </p>
    {% endif %}
    {% for el in roles_list %}
        <h3>{{ el.0 }}</h3>
        <table id="char_roles" class="go_datatable">
            {% for c in el.1 %}
                <tr>
                    <td>{{ c.0.name }}</td>
                    <td>{{ c.1 }}</td>
                    <td>{{ c.0.player_full }}</td>
                    <td>
                        <img src="{% if c.0.player_prof %}{{ c.0.player_prof }}{% else %}{{ c.0.thumb }}{% endif %}"
                             height="100"
                             width="100"
                             alt="player profile" />
                    </td>
                    <td>{{ c.0.pronoun | default_if_none:"" }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if not roles_list %}
            <p class="no-elements-available">{% trans "No characters have been assigned this role value yet." %}</p>
        {% endif %}
    {% endfor %}
{% endblock content %}
