{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "SpeedLarp" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "Manage speed-larp scenes, their stations, prompt text, and assigned characters" %}
{% endblock info %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="speedlarps"
           class="go_datatable writing row_reorder"
           data-reorder-url="{% url 'orga_reorder_items' run.get_slug %}"
           data-reorder-model="{{ reorder_model }}">
        <thead>
            <tr>
                <th></th>
                <th class="reorder-handle"></th>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th></th>
                {% if features.progress %}
                    <th>{% trans "Progress" %}</th>
                {% endif %}
                <th>{% trans "Number" %}</th>
                <th>{% trans "Station" %}</th>
                {% if features.assigned %}
                    <th class="hide assign">{% trans "Assigned" %}</th>
                {% endif %}
                <th>{% trans "Sheet" %}</th>
                <th>
                    <i class="fa fa-text-width"></i>
                </th>
                <th>{% trans "Characters" %}</th>
                <th>
                    <i class="fa fa-hashtag"></i>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td class="reorder-handle">
                        <i class="fa-solid fa-grip-vertical"></i>
                    </td>
                    <td>
                        <a href="{% url 'orga_speedlarps_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i> </a>
                    </td>
                    <td>{{ el }}</td>
                    <td>
                        <a href="{% url 'orga_speedlarps_view' run.get_slug el.uuid %}"
                           qtip="{% trans "View" %}"><i class="fa-solid fa-book-open"></i></a>
                        <a href="{% url 'orga_speedlarps_versions' run.get_slug el.uuid %}"
                           qtip="{% trans "Versions" %}"><i class="fas fa-file-alt"></i></a>
                    </td>
                    {% if features.progress %}
                        <td>{% include "elements/show_progress.html" with el=el %}</td>
                    {% endif %}
                    <td>{{ el.typ }}</td>
                    <td>{{ el.station }}</td>
                    {% if features.assigned %}
                        <td class="hide assign">
                            {% if el.assigned_id %}{{ assigned|get:el.assigned_id }}{% endif %}
                        </td>
                    {% endif %}
                    <td>{{ el.text_red | safe }}</td>
                    <td>{{ el.text_ln }}</td>
                    <td class="characters dot_links">
                        {% for ch in el.character_rels.list %}
                            {% include "elements/comma.html" %}
                            <a href="{% url 'orga_characters_edit' run.get_slug ch.0 %}">{{ ch.1 }}</a>
                        {% endfor %}
                    </td>
                    <td class="stats">{{ el.character_rels.count }}</td>
                    <td>
                        <a href="{% url 'orga_speedlarps_delete' run.get_slug el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No speed-larp scenes have been created yet. Use the button above to add your first speed-larp scene." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
