{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {{ element }} - {% trans "Versions" %}
{% endblock title %}
{% block info %}
    {% trans "Browse the edit history of this writing element and compare version differences" %}
{% endblock info %}
{% block content %}
    {% for v in versions reversed %}
        {% if v.diff %}
            <h3>
                <a href="{% url 'orga_version' run.get_slug typ v.uuid %}">{% trans "Version" %} {{ v.version }}</a>
                - {{ v.member }} - {{ v.created }}
            </h3>
            <div class="diff-version plot">{{ v.diff | safe }}</div>
        {% endif %}
    {% endfor %}
{% endblock content %}
