{% extends "utils.html" %}
{% load i18n static show_tags %}
{% block body_class %}
    {% if frame %}floating_iframe{% endif %}
{% endblock body_class %}
{% block title %}
    {% if edit_uuid %}
        {{ name }}
    {% else %}
        {% trans "New" %}
    {% endif %}
    - {{ form.page_title }} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% include "elements/form/main.html" %}
    {% include "elements/form/char_finder.html" %}
{% endblock content %}
{% block js2 %}
    {% include "elements/form/max_length.js" %}
    {% include "elements/form/char_highlight.js" %}
    {% if not disable_char_finder %}
        {{ char_finder_media }}
        {% include "elements/form/char_finder.js" %}
    {% endif %}
    <script>
window.addEventListener('DOMContentLoaded', function() {
    $(function() {

        $('form').on('submit', function() {
            return window.lmTesting ? true : confirm('{% filter escapejs %}{% trans "Are you really sure?" %}{% endfilter %}');
        });

        $('option:selected').each(function(){
            $(this).prop('selected',true);
        });

        $('.link_show_char').each(function(){
            v = $(this).text();
            v = v.replace('&$£', '#');
            $(this).text(v);
        });

    });
});
    </script>
    {% if form.plot_reorder_url %}
        {% include "elements/form/plot_reorder.js.html" %}
    {% endif %}
    {% include "elements/working-ticket.js" with num=edit_uuid %}
    {% include "elements/auto-save.js" %}
    {% include "elements/helpers/iframe_resize.js" %}
{% endblock js2 %}
