{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% if character %}
        {{ character }} - {% trans "Edit" %} -
    {% else %}
        {% trans "New character" %} -
    {% endif %}
    {{ run.search }}
{% endblock title %}
{% block content %}
    <div class="user_resize platform">
        {% if user_character_text %}
            {{ user_character_text | safe }}
            <hr />
        {% endif %}
        {% if avatar_form %}
            <div class="centerized">
                <h4>{% trans "Character profile" %}</h4>
                {% url 'character_profile_upload' run.get_slug character.uuid as av_upload %}
                {% url 'character_profile_rotate' run.get_slug character.uuid 1 as av_rot_l %}
                {% url 'character_profile_rotate' run.get_slug character.uuid 0 as av_rot_r %}
                <form action="{{ request.path }}"
                      enctype="multipart/form-data"
                      method="post"
                      id="avatar_form">
                    {% csrf_token %}
                    {% include "elements/avatar_upload.html" with avatar_current_src=custom_profile avatar_upload_url=av_upload avatar_rotate_l_url=av_rot_l avatar_rotate_r_url=av_rot_r avatar_confirm_selector="#confirm" %}
                </form>
                <div class="helptext char_profile">{% trans "Upload a photo of your character specifically for this event!" %}</div>
            </div>
            <hr />
        {% endif %}
        {% include "elements/form/main.html" %}
    </div>
{% endblock content %}
{% block js %}
    {% include "elements/form/max_length.js" %}
    {{ form.unavail|json_script:"unavail" }}
    <script>
    var dependencies = {{ dependencies | safe }};

    var unavail = JSON.parse(document.getElementById('unavail').textContent);

    var hide_unavailable = {{ hide_unavailable | yesno:"true,false" }};

    var diss = '-------';
    var submitted = {{ submitted | safe }};
    var mandatory = {{ form.mandatory | safe }};

    window.addEventListener('DOMContentLoaded', function() {

        $(function () {

            for (const el of ['id_name']) {
                if ( $( "#" + el ).length ) mandatory.unshift(el);
            }

            Object.entries(unavail).forEach(([question, values]) => {
                values.forEach(value => {
                    const selectorPrefix = '#id_que_' + question + '_tr ';
                    if (hide_unavailable) {
                        $(selectorPrefix + 'option[value="' + value + '"]').remove();
                        $(selectorPrefix + 'input[type="checkbox"][value="' + value + '"]').closest('label').remove();
                    } else {
                        $(selectorPrefix + 'option[value="' + value + '"]').prop("disabled", true);
                        $(selectorPrefix + 'input[type="checkbox"][value="' + value + '"]')
                            .prop("disabled", true)
                            .addClass("unavail");
                    }
                });
            });

            $('select').each(function(index, value) {
                var nm = $(this).attr('id').replace("id_", "");

                if (nm == 'factions_list') return;

                // skip in only one option
                if ($(this).find('option').length == 1) return;

                // skip if the value was submitted in a previous POST
                if ((nm in submitted) && submitted[nm]) return;

                $(this).prepend('<option selected="true" disabled="disabled">' + diss + '</option>');
            });

            $('#confirm').on('click', function() {
                if (!check_mandatory()) return false;
            });

            disable_dependencies();

            $('select, input[type="checkbox"], input[type="radio"]').on('change', function() {
                disable_dependencies();
            });

        });

    function check_dependencies(dependencies) {
        let selects = [];
        let checkboxes = [];
        let radios = [];
        let remainingDependencies = [...dependencies]; // Create a copy of the dependencies array to manipulate it

        // Collect the selects that contain dependency values
        $('select').each(function () {
            const name = $(this).attr('name');
            const val = $(this).val();

            if (remainingDependencies.includes(val)) {
                // Remove the found value from dependencies
                remainingDependencies = remainingDependencies.filter(v => v !== val);
                selects.push(name);
            }
        });

        // Collect checkbox groups that contain dependency values
        $('input[type="checkbox"]:checked').each(function () {
            const name = $(this).attr('name');
            const value = $(this).val();

            if (value && remainingDependencies.includes(value)) {
                // Remove the found value from dependencies
                remainingDependencies = remainingDependencies.filter(v => v !== value);
                if (!checkboxes.includes(name)) {
                    checkboxes.push(name);
                }
            }
        });

        // Collect radio groups that contain dependency values
        $('input[type="radio"]:checked').each(function () {
            const name = $(this).attr('name');
            const value = $(this).val();

            if (value && remainingDependencies.includes(value)) {
                remainingDependencies = remainingDependencies.filter(v => v !== value);
                if (!radios.includes(name)) {
                    radios.push(name);
                }
            }
        });

        // Check the remaining values in dependencies
        for (let val of remainingDependencies) {
            // If the remaining value is in a select not yet selected, return false
            let selectFound = $('select').not(function() {
                return selects.includes($(this).attr('name'));
            }).is(function () {
                return $(this).find('option').toArray().some(option => $(option).val() === val);
            });

            if (selectFound) {
                return false; // If the remaining value is in a select, return false
            }

            // If the remaining value is in a checkbox that was not considered before, return false
            let checkboxFound = $('input[type="checkbox"]').is(function () {
                return $(this).val() === val && !checkboxes.includes($(this).attr('name'));
            });

            if (checkboxFound) {
                return false; // If the remaining value is in a checkbox that was not included, return false
            }

            // If the remaining value is in a radio group not yet selected, return false
            let radioFound = $('input[type="radio"]').is(function () {
                return $(this).val() === val && !radios.includes($(this).attr('name'));
            });

            if (radioFound) {
                return false; // If the remaining value is in a radio group, return false
            }
        }

        return true; // If all dependencies are satisfied, return true
    }


    function disable_dependencies() {
        reset_select = [];

        for (const [key, options] of Object.entries(dependencies)) {
            available = check_dependencies(options);

            // disable selects with that value
            if (available) {
              $('select option[value="' + key + '"]').prop('hidden', false);
              $('#hp_' + key).show();
            } else {
              $('select option[value="' + key + '"]').prop('hidden', true);
              $('#hp_' + key).hide();
            }
            if (!available) {
                // check if there are select with disabled selected value
                $('select').each(function() {
                    var selectedOption = $(this).find('option:selected');
                    if (selectedOption.val() === key) {
                        reset_select.push($(this));
                    }
                });
            }

            // disable checkboxes with that value
            $('input[type="checkbox"][value="' + key + '"]').each(function() {
                if (available) {
                  $(this).closest('div').show();
                  $(this).show();
                  $(this).closest('label').show();
                  $('#hp_' + key).show();
                } else {
                  $(this).hide();
                  $(this).closest('label').hide();
                  $('#hp_' + key).hide();
                  $(this).closest('div').hide();
                }
                if (!available && $(this).is(':checked')) {
                    $(this).prop('checked', false);
                }
            });

            // disable radio options with that value
            $('input[type="radio"][value="' + key + '"]').each(function() {
                if (available) {
                  $(this).closest('div').show();
                  $(this).show();
                  $(this).closest('label').show();
                } else {
                  $(this).hide();
                  $(this).closest('label').hide();
                  $(this).closest('div').hide();
                }
                if (!available && $(this).is(':checked')) {
                    $(this).prop('checked', false);
                }
            });
        }

        $(reset_select).each(function() {
          var $select = $(this);

          // look for first option without value
          var $option = $select.find('option').filter(function() {
            var value = $(this).attr('value');
            return typeof value === 'undefined' || value === '';
          }).first();

          // if does not exist, create it
          if ($option.length === 0) {
            $option = $('<option disabled="disabled" value="">-------</option>');
            $select.prepend($option);
          }

          // select it
          $option.prop('selected', true);
        });

    }

    function check_mandatory() {

        for (var ix = 0; ix < mandatory.length; ix++) {
            var k = mandatory[ix];
            var el = $('#' + k);

            if (el.attr('type') === 'hidden') continue;

            if (el.parent().parent().hasClass('not-required')) continue;

            empty = true;
            if (el.is('input:text')) {
                empty = (!$.trim(el.val()).length);
            } else if (el.is('select')) {
                empty = (!el.val());
            } else if (el.is('textarea')) {
                empty = (!$.trim(el.val()));
            } else if (el.is('div')) {
                empty = (!el.find('input:checked').length)
            }

            el.next('p').remove();
            if (empty) {
                el.after( "<p><b class='form-error' style='color: var(--ter-clr);'>Please select a value</b></p>" );
                window.jump_to('#' + k);
                return false;
            }
        }

        return true;
    }

    });

    </script>
{% endblock js %}
