{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% trans "No organization found" %}</title>
    </head>
    <body>
        <p>{% trans "No organization found" %}</p>
        <p>
            Did you create one with slug <code>def</code>?
            <br />
            Go to <code>http://127.0.0.1:8264/admin/larpmanager/association/</code>
        </p>
        <p>
            Did you make a superuser account?
            <br />
            If not do <code>docker exec -it larpmanager python manage.py createsuperuser</code>
        </p>
    </body>
</html>
