{% extends "base.html" %}
{% load i18n static %}
{% block body_class %}
    error-page
{% endblock body_class %}
{% block title %}
    {% trans "Activate feature" %}
{% endblock title %}
{% block nav %}
{% endblock nav %}
{% block content %}
    {% trans "To use the feature you requested, you need to activate the following feature:" %} {{ feature.name }}
    <br />
    <br />
    {% if permission %}
        {% trans "Do you want to proceed?" %}
        {% if run %}
            <a href="{% url 'activate_feature_event' run.get_slug exe.feature exe.path %}">{% trans "Activate" %}</a>
        {% else %}
            <a href="{% url 'activate_feature_assoc' exe.feature exe.path %}">{% trans "Activate" %}</a>
        {% endif %}
    {% else %}
        {% trans "Ask the organisers to activate it." %}
    {% endif %}
{% endblock content %}
