{% extends "base.html" %}
{% load i18n static %}
{% block body_class %}
    error-page
{% endblock body_class %}
{% block title %}
    {% trans "Redirect" %}
{% endblock title %}
{% block nav %}
{% endblock nav %}
{% block content %}
    {% trans "You have requested a specific page of an organisation, but it is not specified in the address given" %}
    <br />
    <br />
    {% if not assocs %}
        <i>({% trans "Please check the address again, especially its beginning" %})</i>
    {% else %}
        <i>({% trans "Select the organisation to proceed to" %})</i>
        <br />
        <br />
        {% for el in assocs %}
            <a href='https://{{ el.slug }}.{{ request.build_absolute_uri|cut:"https://"|cut:"http://" }}'>{{ el.name }}</a>
            <br />
        {% endfor %}
    {% endif %}
{% endblock content %}
