{% extends "base.html" %}
{% load i18n static %}
{% block body_class %}
    error-page
{% endblock body_class %}
{% block title %}
    {% trans "Event not found" %}
{% endblock title %}
{% block nav %}
{% endblock nav %}
{% block content %}
    {% trans "We could not find the event indicated in the url; perhaps it is one of these?" %}
    <br />
    {% for run in runs %}
        <hr />
        <h3>
            <a href="{% url 'event' run.get_slug %}">{{ run.search }}</a>
        </h3>
    {% endfor %}
{% endblock content %}
