{% extends parent_template|default:"base.html" %}
{% load static i18n show_tags socialaccount %}
{% block title %}
    Login
{% endblock title %}
{% block old %}
    /* for dynamic selection of social account providers */
    {% get_providers as socialaccount_providers %}
    {% for el in socialaccount_providers %}
        {% with prov=el.name|lower %}
            <a href="{% provider_login_url prov %}">
                <img src="{% static 'larpmanager/assets/' %}{{ prov }}_signin.png"
                     alt="social login" />
            </a>
        {% endwith %}
    {% endfor %}
{% endblock old %}
{% block content %}
    <div class="login user_resize">
        {% if association.id == 0 %}
            <p>
                <i>(We ask you to login only to link the new organization to your account, as you will be assigned an administrator role)</i>
            </p>
        {% endif %}
        {% if request.enviro == "prod" %}
            <div class="allauth_signin">
                <a href="{% get_social_login_url 'google' %}">
                    <img src="{% static 'larpmanager/assets/' %}google_signin.png"
                         alt="social login" />
                </a>
            </div>
        {% endif %}
        <!--
<i>The login using the Google account has been temporarily disable due to technical problems, we hope to get it working in few days.</i><br /><br />
<i>In the meantime, you can login with this procedure: (1) perform a password reset, using your google email; (2) login with the new password</i>

-->
        <form method="post">
            {% csrf_token %}
            <table class="mob ">
                {{ form.as_table }}
            </table>
            <input type="submit" class="login_go" value="{% trans "Submit" %}" />
            <p class="registration_register v22_only_mobile">
                {% if request.GET.next %}
                    <a href="{% url 'registration_register' %}?next={{ request.GET.next|urlencode }}">{% trans "Register" %}</a>
                {% else %}
                    <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
                {% endif %}
            </p>
            <p class="password_reset v22_only_mobile">
                <a href="{% url 'password_reset' %}">{% trans "Password reset" %}</a>
            </p>
        </form>
    </div>
{% endblock content %}
{% block js %}
    <script>
$(function(){

    function isMobileNonChrome() {
        const userAgent = navigator.userAgent || navigator.vendor || window.opera;
        const isMobile = /android|iphone|ipad|ipod|opera mini|iemobile|mobile|windows phone/i.test(userAgent);
        const isChrome = /chrome|crios|crmo/i.test(userAgent);
        return isMobile && !isChrome;
    }

    if (isMobileNonChrome()) {
        $('.allauth_signin a').hide();
        $('.allauth_signin').append('<p>To use Google Single Sign On, please use a Chrome browser</p>');
    }

});
    </script>
{% endblock js %}
