{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Password reset" %}
{% endblock title %}
{% block content %}
    <div class="form_container user_resize">
        <p>{% trans "Enter your email below to receive instructions on how to change it:" %}</p>
        <form method="post" action=".">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "Submit" %}" />
        </form>
    </div>
{% endblock content %}
