{% load i18n tz show_tags static %}
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
{% define "" as old_section %}
{% for field in form.visible_fields %}
    {% if field.auto_id in form.sections %}
        {% get_field form.sections field.auto_id as section %}
        {% if section != old_section %}
        </table>
    </div>
    {% if not form.hide_section_headers %}
        <h1>
            <a href="#"
               class="my_toggle section-link"
               tog='sec_{{ section | slugify }}'>
                {{ section | template_trans }}
                <i class="fa-solid fa-chevron-down"></i>
            </a>
        </h1>
    {% endif %}
    <div class="form_container auto_resize {% if not form.show_sections %}hide{% endif %} sec_{{ section | slugify }}">
        {% if section in form.section_descriptions %}
            {% get_field form.section_descriptions section as description %}
            {{ description | safe }}
        {% endif %}
        <table>
            {% define section as old_section %}
        {% endif %}
    {% endif %}
    <tr id="{{ field.auto_id }}_tr"
        {% if field.field.custom_class %}class="{{ field.field.custom_class }}"{% endif %}
        {% if field.field.custom_style %}style="{{ field.field.custom_style }}"{% endif %}>
        <th>
            {% if form.plot_reorder_uuids and field.auto_id in form.plot_reorder_uuids %}
                {% get_field form.plot_reorder_uuids field.auto_id as plot_uuid %}
                <span class="plot-drag-handle"
                      data-plot-uuid="{{ plot_uuid }}"
                      draggable="true"
                      title="{% trans 'Drag to reorder' %}"><i class="fa-solid fa-grip-vertical"></i></span>
            {% endif %}
            {% if form.field_link and field.auto_id in form.field_link %}
                {% get_field form.field_link field.auto_id as link %}
                <a href="{{ link }}">{% include "elements/form/label.html" %}</a>
            {% else %}
                {% include "elements/form/label.html" %}
            {% endif %}
            {% if not form.plot_reorder_uuids or field.auto_id not in form.plot_reorder_uuids %}
                {% if form.ordering_up and field.auto_id in form.ordering_up %}
                    {% get_field form.ordering_up field.auto_id as link %}
                    <a href="{{ link }}" class="trigger_save"> <i class="fa-solid fa-arrow-up"></i></a>
                {% endif %}
                {% if form.ordering_down and field.auto_id in form.ordering_down %}
                    {% get_field form.ordering_down field.auto_id as link %}
                    <a href="{{ link }}" class="trigger_save"> <i class="fa-solid fa-arrow-down"></i></a>
                {% endif %}
            {% endif %}
            {% if form.translate and field.auto_id in form.translate %}
                <br />
                <br />
                <a onclick="return translate('{{ field.auto_id }}');">{% trans "Translate" %}</a>
            {% endif %}
        </th>
        <td>
            {% if field.errors %}{{ field.errors }}{% endif %}
            {% if form.translate and field.auto_id in form.translate %}
                <div class="orig hide">
                    <p>{% trans "Original" %}</p>
                    <div class="plot">{% get_field form.translate field.auto_id %}</div>
                </div>
            {% endif %}
            {% if form.details and field.auto_id in form.details %}
                {% autoescape off %}
                    <div class="plot">{% get_field_show_char form.details field.auto_id run 1 %}</div>
                {% endautoescape %}
            {% endif %}
            {% if form.show_link and field.auto_id in form.show_link %}
                <div class="hide  f_{{ field.auto_id }}">{{ field }}</div>
                <p>
                    <a href="#"
                       class="my_toggle"
                       tog="f_{{ field.auto_id }}"
                       onclick="var s=this.querySelector('.sl-show');var h=this.querySelector('.sl-hide');s.classList.toggle('hide');h.classList.toggle('hide');">
                        <span class="sl-show"><i class="fa-regular fa-eye"></i> {% trans "Show" %}</span>
                        <span class="sl-hide hide"><i class="fa-regular fa-eye-slash"></i> {% trans "Hide" %}</span>
                    </a>
                </p>
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.help_text %}
                <br>
                <div class="helptext">{{ field.help_text | safe }}</div>
            {% endif %}
            {% if field.auto_id in form.max_lengths %}
                {% get_field form.max_lengths field.auto_id as args %}
                {% if args.1 == "m" %}
                    <div class="helptext">
                        {% blocktrans with max=args.0 %}options: <span class="count"></span> / {{ max }}{% endblocktrans %}
                    </div>
                {% else %}
                    <div class="helptext">
                        {% blocktrans with max=args.0 %}text length: <span class="count"></span> / {{ max }}{% endblocktrans %}
                    </div>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
