{% load i18n tz show_tags static %}
{% include "elements/form/load_template.html" %}
{% include "elements/form/informations.html" %}
{% include "elements/form/errors.html" %}
<form action="{{ request.path }}"
      method="post"
      enctype="multipart/form-data"
      id="main_form"
      {% if form.main_class %}class="{{ form.main_class }}"{% endif %}>
    {% csrf_token %}
    {% if frame %}<input type="hidden" name="frame" value="1">{% endif %}
    <div class="form_container auto_resize">
        <table>
            {% include "elements/form/inner.html" %}
        </table>
    </div>
    {% if form.load_form %}
        {% for item in form.load_form %}
            {% with template_name=item|stringformat:"s"|add:".html" %}
                {% include "elements/form/"|add:template_name %}
            {% endwith %}
        {% endfor %}
    {% endif %}
    <div class="form_container auto_resize">
        <input id="form_submit" type="submit" value="{% trans "Confirm" %}">
        {% if add_another and not frame %}
            <br />
            <br />
            <div class="continue">
                <input type="checkbox"
                       id="continue"
                       name="continue"
                       {% if continue_add %}checked{% endif %}>
                <label for="continue">{% trans "After saving, add another" %}</label>
            </div>
        {% endif %}
    </div>
    {% if edit_uuid %}
        <p>{% trans "The form is saved every 30 seconds." %}</p>
    {% endif %}
    {% include "elements/form/delete.html" %}
</form>
