{% load tz show_tags static i18n %}
{% include "elements/form/informations.html" %}
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
{% define "" as old_section %}
<table class="mob">
    {% for field in form.visible_fields %}
        {% if field.auto_id in form.sections %}
            {% get_field form.sections field.auto_id as section %}
            {% if section != old_section %}
            </table>
            {% if old_section != "" %}</div>{% endif %}
        <h1 class="head_{{ section | slugify }}">
            <a href="#"
               class="my_toggle section-link"
               tog='sec_{{ section | slugify }}'>
                {{ section }} <i class="fa-solid fa-chevron-down"></i>
            </a>
        </h1>
        <div class="hide sec_{{ section | slugify }}">
            {% if section in form.section_descriptions %}
                {% get_field form.section_descriptions section as description %}
                {{ description | safe }}
            {% endif %}
            <table class="mob section " section="{{ section | slugify }}">
                {% define section as old_section %}
            {% endif %}
        {% else %}
            {% if old_section != "" %}
            </table>
        </div>
        <table class="mob ">
            {% define "" as old_section %}
        {% endif %}
    {% endif %}
    <tr id="{{ field.auto_id }}_tr">
        <th>
            <label for="{{ field.auto_id }}">{{ field.label }}:</label>
        </th>
        <td>
            {% if field.errors %}{{ field.errors }}{% endif %}
            {% if form.show_link and field.auto_id in form.show_link %}
                <p>
                    <a href="#" class="my_toggle" tog="f_{{ field.auto_id }}">{% trans "Show" %}</a>
                </p>
                <div class="hide  f_{{ field.auto_id }}">{{ field }}</div>
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.help_text %}
                <br>
                <div class="helptext">{{ field.help_text | safe }}</div>
            {% endif %}
            {% if field.auto_id in form.max_lengths %}
                {% get_field form.max_lengths field.auto_id as args %}
                {% if args.1 == "m" %}
                    <div class="helptext">
                        {% blocktrans with max=args.0 %}options: <span class="count"></span> / {{ max }}{% endblocktrans %}
                    </div>
                {% else %}
                    <div class="helptext">
                        {% blocktrans with max=args.0 %}text length: <span class="count"></span> / {{ max }}{% endblocktrans %}
                    </div>
                {% endif %}
            {% endif %}
            {% if field.auto_id in form.profiles %}
                {% get_field form.profiles field.auto_id as profile %}
                <br />
                <br />
                <a href="{{ profile }}" target="_blank">
                    <img src="{{ profile }}" alt="question profile image" />
                </a>
                <br>
                <span class="helptext">{% trans "(click the image to enlarge it)" %}</span>
            {% endif %}
        </td>
    </tr>
    {% if forloop.last %}
    </table>
    {% if old_section != "" %}</div>{% endif %}
{% endif %}
{% endfor %}
