{% load i18n %}
<script>

window['texts'] = {
    'upd': '{% filter escapejs %}{% trans "Your updated registration total is" %}{% endfilter %}',
    'alr': '{% filter escapejs %}{% trans "You have already paid" %}{% endfilter %}',
    'cre': '{% filter escapejs %}{% blocktrans %}{{ credits_name }} to be used:{% endblocktrans %}{% endfilter %}',
    'tok': '{% filter escapejs %}{% blocktrans %}{{ tokens_name }} to be used:{% endblocktrans %}{% endfilter %}',
    'pro': '{% filter escapejs %}{% trans "Your registration will now be saved in provisional status. It will be confirmed when your ticket payment is received." %}{% endfilter %}',
    'payment': {{ payment_feature | yesno:"true,false" }},
    {% if membership_fee == 'bundled' %}
    'mem': '{% filter escapejs %}{% trans "Includes membership fee" %} {{ run.start.year }}: {% endfilter %}',
    'mem_amount': {{ membership_amount }}
    {% endif %}
}
</script>
