{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Warehouse items" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows the warehouse items" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/edit.html" %}
    <table id="inv_items"
           class="go_datatable dot_links"
           no_header_cols="{{ no_header_cols }}">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                {% if optionals.quantity %}
                    <th>{% trans "Quantity" %}</th>
                {% endif %}
                <th>{% trans "Description" %}</th>
                <th>{% trans "Container" %}</th>
                <th>{% trans "Tags" %}</th>
                <th>{% trans "Photo" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td>
                        <a href="{% url 'exe_warehouse_items_edit' el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    {% if optionals.quantity %}
                        <td>
                            {% if el.quantity %}{{ el.quantity }}{% endif %}
                        </td>
                    {% endif %}
                    <td>{{ el.description | truncatechars:200 }}</td>
                    <td>
                        <a href="{% url 'exe_warehouse_containers_edit' el.container.uuid %}">{{ el.container }}</a>
                    </td>
                    <td>
                        {% for tag_uuid, tag_name in el.tags_cached %}
                            <a href="{% url 'exe_warehouse_tags_edit' tag_uuid %}">
                                {% include "elements/comma.html" %}
                                {{ tag_name }}
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if el.photo %}
                            <img src="{{ el.thumb.url }}"
                                 class="inv_photo"
                                 alt="item photo"
                                 style="cursor: pointer"
                                 onclick="openImage('{{ el.photo.url }}')" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="imagePopup">
        <img id="popupImg" src="" alt="popup image" />
    </div>
{% endblock content %}
{% block js2 %}
    <script>
function openImage(url) {
    document.getElementById('popupImg').src = url;
    document.getElementById('imagePopup').style.display = 'flex';
}

document.getElementById('imagePopup').onclick = function() {
    this.style.display = 'none';
};
    </script>
{% endblock js2 %}
