{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Warehouse assignments" %} - {% trans "Organization" %}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="inv_movements" class="go_datatable dot_links">
        <thead>
            <tr>
                <th></th>
                <th></th>
                {% if optionals.quantity %}
                    <th>{% trans "Quantity" %}</th>
                {% endif %}
                <th>{% trans "Item" %}</th>
                <th>{% trans "Notes" %}</th>
                <th>{% trans "Photo" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td>
                        <a href="{% url 'exe_warehouse_movements_edit' el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    {% if optionals.quantity %}
                        <td>
                            {% if el.quantity %}{{ el.quantity }}{% endif %}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'exe_warehouse_items_edit' el.item.uuid %}">{{ el.item }}</a>
                    </td>
                    <td>{{ el.notes }}</td>
                    <td>
                        {% if el.item.photo %}
                            <img src="{{ el.item.thumb.url }}"
                                 class="inv_photo"
                                 alt="item photo"
                                 style="cursor: pointer"
                                 onclick="openImage('{{ el.item.photo.url }}')" />
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'exe_warehouse_movements_delete' el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No external item movements have been created yet. Use the button above to assign warehouse items." %}
        </p>
    {% endif %}
    <div id="imagePopup">
        <img id="popupImg" src="" alt="popup image" />
    </div>
    {% include "elements/table/footer.html" %}
{% endblock content %}
{% block js %}
    <script>
function openImage(url) {
    document.getElementById('popupImg').src = url;
    document.getElementById('imagePopup').style.display = 'flex';
}

document.getElementById('imagePopup').onclick = function() {
    this.style.display = 'none';
};
    </script>
{% endblock js %}
