{% load show_tags i18n %}
{% for fact in sheet_factions %}
    <h2 class="c">{{ fact.name }}</h2>
    {% for idx, question in fact.questions.items %}
        {% if question.typ == 'e' %}
            {% with fact.fields|get:idx as field %}
                {% if field %}
                    {% if screen or question.printable %}
                        <h2 class="c title">{{ question.name }}</h2>
                        <div class="plot">{% show_char field run 1 %}</div>
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% elif question.typ == 'text' %}
            {% if fact.text and show_faction.text %}
                {% if not fact.only_text %}<h2 class="c title">{{ question.name }}</h2>{% endif %}
                <div class="plot">{% show_char fact.text run 1 %}</div>
            {% endif %}
        {% else %}
            {% with fact.fields|get:idx as field %}
                {% if field %}
                    {% if screen or question.printable %}
                        <div class="go-inline">
                            <b>{{ question.name }}:&nbsp;</b>{% get_character_field field options %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endfor %}
