{% load show_tags i18n %}
{% if faction.cover %}
    <img class="faction-logo-cover"
         src="{{ faction.cover }}"
         alt="faction logo" />
{% endif %}
{% if show_faction.teaser %}
    <div class="plot">{% show_char faction.teaser run 1 %}</div>
{% endif %}
{% include "elements/sheet/fields.html" with char=fact %}
<h2>{% trans "Characters" %}</h2>
{% for chnum in faction.characters %}
    {% with chars|get:chnum as el %}
        {% if not el.hide %}
            <div class="gallery single relationships">
                <div class="el">
                    <div class="icon">
                        <img src="{% get_char_profile el %}" alt="character profile" />
                    </div>
                </div>
                <div class="text">
                    <h3>
                        <a href="{% url 'character' run.get_slug el.uuid %}">{{ el.name }}</a>
                    </h3>
                    {% if el.player_uuid %}
                        <div class="go-inline">
                            <p>
                                <b>{% trans "Player:" %} </b> <a href="{% url 'public' el.player_uuid %}">
                                    {% if run.id in all_runs %}
                                        {{ el.player_full }}
                                    {% else %}
                                        {{ el.player }}
                                    {% endif %}
                                </a>
                            </p>
                        </div>
                    {% endif %}
                    {% if el.title and show_character.title %}
                        <div class="go-inline">
                            <b>{{ writing_fields.character.names.title }}: </b> {{ el.title | safe }}
                        </div>
                    {% endif %}
                    {% if el.teaser and show_character.teaser %}
                        <div class="go-inline">
                            <b>{{ writing_fields.character.names.teaser }}: </b> {% show_char el.teaser run 1 %}
                        </div>
                    {% endif %}
                    {% if el.factions %}
                        <div class="go-inline">
                            <b>{% trans "Factions:" %}</b>
                            {% for fnum in el.factions %}
                                {% with factions|get:fnum as g %}
                                    {% if not g.typ == 'g' %}
                                        {% include "elements/comma.html" %}
                                        {{ g.name }}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr class="clear" />
        {% endif %}
    {% endwith %}
{% endfor %}
