{% load show_tags i18n %}
{% if show_addit.print_pdf and not external_access %}
    <p>
        {% trans "Download" %}
        {% if show_full_pdf %}
            <a href="{% url 'character_pdf_sheet' run.get_slug char.uuid %}"
               download>{% trans "complete sheet" %}</a>
            |
        {% endif %}
        <a href="{% url 'character_pdf_sheet_friendly' run.get_slug char.uuid %}"
           download>{% trans "printable sheet" %}</a>
    </p>
    <hr class="clear" />
{% endif %}
