{% load show_tags i18n %}
<span class="hide-screen">{{ event.association }} | {{ event }} | {{ sheet_char.name }}</span>
{% if char.title %}
    <div class="go-inline">
        <span class="hide-screen">|</span>
        <b>{{ writing_fields.character.names.title }}:&nbsp;</b>{{ char.title }}
    </div>
{% endif %}
{% if character.mirror %}
    <div class="go-inline">
        <span class="hide-screen">|</span>
        <b>{% trans "Mirror:" %}&nbsp;</b>
        {% trans "This character represents the true secret identity of another character. You can give a preference to play it, as with other characters. If it is assigned to you, you will automatically be assigned the original character it mirrors." %}
    </div>
{% endif %}
{% if char.player %}
    <div class="go-inline" id="char_player">
        <span class="hide-screen">|</span>
        <b>{% trans "Player:" %}</b><a href="{% url 'public' char.player_uuid %}">
            {% if run.id in all_runs %}
                {{ char.player_full }}
            {% else %}
                {{ char.player }}
            {% endif %}
        </a>
    </div>
    {% if char.pronoun %}
        <div class="go-inline">
            <span class="hide-screen">|</span>
            <b>{% trans "Pronoun:" %}&nbsp;</b>{{ char.pronoun }}
        </div>
    {% endif %}
    {% if char.song %}
        <div class="go-inline">
            <span class="hide-screen">|</span>
            <b>{% trans "Song:" %}&nbsp;</b><a href="{{ char.song }}">{{ char.song }}</a>
        </div>
    {% endif %}
    {% if char.public %}
        <div class="go-inline">
            <span class="hide-screen">|</span>
            <b>{% trans "Public information:" %}&nbsp;</b>{{ char.public }}
        </div>
    {% endif %}
    {% if char.private and check %}
        <div class="go-inline">
            <span class="hide-screen">|</span>
            <b>{% trans "Private:" %}&nbsp;</b>{{ char.private }}
        </div>
    {% endif %}
    {% if approval and check %}
        <div class="go-inline">
            <span class="hide-screen">|</span>
            <b>{% trans "Status:" %}&nbsp;</b><span class="status_{{ character.status }}">{{ character.get_status_display | template_trans }}</span>
        </div>
    {% endif %}
{% else %}
    {% if pref %}
        <div class="go-inline">
            <span class="hide-screen">|</span>
            <b>{% trans "Casting:" %}&nbsp;</b>{% trans "Preferences - Total" %}  {{ pref.0 }} ({% trans "Average" %} {{ pref.1 }})
            {% if pref.0 > 0 %}
                <a href="#" class="my_toggle" tog="chart">{% trans "Graph" %}</a>
                <div class="hide chart">
                    <br />
                    <canvas id="myChart"></canvas>
                    <br />
                    <hr />
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
{% if check %}
    {% if character.mirror_inv %}
        <div class="go-inline" id="char_mirror_inv">
            <span class="hide-screen">|</span>
            <b>{% trans "Mirror:" %}&nbsp;</b>{{ character.mirror_inv }}
        </div>
    {% endif %}
{% endif %}
