{% load show_tags i18n %}
{% if prologues and show_addit.prologue %}
    <h1 class="c">{% trans "Prologues" %}</h1>
    <p>
        {% trans "This is the information with which your character will begin each act. Please do NOT read it before the act to which it refers!" %}
    </p>
    {% for p in sheet_prologues %}
        <h2 class="c">{{ p.data.name }} ({{ p.typ.name }})</h2>
        <div class="plot">{% show_char p.data run 1 %}</div>
        <br />
        <br />
    {% endfor %}
    <hr class="clear" />
{% endif %}
