{% load show_tags i18n %}
{% if features.px %}
    <h2>{% trans "Experience points" %}</h2>
    <table class="mob ">
        <tr>
            <th>{% trans "Total" %}</th>
            <th>{% trans "Used" %}</th>
            <th>{% trans "Available" %}</th>
        </tr>
        <tr>
            <td>{{ character.addit | get:'px_tot' }}</td>
            <td>{{ character.addit | get:'px_used' }}</td>
            <td>{{ character.addit | get:'px_avail' }}</td>
        </tr>
    </table>
    {% if sheet_abilities %}
        <h2>{% trans "Abilities" %}</h2>
        {% for typ, ls in sheet_abilities.items %}
            <h3>{{ typ }}</h3>
            <table class="mob">
                {% for el in ls %}
                    <tr>
                        <th>
                            <h4>
                                {{ el.name }} ({{ el.cost }})
                                {% if undo_abilities and el.uuid in undo_abilities %}
                                    <a href="{% url 'character_abilities_del' run.get_slug character.uuid el.uuid %}"
                                       qtip="{% trans "Remove" %}">
                                        <i class="fa-solid fa-xmark"></i>
                                    </a>
                                {% endif %}
                            </h4>
                        </th>
                        <td>
                            {% if el.get_description %}{{ el.get_description | safe }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
    {% if character.px_delivery_list.count %}
        <h2>{% trans "Deliveries" %}</h2>
        <p>
            {% for el in character.px_delivery_list.all %}
                {% include "elements/comma.html" %}
                {{ el.name }} ({{ el.amount }})
            {% endfor %}
        </p>
        <hr class="clear" />
    {% endif %}
{% endif %}
