{% load show_tags i18n static %}
{% if show_trait %}
    {% for f in sheet_traits %}
        {% if f.rels %}
            <h2 class="c">{{ f.quest.name }} - {{ f.name }}</h2>
            {% for el in f.rels %}
                <div class="gallery single relationships">
                    <div class="el">
                        <div class="icon">
                            <div class="img_cover"
                                 style="background-image:url('{% if el.player_uuid %}{{ el.player_prof }}{% else %}{% static 'larpmanager/assets/blank-avatar.svg' %}{% endif %}')">
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <div class="go-inline">
                            <span class="character-name"><a href="{% url 'character' run.get_slug el.uuid %}">{{ el.name }}</a> </span>
                            {% if el.title %}- <b>{{ el.title }}</b>{% endif %}
                            {% if el.pronoun %}({{ el.pronoun }}){% endif %}
                        </div>
                        {% if el.player_uuid %}
                            <div class="go-inline">
                                <b>{% trans "Player:" %}&nbsp;</b><a href="{% url 'public' el.player_uuid %}">{{ el.player }}</a>
                            </div>
                        {% endif %}
                        <div class="go-inline">
                            {% if el.factions_list %}
                                <b>{% trans "Factions:" %}&nbsp;{{ el.factions_list }}</b>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="clear" />
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
