{% load show_tags i18n %}
{% if rel and show_addit.relationships %}
    <h2 class="c">{% trans "Relationships" %}</h2>
    {% for el in rel %}
        <div class="gallery single relationships">
            <div class="el">
                <div class="icon">
                    <div class="img_cover"
                         style="background-image:url('{% get_char_profile el %}')"></div>
                </div>
            </div>
            <div class="text">
                <div class="go-inline">
                    <span class="character-name"><a href="{% url 'character' run.get_slug el.uuid %}">{{ el.name }}</a> </span>
                    {% if el.title %}- <b>{{ el.title }}</b>{% endif %}
                    {% if el.pronoun %}({{ el.pronoun }}){% endif %}
                    {% if el.player_uuid %}
                        |
                        <b>{% trans "Player:" %}&nbsp;</b><a href="{% url 'public' el.player_uuid %}">{{ el.player }}</a>
                    {% endif %}
                    {% if el.factions_list %}| {{ el.factions_list }}{% endif %}
                </div>
                {% if show_character.teaser and el.teaser %}
                    <div class="plot">{% show_char el.teaser run 1 %}</div>
                {% endif %}
                <div class="plot">{% show_char el.text run 1 %}</div>
            </div>
        </div>
        <hr class="clear" />
    {% endfor %}
{% endif %}
