{% load show_tags i18n %}
{% if rel and show_addit.relationships %}
    <h2 class="c">{% trans "Relationships" %}</h2>
    {% for el in rel %}
        <div class="gallery single relationships">
            <div class="el">
                <div class="icon">
                    <div class="img_cover"
                         style="background-image:url('{% get_char_profile el %}')"></div>
                </div>
                <div class="info">
                    <p class="character-name">
                        <a href="{% url 'character' run.get_slug el.uuid %}">{{ el.name }}</a>
                        {% if el.title %}- <b>{{ el.title }}</b>{% endif %}
                    </p>
                    <p>
                        {% if el.pronoun %}({{ el.pronoun }}){% endif %}
                    </p>
                    {% if el.player_uuid %}
                        <p>
                            <b>{% trans "Player:" %}&nbsp;</b><a href="{% url 'public' el.player_uuid %}">{{ el.player }}</a>
                        </p>
                    {% endif %}
                    {% if el.factions_list %}<p>{{ el.factions_list }}</p>{% endif %}
                </div>
            </div>
            <div class="text">
                {% if show_character.teaser and el.teaser %}
                    <div class="plot rel_teaser">{% show_char el.teaser run 1 %}</div>
                {% endif %}
                <div class="plot">{% show_char el.text run 1 %}</div>
            </div>
        </div>
        <hr class="clear" />
    {% endfor %}
{% endif %}
