{% load show_tags i18n %}
{% if char.teaser and show_character.teaser %}
    <h2 class="c">{{ writing_fields.character.names.teaser }}</h2>
    <div class="plot teaser">{% show_char char.teaser run 1 %}</div>
{% endif %}
{% for fnum in char.factions %}
    {% with factions|get:fnum as fact %}
        {% if not fact.typ == 'g' %}
            {% if show_faction and fact.number %}
                <h2 class="c">
                    <a href="{% url 'faction' run.get_slug fact.uuid %}">{{ fact.name }}</a>
                </h2>
            {% else %}
                <h2>{{ fact.name }}</h2>
            {% endif %}
            {% if fact.teaser and show_faction.teaser %}
                <div class="plot">{% show_char fact.teaser run 1 %}</div>
            {% endif %}
        {% endif %}
    {% endwith %}
{% endfor %}
