{% load show_tags i18n %}
{% for idx, question in char.questions.items %}
    {% if question.typ == 'e' %}
        {% with char.fields|get:idx as field %}
            {% if field %}
                {% if screen or question.printable %}
                    <h2 class="c title">{{ question.name }}</h2>
                    <div class="plot">{% show_char field run 1 %}</div>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% elif question.typ == 'p' and question.visibility == 'e' %}
        {% with char.fields|get:idx as field %}
            {% if field %}
                {% if screen or question.printable %}
                    <h2 class="c title">{{ question.name }}</h2>
                    <div class="plot">{{ field|linebreaksbr }}</div>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% elif question.typ == 'text' %}
        {% if sheet_char.text and show_character.text %}
            <h2 class="c title">{{ question.name }}</h2>
            <div class="plot">{% show_char sheet_char.text run 1 %}</div>
        {% endif %}
    {% endif %}
{% endfor %}
