{% extends "base.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans "Workshops" %}
{% endblock title %}
{% block info %}
    {% trans "Fill out the preparation workshops of the event" %}
{% endblock info %}
{% block content %}
    <div class="user_resize">
        <div class="workshop">
            <p>{% trans "These are the workshops you must complete before you can play." %}</p>
            <div class="no-more-tables">
                <table class="mob">
                    <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for el in list %}
                        <tr>
                            <td>{{ el.name }}</td>
                            <td>
                                {% if el.done %}
                                    <span class="correct">{% trans "Done!" %}</span>
                                {% else %}
                                    <a href="{% url "workshop_answer" slug el.uuid %}">{% trans "To be done" %}</a>
                                {% endif %}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
