{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Ability Templates" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="ability_templates"
           class="go_datatable writing row_reorder"
           data-reorder-url="{% url 'orga_reorder_items' run.get_slug %}"
           data-reorder-model="orga_exp_ability_templates">
        <thead>
            <tr>
                <th></th>
                <th class="reorder-handle"></th>
                <th></th>
                <th>{% trans "Template Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Components" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td class="reorder-handle">
                        <i class="fa-solid fa-grip-vertical"></i>
                    </td>
                    <td>
                        <a href="{% url 'orga_exp_ability_templates_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.get_full_name }}</td>
                    <td>
                        {{ el.descr | safe | clean_tags | truncatechars:80 }}
                        {% if el.descr_ln > 80 %}
                            <a href="#" class="show_popup" pop="{{ el.uuid }}" fie="descr"><i class="fas fa-eye"></i></a>
                            <span class="popup_text descr">
                                <h2>{{ el.get_full_name }}</h2>
                                {% show_char el.descr run 1 %}
                            </span>
                        {% endif %}
                    </td>
                    <td></td>
                    <td>
                        <a href="{% url 'orga_exp_ability_templates_delete' run.get_slug el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No ability templates defined yet. Use the button above to create the first template." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
