{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Modifiers" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block content %}
    {% include "elements/table/header.html" %}
    <table id="modifiers"
           class="go_datatable writing row_reorder"
           data-reorder-url="{% url 'orga_reorder_items' run.get_slug %}"
           data-reorder-model="orga_exp_modifiers">
        <thead>
            <tr>
                <th></th>
                <th class="reorder-handle"></th>
                <th></th>
                <th>{% trans "Abilities" %}</th>
                <th>{% trans "New cost" %}</th>
                <th>{% trans "Prerequisites" %}</th>
                <th>{% trans "Requirements" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td></td>
                    <td class="reorder-handle">
                        <i class="fa-solid fa-grip-vertical"></i>
                    </td>
                    <td>
                        <a href="{% url 'orga_exp_modifiers_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                        {% if el.cached_rels %}
                            {% for ab_uuid, ab_name in el.cached_rels.ability_rels.list %}
                                {% include "elements/comma.html" %}
                                <a href="{% url 'orga_exp_abilities_edit' run.get_slug ab_uuid %}">{{ ab_name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ el.cost }}</td>
                    <td>
                        {% if el.cached_rels %}
                            {% for prereq_uuid, prereq_name in el.cached_rels.prerequisite_rels.list %}
                                {% include "elements/comma.html" %}
                                <a href="{% url 'orga_exp_abilities_edit' run.get_slug prereq_uuid %}">{{ prereq_name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if el.cached_rels %}
                            {% for req_uuid, req_name in el.cached_rels.requirement_rels.list %}
                                {% include "elements/comma.html" %}
                                <a href="{% url 'orga_writing_options_edit' run.get_slug 'character' req_uuid %}">{{ req_name }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'orga_exp_modifiers_delete' run.get_slug el.uuid %}"
                           qtip="{% trans "Delete" %}"
                           class="only_new_v18"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not list %}
        <p class="no-elements-available">
            {% trans "No cost modifiers defined yet. Use the button above to create the first modifier." %}
        </p>
    {% endif %}
    {% include "elements/table/footer.html" %}
{% endblock content %}
